_
.vscode
.idea
.godot
__debug_bin
node_modules
cmd/atlas/atlas
cmd/chart/chart
cmd/chart/chart.dot
cmd/chart/chart.png
cmd/play/play
cmd/serve/serve
cmd/spec/spec
cmd/stem/stem
cmd/tap/tap
cmd/tap/tap.db
www/dist
*.zip
*.go_
_temp
.sconsign.dblite
