_
.vscode
.idea
.godot
.sconsign.dblite
bin/*
!bin/go.mod
__debug_bin
node_modules
cmd/atlas/atlas
cmd/chart/chart
cmd/chart/chart.dot
cmd/chart/chart.png
cmd/doc/doc
cmd/play/play
cmd/serve/serve
cmd/spec/spec
cmd/stem/stem
cmd/tap/tap
cmd/tap/tap.db
doc/.hugo_build.lock
doc/themes
www/dist
*.zip
.DS_Store
