go 1.21

toolchain go1.21.4

use (
	.
	./cmd/tap
)



// so that it will use the local source tree, and not the currently released version.
replace (
	github.com/ionous/tell => ../GitHub/tell
	github.com/ionous/tell/notes => ../GitHub/tell/notes
)
