{ "Spec:with group:": [
  "{{.Group}}", {
  "Group contains:": [
  {{ range $i, $g := .Types }}{{if $i}},{{end}}{
    "--": {{.LiteralComment}},
    "Spec:with {{.Uses}}:{{if .Slots}}slots:{{end}}{{if .OtherGroups}}groups:{{end}}": [
      "{{.Name}}",
      {{- if eq .Uses "flow" -}}
      {{template "flow.tmpl" . -}}
      {{else if eq .Uses "num" -}}
      {{template "num.tmpl" . -}}
      {{else if eq .Uses "slot" -}}
      {{template "slot.tmpl" . -}}
      {{else if eq .Uses "str" -}}
      {{template "str.tmpl" . -}}
      {{else if eq .Uses "swap" -}}
      {{template "swap.tmpl" . -}}
      {{end}}
      {{- if .Slots -}},[
        {{ range $i, $g := .Slots }}{{if $i}},{{end}} "{{$g}}"{{end}}
      ]{{end}}
      {{- if .OtherGroups -}},[
        {{ range $i, $g := .OtherGroups }}{{if $i}},{{end}} "{{$g}}"{{end}}
      ]{{end}}
  ]}
  {{end}}]}
]}