{
	"flow{{if .Flow}}:{{else}} {{end -}}
	     {{if .Phrase}}phrase:{{end -}}
	     {{if .Trim}}trim:{{end -}}
	     uses:": [
{{- if .Flow}}"{{.Flow}}", {{end}}
{{- if .Phrase}}"{{.Phrase}}", {{end}}
{{- if .Trim}}true, {{end}}
{{- if or .Flow .Phrase .Trim }}[{{end}}
{{ range $i, $v := .Terms }}{{if $i}},{{end}}
			{
				"Term:
				{{- if .Labeled}}name:{{end -}}
				{{- if .Typed}}type:{{end -}}
				{{- if .Private}}private:{{end -}}
				{{- if .Optional}}optional:{{end -}}
				{{- if .Repeats}}repeats:{{end -}}
				":
			{{- if or .Labeled .Typed .Private .Optional .Repeats}}[{{end -}}
				{{- if .Labeled}}"{{.Label}}",{{end -}}
				"{{.Name}}"
				{{- if .Typed}},"{{.Type}}"{{end -}}
				{{- if .Private}},true{{end -}}
				{{- if .Optional}},true{{end -}}
				{{- if .Repeats}},true{{end -}}
			{{- if or .Labeled .Typed .Private .Optional .Repeats}}]{{end -}}
			}
{{ end }}
{{- if or .Flow .Phrase .Trim }}]{{end}}
	]
}