{
	"Str {{if .Exclusive}}exclusively:{{end}}uses:": [
		{{- if .Exclusive}}true, [{{end}}
			{{- range $i, $opt := .Options}}{{if $i}}, {{end}}{
				"Option:{{if $opt.Labeled}}label:{{end -}}
				": {{if $opt.Labeled}}[{{end}}"{{$opt.Name}}"{{if $opt.Labeled}}, "{{$opt.Label}}"{{end}}
				{{- if $opt.Labeled}}]{{end}}
			}{{end}}
		{{- if .Exclusive}}]{{end}}
	]
}