{
	"Swap between:": [
{{range $i, $pick := .Picks}}{{if $i}}, {{end}}
		{
			"Pick:
			{{- if $pick.Labeled}}label:{{end -}}
			{{- if $pick.Typed}}type:{{end -}}
			": {{if or $pick.Labeled $pick.Typed}}[{{end}}"{{$pick.Name}}"
	        {{- if $pick.Labeled}}, "{{$pick.Label}}"{{end}}
	        {{- if $pick.Typed}}, "{{$pick.Type}}"{{end}}
	     {{- if or $pick.Labeled $pick.Typed}}]{{end}}
    }
{{end}}
	]
}