{
  "Tapestry:": [
    {
      "Test:withScene:do:": [
        "testing",
        [
          {
            "Define nouns:as:": [
              "Hershel",
              "an actor"
            ]
          },
          {
            "Define nouns:as:": [
              "the scissors",
              "things"
            ]
          },
          {
            "Declare:": "Hershel is carrying the scissors."
          }
        ],
        []
      ]
    },
    {
      "Define phrase:asMacro:": [
        "carrying",
        "carrying something"
      ]
    },
    {
      "Define macro:requires:provides:do:": [
        "carrying something",
        [
          {
            "Text:": "actor"
          },
          {
            "TextList:": "carries"
          }
        ],
        {
          "Text:": "error"
        },
        [
          {
            "Define nouns:as:": [
              {
                "List ofText:": [
                  "@actor"
                ]
              },
              "actor"
            ]
          },
          {
            "Define nouns:as:": [
              "@carries",
              "thing"
            ]
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "@carries",
              {
                "List ofText:": [
                  "@actor"
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "Define kinds:as:": [
        "Objects",
        "kind"
      ]
    },
    {
      "Define kinds:as:": [
        "Actors",
        "thing"
      ]
    },
    {
      "Define kinds:as:": [
        "Things",
        "object"
      ]
    },
    {
      "Define kind:fields:": [
        "Objects",
        [
          {
            "Aspect:": "noun types"
          }
        ]
      ]
    },
    {
      "Define relation:cardinality oneToMany:": [
        "whereabouts",
        {
          "OneToMany:kinds:": [
            "object",
            "objects"
          ]
        }
      ]
    },
    {
      "Define traits:as:": [
        [
          "common named",
          "proper named",
          "counted"
        ],
        "noun types"
      ]
    }
  ]
}
