
/** slots and terms header **/
h4 {
  display: inline;
}

.commandSlots  {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.commandSlots li {
  display: inline;
}

.commandSlots li::after {
  content: ", ";
}
.commandSlots  li:last-child::after {
  content: "";
}

/** idl index list **/
.indexList {
  list-style: none;
}

/** str types **/ 
ul.optionsList li {
    display: inline;
}
ul.optionsList li::after {
  content: ",";
}
ul.optionsList li:last-child::before {
  content: "and";
}
ul.optionsList li:last-child::after {
  content: ".";
}
