/* Global customization */
/* https://geekdocs.de/features/theming/#color-scheme */

/* Light mode theming */
:root,
:root[color-theme="light"] {
  --accent-color-lite: white;
  --link-color: #518169;
  --link-color-visited: #518169;
}

:root[color-theme="dark"] {
    --link-color: #6ea8d4;
    --link-color-visited: #6ea8d4;
}

@media (prefers-color-scheme: light) {
  :root {   
    --accent-color-lite: white;
    --link-color: #518169;
    --link-color-visited: #518169;
  }
}
@media (prefers-color-scheme: dark) {
  :root {   
    --link-color: #6ea8d4;
    --link-color-visited: #6ea8d4;
  }
}

