/* Global customization */
/* https://geekdocs.de/features/theming/#color-scheme */

/* Light mode theming */
:root,
:root[color-theme="light"] {
  --accent-color-lite: inherit;
  --link-color-visited:var(--link-color);
}

:root[color-theme="dark"] {
 --accent-color-lite: inherit;
 --link-color-visited: var(--link-color);
}

@media (prefers-color-scheme: light) {
  :root {   
    --accent-color-lite: inherit;
    --link-color-visited: var(--link-color);
  }
}
@media (prefers-color-scheme: dark) {
  :root {   
    --accent-color-lite: inherit;
    --link-color-visited: var(--link-color);
  }
}

.gdoc-markdown table:not(.lntable):not(.highlight) tr { 
  border-top: 1.5px solid var(--accent-color);
}

div.active > h3::before { 
  content: '> ';
  padding-right: 1rem;
}