@import 'normalize.css';

html, body { 
  height: 100%;
}

.mk-app {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 2rem auto;
  grid-gap: 0px 10px;
  height: 100%;
  margin: 5px;
  font-family: sans-serif;
  grid-template-areas: 
    "header tools"
    "sidebar editor"
}

/* unused right now.
.mk-app--nosidebar {
  grid-template-areas: 
    "header tools"
    "editor editor"
    "context context";
}*/

/**
 * mk-blockly
 */
.mk-blockly {
  grid-area: editor;
  /*background-color: red;*/
}

.mk-tools {
  grid-area: tools;
  /*background-color: red;*/
}

.mk-header {
  grid-area: header;
  /*background-color: red;*/
}
.mk-header h1 {
  margin: 0;
  font-family: monospace;
}

/**
 * mk-catalog
 */
.mk-catalog {
  grid-area: sidebar;
  overflow-y: auto;
}
.mk-folder-ctrl {
  list-style-type: none;
  padding-inline-start: 0px;
}
.mk-file-item__button::before {
   content: "\1F4C4";
   font-size: smaller;
   padding-right: 3px;
}
.mk-folder-item__button--closed::before {
   content: "\1F4C1"; 
   padding-right: 3px;
}
.mk-folder-item__button--open::before {
   content: "\1F4C2"; 
   padding-right: 3px;
}
.mk-cat-button  {
  display: block;
}
.mk-cat-button:hover {
  /*background-color: white;*/
  color: #0366d6;
  cursor: pointer;
}