{"Tapestry:":[{"Test:do:":["factorial",[{"Expect:":{"Cmp:is:num:":[6,"equal_to",{"Factorial num:":{"FromNumber:":3}}]}}]]},{"Define pattern:requires:provides:do:":["factorial",[{"--":"just one argument, a number called 'num'","Number:":"num"}],[{"--":"the result uses the same variable as the pattern input does","Number:":"num"}],[{"--":"by default, return one","Set:value:":["@num",{"FromNumber:":1}]}]]},{"Define rule:do:":["factorial",[{"If:do:":[{"--":"above zero, subtract one","Cmp:is:num:":["@num","greater_than",0]},[{"Set:value:":["@num",{"FromNumber:":{"Mul:by:":["@num",{"Dec:by:":["@num",1]}]}}]}]]}]]}]}