{"Tapestry:":[{"Test:do:":["factorial",[{"Expect:":{"Cmp:is:num:":[6,"equal_to",{"Factorial num:":{"FromNumber:":3}}]}}]]},{"Define pattern:requires:result:withRules:":["factorial",[{"--":"just one argument, a number called 'num'","Number:":"num"}],{"--":"the result uses the same variable as the pattern input does","Number:":"num"},[{"--":"rules within a set of rules are evaluated top to bottom","PatternRule:do:":[{"--":"so, when we've reached 0...","Cmp:is:num:":["@num","equal_to",0]},[{"Set:from:":["@num",{"FromNumber:":1}]}]]},{"PatternRule:do:":[{"Always":true},[{"Set:from:":["@num",{"FromNumber:":{"Mul:by:":["@num",{"Dec:by:":["@num",1]}]}}]}]]}]]}]}