const (
{{- range $i, $opt := .Options }}
  Zc_{{Pascal $.Name}}_{{Pascal $opt}} = "{{$opt}}"
{{- end }}
)

// {{.Name}}, a type of str enum.
var Zt_{{Pascal .Name}} = typeinfo.Str{
	Name: "{{.Name}}",
	Options: []string{
	{{- range $i, $opt := .Options }}
		Zc_{{Pascal $.Name}}_{{Pascal $opt}},
	{{- end }}
	},
	{{- template "markup.tmpl" .}}
}
