// {{.Name}}, a type of str enum.
const Z_{{Pascal .Name}}_Type = "{{.Name}}"

const (
{{- range $i, $opt := .Options }}
  W_{{Pascal $.Name}}_{{Pascal $opt}} = "{{$opt}}"
{{- end }}
)

var Z_{{Pascal .Name}}_Info = typeinfo.Str{
	Name: Z_{{Pascal .Name}}_Type,
	Options: []string{
{{- range $i, $opt := .Options }}
{{if $i}}, {{end}}W_{{Pascal $.Name}}_{{Pascal $opt}}
{{- end }}
},
}
