// package listing of type data
var Z_Types = typeinfo.TypeSet{
	Name:  "{{.Name}}",
{{- range .Types }}{{ if .List }}
	{{Pascal .Type}}:  z_{{.Type}}_list,
{{- end }}{{ end }}
{{- if .Signatures }}
	Signatures: z_signatures,
{{- end }}
}
{{- range .Types }}{{ if .List }}
{{ template "types.tmpl" . }}
{{- end }}{{ end }}
{{- if .Signatures }}
// a list of all command signatures
// ( for processing and verifying story files )
var z_signatures = map[uint64]typeinfo.Instance{
{{- range .Signatures }}
  {{.Hash}}: (*{{Pascal .Type}})(nil), /* {{.Sig}} */
{{- end }}
}
{{- end }}
