
{{/* ------------------------------------------ 
  expects text.
  names are prefixed with tilde so that they don't match in autocomplete.
   ------------------------------------------ */}}
{{- define "ref" }}
{ "$ref": "#/$defs/~{{ . }}" }
{{- end }}

{{/* ------------------------------------------ 
  expects sigTerm,
  sublime and vscode hovers look better without title.
  we already know what we're hovering.
  golsp seems not to use the title either.
   ------------------------------------------ */}}
{{- define "titledesc" -}}
  "description": "{{ .SchemaComment }}",
  "markdownDescription": "{{ .SchemaComment }}"
{{- end }}

{{/* ------------------------------------------ 
  expects sigTerm
   ------------------------------------------ */}}
{{- define "typedesc" -}}
\n\n---\n{{/* */ -}}
{{ .Signature }}\n{{/* */ -}}
```yaml\n{{/* */ -}}
{{ range .Terms -}}
- {{ .SimpleLabel }}: {{ Pascal .Type -}}
{{ if .Repeats }}...{{ end }}\n{{/* */ -}}
{{ end -}}
```\n{{/* */ -}}
{{- end }}

{{/* ------------------------------------------ 
  expects slice of TypeLink
   ------------------------------------------ */}}
{{- define "typelinks" -}}
Types: {{ range $idx, $t := . -}}
{{- if $idx }}, {{ end -}}
[{{ Pascal .Type }}]({{ .Link }})
{{- end -}}
{{- end -}}

{{/* ------------------------------------------ */}}
{
  {{/* redhat yaml-language-server and vscode idxelf use draft 7 */}}
  "$schema": "https://json-schema.org/draft-07/schema",
  "$id": "https://tapestry.ionous.net/schema/tell/v1",
  {{ template "titledesc" . }}, 
  {{- /* the top level is an array of story statements*/}}
  "type": [
  "array",
  "null"
  ],
  "items": {
    "$ref": "#/$defs/~story_statement"
  },
  "$defs": {
    {{ range .Slot }} {{/*a map of SlotList */}}      
    "~{{.Name}}": {
        {{ template "titledesc" . }},
        "oneOf": [
        {{/* manually add shortcuts */}}
          {{ if eq .Name "text_eval" }}
          {
            "type": "string"
          },
          {{ else if eq .Name "number_eval" }}
           {
            "type": "number"
          },
          {{ else if eq .Name "bool_eval" }}
           {
            "type": "boolean"
          },
          {{ end }}
          {{- range $idx, $t := .Types -}}
            {{- if $idx }},{{ end }}
            {{ template "ref" $t -}}
          {{ end }}
        ]
      },
    {{- end }}{{/* slot */}}
    {{ range  .Str }}
    "~{{.Name}}": {
        {{ template "titledesc" . }},
        "type": "string"
      },
    {{ end }}{{/* str */}}
    {{ range .Num }}
    "~{{.Name}}": {
        {{ template "titledesc" . }},
        "type": "number"
      },
    {{ end }}{{/* num */}}
    {{ range $op := .Flow }}
      "~{{.Name}}": {
        "type": "object",
        "oneOf": [
        {{- range $idx, $sigTerm := .Signatures -}}
          {{- if $idx }},{{ end }}
            {
            "required": [
              "{{ .TrimmedSignature }}"
            ],
            "properties": {
              "{{ .TrimmedSignature }}": {
                "description": "{{ $op.SchemaComment }}",
                "markdownDescription": 
                "{{ $op.SchemaComment }}{{ 
                  template "typedesc" . }}{{
                  template "typelinks" .TypeLinks }}",
                "type": 
                {{- if not .Terms }}
                  "null"
                {{- else }}
                  "array",
                  "additionalItems": false,
                  "items": [
                  {{- range $it, $term:= .Terms -}}
                    {{- if $it }},{{ end }}
                    {{ template "ref" (print $op.Name "." .Name) }}
                  {{ end }}
                  ]
                {{- end }}{{/* if not terms */}}
              } 
            }
          }
        {{ end }}{{/* range Signatures */}}
        ]
      },
      {{/* 
        per flow terms
        */}}
      {{- range .Terms -}}
      {{ if not .Private }}
        "~{{ $op.Name }}.{{ .Name }}":
        {
        {{- if not .Repeats }}
          "$ref": "#/$defs/~{{ .Type }}",
        {{- else }}
         "type": "array",
         "additionalItems": false,
         {{ template "titledesc" . }}, 
         "items": [
           {{ template "ref" .Type }}
          ],
        {{- end }}{{/* term repeats */}}
         "description": "{{ .SchemaComment }}",
         "markdownDescription": 
          "{{ .SchemaComment 
          }}\n\nType: [{{ Pascal .Type }}]({{ .Link }})"
        },
      {{ end }}
      {{ end }}{{/* range terms */}}
    {{ end }}{{/* flow */}}
    "xxx_eat_the_trailing_comma": {}
  }{{/* defs */}}
}
