// {{.Name}}, a type of slot.
var Zt_{{Pascal .Name}} = typeinfo.Slot{
	Name: "{{.Name}}",
	{{- template "markup.tmpl" .}}
}

// holds a single slot
// FIX: currently provided by the spec 
type FIX_{{Pascal .Name}}_Slot struct { Value {{Pascal .Name}} }

// implements typeinfo.Inspector for a single slot.
func (*FIX_{{Pascal .Name}}_Slot) Inspect() typeinfo.T {
	return &Zt_{{Pascal .Name}}
}

// holds a slice of slots
type {{Pascal .Name}}_Slots []{{Pascal .Name}}

// implements typeinfo.Inspector for a series of slots.
func (*{{Pascal .Name}}_Slots) Inspect() typeinfo.T {
	return &Zt_{{Pascal .Name}}
}
