// {{.Name}}, a type of slot.
const Z_{{Pascal .Name}}_Name = "{{.Name}}"

var Z_{{Pascal .Name}}_T = typeinfo.Slot{
	Name: Z_{{Pascal .Name}}_Name,
	{{- template "markup.tmpl" .}}
}

// holds a single slot
// FIX: currently provided by the spec 
type FIX_{{Pascal .Name}}_Slot struct { Value {{Pascal .Name}} }

// implements typeinfo.Inspector for a single slot.
func (*FIX_{{Pascal .Name}}_Slot) Inspect() typeinfo.T {
	return &Z_{{Pascal .Name}}_T
}

// holds a slice of slots
type {{Pascal .Name}}_Slots []{{Pascal .Name}}

// implements typeinfo.Inspector for a series of slots.
func (*{{Pascal .Name}}_Slots) Inspect() typeinfo.T {
	return &Z_{{Pascal .Name}}_T
}
