{
  "Tapestry:": [
    {
      "Define noun:kind:": [
        "cabin",
        "rooms"
      ]
    },
    {
      "--": ""
    },
    {
      "Define relative:nouns:otherNouns:": [
        "contains",
        "cabin",
        "glass case"
      ]
    },
    {
      "Define relative:nouns:otherNouns:": [
        "In", "glass case", "collection of fishing rods"
      ]
    },
    {
      "Define noun:states:": [
        "case",
        [
          "closed",
          "transparent",
          "lockable",
          "locked"
        ]
      ]
    },
    {
      "Define noun:states:": [
        "case",
        "scenery"
      ]
    },
    {
      "Define relative:nouns:otherNouns:": [
        "unlocks",
        "small silver key",
        "case"
      ]
    },
    {
      "Define relative:nouns:otherNouns:": [
        "is in",
   	    "bench",
        "cabin"
      ]
    },
    {
      "Define relative:nouns:otherNouns:": [
        "On", "beach", "blue vinyl cushions"
      ]
    },
    {
      "Define noun:states:": [
        "bench",
        [
          "enterable",
          "scenery"
        ]
      ]
    },
    {
      "Define noun:states:": [
        "cushions",
        "scenery"
      ]
    }
  ]
}
