{
  "Tapestry:": [
    {
      "Define nouns:as:": [
        "the cabin",
        "a room"
      ]
    },
    {
      "--": ""
    },
    {
      "Define relative:nouns:otherNouns:": [
        "contains",
        "the cabin",
        "a glass case"
      ]
    },
    {
      "Define relative:nouns:otherNouns:": [
        "In", "the glass case", "a collection of fishing rods"
      ]
    },
    {
      "Define nouns:traits:": [
        "the case",
        [
          "closed",
          "transparent",
          "lockable",
          "locked"
        ]
      ]
    },
    {
      "Define nouns:traits:": [
        "the case",
        "scenery"
      ]
    },
    {
      "Define relative:nouns:otherNouns:": [
        "unlocks",
        "the small silver key",
        "the case"
      ]
    },
    {
      "Define relative:nouns:otherNouns:": [
        "is in",
   	    "the bench",
        "the cabin"
      ]
    },
    {
      "Define relative:nouns:otherNouns:": [
        "On", "the beach", "some blue vinyl cushions"
      ]
    },
    {
      "Define nouns:traits:": [
        "the bench",
        [
          "enterable",
          "scenery"
        ]
      ]
    },
    {
      "Define nouns:traits:": [
        "the cushions",
        "scenery"
      ]
    }
  ]
}
