{
  "Story:": [
    {
      "Nouns:depict:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "cabin"
              }
            ]
          }
        ],
        {
          "Kind:named:": [
            "isa",
            "room"
          ]
        }
      ]
    },
    {
      "--": ""
    },
    {
      "Nouns:relateTo:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "cabin"
              }
            ]
          }
        ],
        {
          "NounRelation relation:otherNouns:": [
            "contains",
            [
              {
                "Noun:named:": [
                  "a",
                  {
                    "Noun:": "glass case"
                  }
                ]
              }
            ]
          ]
        }
      ]
    },
    {
      "RelativeToNoun:nouns:areBeing:otherNouns:": [
        "In",
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "glass case"
              }
            ]
          }
        ],
        "is",
        [
          {
            "Noun:named:": [
              "a",
              {
                "Noun:": "collection of fishing rods"
              }
            ]
          }
        ]
      ]
    },
    {
      "Nouns:startAs:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "case"
              }
            ]
          }
        ],
        {
          "NounTraits:trait:": [
            "is",
            [
              "closed",
              "transparent",
              "lockable",
              "locked"
            ]
          ]
        }
      ]
    },
    {
      "Nouns:startAs:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "case"
              }
            ]
          }
        ],
        {
          "NounTraits:trait:": [
            "is",
            [
              "scenery"
            ]
          ]
        }
      ]
    },
    {
      "Nouns:relateTo:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "small silver key"
              }
            ]
          }
        ],
        {
          "NounRelation relation:otherNouns:": [
            "unlocks",
            [
              {
                "Noun:named:": [
                  "the",
                  {
                    "Noun:": "case"
                  }
                ]
              }
            ]
          ]
        }
      ]
    },
    {
      "Nouns:relateTo:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "bench"
              }
            ]
          }
        ],
        {
          "NounRelation areBeing:relation:otherNouns:": [
            "is",
            "in",
            [
              {
                "Noun:named:": [
                  "the",
                  {
                    "Noun:": "cabin"
                  }
                ]
              }
            ]
          ]
        }
      ]
    },
    {
      "RelativeToNoun:nouns:areBeing:otherNouns:": [
        "On",
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "bench"
              }
            ]
          }
        ],
        "are",
        [
          {
            "Noun:named:": [
              "some",
              {
                "Noun:": "blue vinyl cushions"
              }
            ]
          }
        ]
      ]
    },
    {
      "Nouns:startAs:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "bench"
              }
            ]
          }
        ],
        {
          "NounTraits:trait:": [
            "is",
            [
              "enterable",
              "scenery"
            ]
          ]
        }
      ]
    },
    {
      "Nouns:startAs:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "cushions"
              }
            ]
          }
        ],
        {
          "NounTraits:trait:": [
            "are",
            [
              "scenery"
            ]
          ]
        }
      ]
    }
  ]
}
