[
  [
    {
      "Pattern:requires:returns:": [
        "state change",
        {
          "PatternRequires:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            },
            {
              "Text named:of:": [
                "noun",
                "thing"
              ]
            },
            {
              "Text named:": "trait"
            },
            {
              "Text named:": "guard"
            },
            {
              "Text named:": "change"
            }
          ]
        },
        {
          "PatternResult:": {
            "Bool named:": "success"
          }
        }
      ]
    }
  ],
  [
    {
      "Listen kinds:handlers:": [
        "things",
        [
          {
            "With:event:rules:": [
              "while",
              "state change",
              {
                "PatternRules:": [
                  {
                    "PatternRule:hook activity:": [
                      "Always",
                      {
                        "Act:": [
                          {
                            "If:from:and:do:else:": [
                              "resp",
                              {
                                "FromTxt:": {
                                  "Determine:arguments:": [
                                    "state changing",
                                    {
                                      "Args:": [
                                        {
                                          "Arg:from:": [
                                            "noun",
                                            "@noun"
                                          ]
                                        },
                                        {
                                          "Arg:from:": [
                                            "trait",
                                            "@trait"
                                          ]
                                        },
                                        {
                                          "Arg:from:": [
                                            "guard",
                                            "@guard"
                                          ]
                                        },
                                        {
                                          "Arg:from:": [
                                            "change",
                                            "@change"
                                          ]
                                        }
                                      ]
                                    }
                                  ]
                                }
                              },
                              {
                                "Not:": {
                                  "Is empty:": "@resp"
                                }
                              },
                              {
                                "Act:": [
                                  {
                                    "Say:": "@resp"
                                  },
                                  {
                                    "Let:be:": [
                                      "success",
                                      {
                                        "FromBool:": false
                                      }
                                    ]
                                  }
                                ]
                              },
                              {
                                "ElseDo:": {
                                  "Act:": [
                                    {
                                      "Comment:": "nothing has stopped us, so lets change the state now."
                                    },
                                    {
                                      "Put obj:trait:": [
                                        "@noun",
                                        "@trait"
                                      ]
                                    },
                                    {
                                      "Let:be:": [
                                        "success",
                                        {
                                          "FromBool:": true
                                        }
                                      ]
                                    }
                                  ]
                                }
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    }
  ],
  [
    {
      "Listen kinds:handlers:": [
        "things",
        [
          {
            "With:event:rules:": [
              "after",
              "state change",
              {
                "PatternRules:": [
                  {
                    "PatternRule:hook activity:": [
                      "Always",
                      {
                        "Act:": [
                          {
                            "Say:": {
                              "Response:text:": [
                                "something changed iteself",
                                {
                                  "RenderTemplate:": "{The: .noun|capitalize!} {are!} {.trait}."
                                }
                              ]
                            }
                          },
                          {
                            "Let:be:": [
                              "success",
                              {
                                "FromBool:": true
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "PatternRule:hook activity:": [
                      {
                        "Determine:arguments:": [
                          "isPlayer",
                          {
                            "Args:": [
                              {
                                "Arg:from:": [
                                  "obj",
                                  {
                                    "FromTxt:": "@actor"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "Act:": [
                          {
                            "Say:": {
                              "Response:text:": [
                                "the player changed something",
                                {
                                  "RenderTemplate:": "{We!|capitalize!} {.change} {the: .noun}."
                                }
                              ]
                            }
                          },
                          {
                            "Let:be:": [
                              "success",
                              {
                                "FromBool:": true
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    }
  ],
  [
    {
      "Pattern:requires:returns:": [
        "state changing",
        {
          "PatternRequires:": [
            {
              "Text named:of:": [
                "noun",
                "object"
              ]
            },
            {
              "Text named:desc:": [
                "trait",
                "the trait we're changing to"
              ]
            },
            {
              "Text named:desc:": [
                "guard",
                ", a trait which blocks the noun from changing"
              ]
            },
            {
              "Text named:desc:": [
                "change",
                "which describes the action"
              ]
            }
          ]
        },
        {
          "PatternResult:": {
            "Text named:": "result"
          }
        }
      ]
    },
    {
      "Comment:": "Called from the state change event to attempt to change the state. "
    },
    {
      "Pattern:rules:": [
        "state changing",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Get obj:trait:": [
                    "@noun",
                    "@trait"
                  ]
                },
                {
                  "Act:": [
                    {
                      "Comment:": "can't change what is."
                    },
                    {
                      "Let:be:": [
                        "result",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't change what is",
                              {
                                "RenderTemplate:": "{They: .noun|capitalize!} {are!} already {.trait}."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Not:": {
                        "Is empty:": "@guard"
                      }
                    },
                    {
                      "Not:": {
                        "Get obj:trait:": [
                          "@noun",
                          "@guard"
                        ]
                      }
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Comment:": "can't change the unchangeable."
                    },
                    {
                      "Let:be:": [
                        "result",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't change the unchangeable",
                              {
                                "RenderTemplate:": "{They: .noun|capitalize!} {arent!} something {we!} can {.change}."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
]
