{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "activate",
        "activating",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "activating",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:do:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:do:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "activating"
                          },
                          {
                            "FromText:": "@noun"
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Print:": "@resp"
                      }
                    ],
                    {
                      "Else do:": [
                        {
                          "If:from:and:do:else:": [
                            "resp",
                            {
                              "FromText:": {
                                "CanUse actor:action:noun:": [
                                  {
                                    "FromText:": "@actor"
                                  },
                                  {
                                    "FromText:": "activating"
                                  },
                                  {
                                    "FromText:": "@noun"
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            [
                              {
                                "Print:": "@resp"
                              }
                            ],
                            {
                              "Else do:": {
                                "StateChanging noun:actor:trait:guard:change:": [
                                  {
                                    "FromText:": "@noun"
                                  },
                                  {
                                    "FromText:": "@actor"
                                  },
                                  {
                                    "FromText:": "activated"
                                  },
                                  {
                                    "FromText:": "activatable"
                                  },
                                  {
                                    "FromText:": "switch on"
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Event:action:args common:": [
        "deactivate",
        "deactivating",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "deactivating",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:do:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:do:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "deactivating"
                          },
                          {
                            "FromText:": "@noun"
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Print:": "@resp"
                      }
                    ],
                    {
                      "Else do:": [
                        {
                          "If:from:and:do:else:": [
                            "resp",
                            {
                              "FromText:": {
                                "CanUse actor:action:noun:": [
                                  {
                                    "FromText:": "@actor"
                                  },
                                  {
                                    "FromText:": "deactivating"
                                  },
                                  {
                                    "FromText:": "@noun"
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            [
                              {
                                "Print:": "@resp"
                              }
                            ],
                            {
                              "Else do:": {
                                "StateChanging noun:actor:trait:guard:change:": [
                                  {
                                    "FromText:": "@noun"
                                  },
                                  {
                                    "FromText:": "@actor"
                                  },
                                  {
                                    "FromText:": "deactivated"
                                  },
                                  {
                                    "FromText:": "activatable"
                                  },
                                  {
                                    "FromText:": "switch off"
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Declare:": "Devices are a kind of prop."
    },
    {
      "Define kind:fields:": [
        "Devices",
        [
          {
            "Aspect:": "activatability"
          },
          {
            "Aspect:": "activation"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Declare:": "Activatability is a kind of aspect."
    },
    {
      "Define traits:as:": [
        [
          "activatable",
          "not activatable"
        ],
        "activatability"
      ]
    },
    {
      "Declare:": "Activation is a kind of aspect."
    },
    {
      "Define traits:as:": [
        [
          "deactivated",
          "activated"
        ],
        "activation"
      ]
    }
  ]
}
