{
  "Tapestry:": [
    {
      "TestScene:requires:story:": [
        "activating test",
        "Kitchenette",
        []
      ]
    },
    {
      "TestStatement:test:": [
        "activating test",
        {
          "TestOutput:": [
            "The control status: deactivated.",
            "You switch on the espresso controls.",
            "The control status: activated.",
            "You switch off the espresso controls.",
            "The control status: deactivated.",
            "Try to activate a regular object.",
            "It isn't something you can switch on.",
            ""
          ]
        }
      ]
    },
    {
      "TestRule:does:": [
        "activating test",
        [
          {
            "Say:": {
              "RenderTemplate:": "The control status: {.controls.activation}."
            }
          },
          {
            "Activating agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "controls"
              }
            ]
          },
          {
            "Say:": {
              "RenderTemplate:": "The control status: {.controls.activation}."
            }
          },
          {
            "Deactivating agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "controls"
              }
            ]
          },
          {
            "Say:": {
              "RenderTemplate:": "The control status: {.controls.activation}."
            }
          },
          {
            "Say:": {
              "RenderTemplate:": "Try to activate a regular object."
            }
          },
          {
            "Activating agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "knife"
              }
            ]
          },
          {
            "Comment:": "we don't need to test the whole state changing algorithm; that's shared and tested elsewhere. We just need to test that the engine knows about activation and deactivation."
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:story:": [
        "activating test",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "knife"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:": "self"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "espresso controls"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "area",
                  "device"
                ]
              },
              [
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "kitchen"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
