{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "activating test",
        "Kitchenette",
        [
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "the knife",
              "self"
            ]
          },
          {
            "--": ""
          },
          {
            "Define nouns:as:relativeTo:otherNouns:": [
              "the espresso controls",
              "a device",
              "whereabouts",
              "the kitchen"
            ]
          }
        ],
        [
          {
            "Comment:": [
              "This tests that the standard library has properly described activation and deactivation states.",
              "The state changing algorithm used by all states happens at the engine level and gets tested there."
            ]
          },
          {
            "Say:": "The controls are {.controls.activation}."
          },
          {
            "Expect output:": "The controls are deactivated."
          },
          {
            "Activating agent:noun:": [
              {
                "FromText:": "player"
              },
              {
                "FromText:": "controls"
              }
            ]
          },
          {
            "Expect output:": "You switch on the espresso controls."
          },
          {
            "Say:": "The controls are {.controls.activation}."
          },
          {
            "Expect output:": "The controls are activated."
          },
          {
            "Deactivating agent:noun:": [
              {
                "FromText:": "player"
              },
              {
                "FromText:": "controls"
              }
            ]
          },
          {
            "Expect output:": "You switch off the espresso controls."
          },
          {
            "Say:": "The controls are {.controls.activation}."
          },
          {
            "Expect output:": "The controls are deactivated."
          },
          {
            "Comment:": "Try to activate a regular object."
          },
          {
            "Activating agent:noun:": [
              {
                "FromText:": "player"
              },
              {
                "FromText:": "knife"
              }
            ]
          },
          {
            "Expect output:": "It isn't something you can switch on."
          }
        ]
      ]
    }
  ]
}
