{
  "Story:": [
    {
      "Paragraph:": [
        {
          "ActionDecl:action:actionParams common:": [
            "activate",
            "activating",
            {
              "CommonAction:": "object"
            }
          ]
        },
        {
          "PatternActions:patternLocals:patternRules:": [
            "activating",
            {
              "PatternLocals:": [
                {
                  "LocalDecl:value:": [
                    {
                      "VariableDecl:name:type object:": [
                        "an",
                        "actor",
                        {
                          "ObjectType:kind:": [
                            "an",
                            "actor"
                          ]
                        }
                      ]
                    },
                    {
                      "LocalInit:": {
                        "Get:from:": [
                          "pawn",
                          {
                            "VarFields:": "agent"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            },
            {
              "PatternRules:": [
                {
                  "PatternRule:hook activity:": [
                    {
                      "Determine:arguments:": [
                        "isPlayer",
                        {
                          "Args:": [
                            {
                              "Arg:from:": [
                                "obj",
                                "@actor"
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "Act:": [
                        {
                          "If:from:and:do:else:": [
                            "resp",
                            {
                              "FromTxt:": {
                                "Determine:arguments:": [
                                  "can reach",
                                  {
                                    "Args:": [
                                      {
                                        "Arg:from:": [
                                          "actor",
                                          "@actor"
                                        ]
                                      },
                                      {
                                        "Arg:from:": [
                                          "action",
                                          {
                                            "FromTxt:": "activating"
                                          }
                                        ]
                                      },
                                      {
                                        "Arg:from:": [
                                          "noun",
                                          "@noun"
                                        ]
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            {
                              "Act:": [
                                {
                                  "Say:": "@resp"
                                }
                              ]
                            },
                            {
                              "ElseDo:": {
                                "Act:": [
                                  {
                                    "If:from:and:do:else:": [
                                      "resp",
                                      {
                                        "FromTxt:": {
                                          "Determine:arguments:": [
                                            "can use",
                                            {
                                              "Args:": [
                                                {
                                                  "Arg:from:": [
                                                    "actor",
                                                    "@actor"
                                                  ]
                                                },
                                                {
                                                  "Arg:from:": [
                                                    "action",
                                                    {
                                                      "FromTxt:": "activating"
                                                    }
                                                  ]
                                                },
                                                {
                                                  "Arg:from:": [
                                                    "noun",
                                                    "@noun"
                                                  ]
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      },
                                      {
                                        "Not:": {
                                          "Is empty:": "@resp"
                                        }
                                      },
                                      {
                                        "Act:": [
                                          {
                                            "Say:": "@resp"
                                          }
                                        ]
                                      },
                                      {
                                        "ElseDo:": {
                                          "Act:": [
                                            {
                                              "Send:path:arguments:": [
                                                "state change",
                                                {
                                                  "Determine:arguments:": [
                                                    "parentsOf",
                                                    {
                                                      "Args:": [
                                                        {
                                                          "Arg:from:": [
                                                            "obj",
                                                            "@noun"
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                },
                                                {
                                                  "Args:": [
                                                    {
                                                      "Arg:from:": [
                                                        "actor",
                                                        "@actor"
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "noun",
                                                        "@noun"
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "trait",
                                                        {
                                                          "FromTxt:": "activated"
                                                        }
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "guard",
                                                        {
                                                          "FromTxt:": "activatable"
                                                        }
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "change",
                                                        {
                                                          "FromTxt:": "switch on"
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "Paragraph:": [
        {
          "ActionDecl:action:actionParams common:": [
            "deactivate",
            "deactivating",
            {
              "CommonAction:": "object"
            }
          ]
        },
        {
          "PatternActions:patternLocals:patternRules:": [
            "deactivating",
            {
              "PatternLocals:": [
                {
                  "LocalDecl:value:": [
                    {
                      "VariableDecl:name:type object:": [
                        "an",
                        "actor",
                        {
                          "ObjectType:kind:": [
                            "an",
                            "actor"
                          ]
                        }
                      ]
                    },
                    {
                      "LocalInit:": {
                        "Get:from:": [
                          "pawn",
                          {
                            "VarFields:": "agent"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            },
            {
              "PatternRules:": [
                {
                  "PatternRule:hook activity:": [
                    {
                      "Determine:arguments:": [
                        "isPlayer",
                        {
                          "Args:": [
                            {
                              "Arg:from:": [
                                "obj",
                                "@actor"
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "Act:": [
                        {
                          "If:from:and:do:else:": [
                            "resp",
                            {
                              "FromTxt:": {
                                "Determine:arguments:": [
                                  "can reach",
                                  {
                                    "Args:": [
                                      {
                                        "Arg:from:": [
                                          "actor",
                                          "@actor"
                                        ]
                                      },
                                      {
                                        "Arg:from:": [
                                          "action",
                                          {
                                            "FromTxt:": "deactivating"
                                          }
                                        ]
                                      },
                                      {
                                        "Arg:from:": [
                                          "noun",
                                          "@noun"
                                        ]
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            {
                              "Act:": [
                                {
                                  "Say:": "@resp"
                                }
                              ]
                            },
                            {
                              "ElseDo:": {
                                "Act:": [
                                  {
                                    "If:from:and:do:else:": [
                                      "resp",
                                      {
                                        "FromTxt:": {
                                          "Determine:arguments:": [
                                            "can use",
                                            {
                                              "Args:": [
                                                {
                                                  "Arg:from:": [
                                                    "actor",
                                                    "@actor"
                                                  ]
                                                },
                                                {
                                                  "Arg:from:": [
                                                    "action",
                                                    {
                                                      "FromTxt:": "deactivating"
                                                    }
                                                  ]
                                                },
                                                {
                                                  "Arg:from:": [
                                                    "noun",
                                                    "@noun"
                                                  ]
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      },
                                      {
                                        "Not:": {
                                          "Is empty:": "@resp"
                                        }
                                      },
                                      {
                                        "Act:": [
                                          {
                                            "Say:": "@resp"
                                          }
                                        ]
                                      },
                                      {
                                        "ElseDo:": {
                                          "Act:": [
                                            {
                                              "Send:path:arguments:": [
                                                "state change",
                                                {
                                                  "Determine:arguments:": [
                                                    "parentsOf",
                                                    {
                                                      "Args:": [
                                                        {
                                                          "Arg:from:": [
                                                            "obj",
                                                            "@noun"
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                },
                                                {
                                                  "Args:": [
                                                    {
                                                      "Arg:from:": [
                                                        "actor",
                                                        "@actor"
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "noun",
                                                        "@noun"
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "trait",
                                                        {
                                                          "FromTxt:": "deactivated"
                                                        }
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "guard",
                                                        {
                                                          "FromTxt:": "activatable"
                                                        }
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "change",
                                                        {
                                                          "FromTxt:": "switch off"
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "Paragraph:": [
        {
          "KindsOfKind:singularKind:": [
            " devices",
            "prop"
          ]
        },
        {
          "KindsPossessProperties:propertyDecl:": [
            " devices",
            [
              {
                "PropertyDecl:property:propertyType propertyAspect:": [
                  "an",
                  "activatability",
                  "aspect"
                ]
              },
              {
                "PropertyDecl:property:propertyType propertyAspect:": [
                  "an",
                  "activation",
                  "aspect"
                ]
              }
            ]
          ]
        }
      ]
    },
    {
      "Paragraph:": [
        {
          "KindsOfAspect:": " activatability"
        },
        {
          "AspectTraits:traitPhrase:": [
            " activatability",
            {
              "TraitPhrase:trait:": [
                "canbe",
                [
                  "activatable",
                  "not activatable"
                ]
              ]
            }
          ]
        },
        {
          "KindsOfAspect:": " activation"
        },
        {
          "AspectTraits:traitPhrase:": [
            " activation",
            {
              "TraitPhrase:trait:": [
                "canbe",
                [
                  "deactivated",
                  "activated"
                ]
              ]
            }
          ]
        }
      ]
    }
  ]
}
