{
  "Tapestry:": [
    {
      "Kinds:have:": [
        "Objects",
        [
          {
            "--": "when not set it will use the article from the declaration of the noun; example: \"some\" soldiers.",
            "Text:": "indefinite article"
          },
          {
            "Aspect:": "pluralization"
          }
        ]
      ]
    },
    {
      "AspectTraits:traitPhrase:": [
        "pluralization",
        {
          "TraitPhrase:trait:": [
            "canbe",
            [
              "singular named",
              "plural named"
            ]
          ]
        }
      ]
    },
    {
      "KindsOfAspect:": "pluralization"
    },
    {
      "--": ""
    },
    {
      "TestScene:story:": [
        "articles",
        [
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    "lamp-post"
                  ]
                },
                {
                  "Noun:named:": [
                    "some",
                    "soldiers"
                  ]
                },
                {
                  "Noun:named:": [
                    "our",
                    "Trevor"
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "area",
                  "thing"
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestRule:does:": [
        "articles",
        [
          {
            "Say:": {
              "RenderTemplate:": [
                "You can only just make out {a: .lamp_post}.",
                "You can only just make out {a: .Trevor}.",
                "You can only just make out {a: .soldiers}.",
                "{a: .lamp_post|capitalize!} can be made out in the mist.",
                "{a: .Trevor|capitalize!} can be made out in the mist.",
                "{a: .soldiers|capitalize!} can be made out in the mist.",
                "You can only just make out {the: .lamp_post}.",
                "You can only just make out {the: .trevor}.",
                "You can only just make out {the: .soldiers}.",
                "{the: .lamp_post|capitalize!} may be a trick of the mist.",
                "{the: .trevor|capitalize!} may be a trick of the mist.",
                "{the: .soldiers|capitalize!} may be a trick of the mist.",
                "You can only just make out {a: .Trevor}."
              ]
            }
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestStatement:test:": [
        "articles",
        {
          "TestOutput:": [
            "You can only just make out a lamp-post.",
            "You can only just make out Trevor.",
            "You can only just make out some soldiers.",
            "A lamp-post can be made out in the mist.",
            "Trevor can be made out in the mist.",
            "Some soldiers can be made out in the mist.",
            "You can only just make out the lamp-post.",
            "You can only just make out Trevor.",
            "You can only just make out the soldiers.",
            "The lamp-post may be a trick of the mist.",
            "Trevor may be a trick of the mist.",
            "The soldiers may be a trick of the mist.",
            "You can only just make out Trevor.",
            ""
          ]
        }
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "A",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "A",
        [
          {
            "PatternRule:does:": [
              {
                "Always": true
              },
              [
                {
                  "PrintArticle obj:name:": [
                    "@noun",
                    {
                      "FromTxt:": {
                        "RenderTemplate:": "{.noun}"
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "The",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "The",
        [
          {
            "PatternRule:does:": [
              {
                "Always": true
              },
              [
                {
                  "PrintArticle article:obj:name:": [
                    {
                      "FromTxt:": "the"
                    },
                    "@noun",
                    {
                      "FromTxt:": {
                        "RenderTemplate:": "{.noun}"
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "Print article",
        [
          {
            "Text:": "article"
          },
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          },
          {
            "Text:": "name"
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "Print article",
        [
          {
            "PatternRule:does:": [
              {
                "Always": true
              },
              [
                {
                  "Say:": {
                    "RenderTemplate:": "a {.name}"
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "StartsWithVowel text:": "@name"
              },
              [
                {
                  "Say:": {
                    "RenderTemplate:": "an {.name}"
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Get obj:trait:": [
                  "@obj",
                  "plural named"
                ]
              },
              [
                {
                  "Say:": {
                    "RenderTemplate:": "some {.name}"
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Cmp:is:txt:": [
                  {
                    "Get:from:": [
                      "indefinite article",
                      {
                        "VarFields:": "obj"
                      }
                    ]
                  },
                  {
                    "OtherThan": true
                  },
                  ""
                ]
              },
              [
                {
                  "Say:": {
                    "RenderTemplate:": "{.obj.indefinite_article} {.name}"
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Cmp:is:txt:": [
                  "@article",
                  {
                    "OtherThan": true
                  },
                  ""
                ]
              },
              [
                {
                  "Say:": {
                    "RenderTemplate:": "{.article} {.name}"
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Get obj:trait:": [
                  "@obj",
                  "proper named"
                ]
              },
              [
                {
                  "Comment:": "by definition proper named objects have no article."
                },
                {
                  "Say:": {
                    "RenderTemplate:": "{.name}"
                  }
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
