[
  [
    {
      "GrammarDecl:": {
        "Directive:scans:": [
          [
            "attack",
            "break",
            "crack",
            "destroy",
            "fight",
            "hit",
            "kill",
            "murder",
            "punch",
            "smash",
            "thump",
            "torture",
            "wreck"
          ],
          [
            {
              "AnyOf:": [
                {
                  "AllOf:": [
                    {
                      "Noun:": "things"
                    },
                    {
                      "As:": "attacking"
                    }
                  ]
                }
              ]
            }
          ]
        ]
      }
    }
  ],
  [
    {
      "Event:action:args common:": [
        "attack",
        "attacking",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Pattern:with:rules:": [
        "attacking",
        {
          "PatternLocals:": [
            {
              "LocalDecl:value:": [
                {
                  "Text named:of:": [
                    "actor",
                    "actor"
                  ]
                },
                {
                  "LocalInit:": {
                    "Get:from:": [
                      "pawn",
                      {
                        "VarFields:": "agent"
                      }
                    ]
                  }
                }
              ]
            }
          ]
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Determine:arguments:": [
                    "isPlayer",
                    {
                      "Args:": [
                        {
                          "Arg:from:": [
                            "obj",
                            "@actor"
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "If:from:and:do:else:": [
                        "resp",
                        {
                          "FromTxt:": {
                            "Determine:arguments:": [
                              "can reach",
                              {
                                "Args:": [
                                  {
                                    "Arg:from:": [
                                      "actor",
                                      "@actor"
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "action",
                                      {
                                        "FromTxt:": "attacking"
                                      }
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "noun",
                                      "@noun"
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        },
                        {
                          "Not:": {
                            "Is empty:": "@resp"
                          }
                        },
                        {
                          "Act:": [
                            {
                              "Say:": "@resp"
                            }
                          ]
                        },
                        {
                          "ElseDo:": {
                            "Act:": [
                              {
                                "Determine:arguments:": [
                                  "report attacking",
                                  {
                                    "Args:": [
                                      {
                                        "Arg:from:": [
                                          "actor",
                                          "@actor"
                                        ]
                                      },
                                      {
                                        "Arg:from:": [
                                          "noun",
                                          "@noun"
                                        ]
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "Pattern:requires:": [
        "report attacking",
        {
          "PatternRequires:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            },
            {
              "Text named:of:": [
                "noun",
                "object"
              ]
            }
          ]
        }
      ]
    },
    {
      "Pattern:rules:": [
        "report attacking",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                "Always",
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "actor attacking",
                          {
                            "RenderTemplate:": "{the:.actor|capitalize!} attacks {the: .noun}."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "Determine:arguments:": [
                    "isPlayer",
                    {
                      "Args:": [
                        {
                          "Arg:from:": [
                            "obj",
                            "@actor"
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "player attacking",
                          {
                            "RenderTemplate:": "Violence isn't the answer."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
]
