{
  "Tapestry:": [
    {
      "GrammarDecl:": {
        "Directive:scans:": [
          [
            "attack",
            "break",
            "crack",
            "destroy",
            "fight",
            "hit",
            "kill",
            "murder",
            "punch",
            "smash",
            "thump",
            "torture",
            "wreck"
          ],
          [
            {
              "AnyOf:": [
                {
                  "AllOf:": [
                    {
                      "Noun:": "things"
                    },
                    {
                      "As:": "attacking"
                    }
                  ]
                }
              ]
            }
          ]
        ]
      }
    },
    {
      "--": ""
    },
    {
      "Event:action:args common:": [
        "attack",
        "attacking",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "attacking",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "attacking"
                          },
                          {
                            "FromText:": "@noun"
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Print:": "@resp"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "ReportAttacking actor:noun:": [
                            {
                              "FromText:": "@actor"
                            },
                            {
                              "FromText:": "@noun"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "report attacking",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "report attacking",
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "Print response:with:": [
                    "player attacking",
                    {
                      "Say:": "Violence isn't the answer."
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print response:with:": [
                    "actor attacking",
                    {
                      "Say:": "{the:.actor|capitalize!} attacks {the: .noun}."
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
