{
  "Story:": [
    {
      "Pattern:requires:returns:": [
        "parser bounds",
        {
          "PatternRequires:": [
            {
              "Text named:of:": [
                "obj",
                "object"
              ]
            }
          ]
        },
        {
          "PatternResult:": {
            "TextList named:": "bounds"
          }
        }
      ]
    },
    {
      "Pattern:with:rules:": [
        "parser bounds",
        {
          "PatternLocals:": [
            {
              "LocalDecl:": {
                "TextList named:": "queue"
              }
            }
          ]
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Always": []
                },
                {
                  "Act:": [
                    {
                      "Put:into:atFront:": [
                        "@obj",
                        {
                          "IntoTxts:": "bounds"
                        },
                        {
                          "Always": []
                        }
                      ]
                    },
                    {
                      "Put:into:": [
                        "@obj",
                        {
                          "IntoTxts:": "queue"
                        }
                      ]
                    },
                    {
                      "Repeating:do:": [
                        {
                          "Cmp:is:num:": [
                            {
                              "Len:": "@queue"
                            },
                            {
                              "GreaterThan": []
                            },
                            0
                          ]
                        },
                        {
                          "Act:": [
                            {
                              "Erasing:atFront:as:do:": [
                                {
                                  "VarOfTxts:": "queue"
                                },
                                {
                                  "Always": []
                                },
                                "enc",
                                {
                                  "Act:": [
                                    {
                                      "Repeating across:as:do:": [
                                        {
                                          "FromTxts:": {
                                            "ChildrenOf obj:": "@enc"
                                          }
                                        },
                                        {
                                          "AsTxt:": "kid"
                                        },
                                        {
                                          "Act:": [
                                            {
                                              "Put:into:": [
                                                "@kid",
                                                {
                                                  "IntoTxts:": "bounds"
                                                }
                                              ]
                                            },
                                            {
                                              "If:do:": [
                                                {
                                                  "Not:": {
                                                    "FullyOpaque obj:": "@kid"
                                                  }
                                                },
                                                {
                                                  "Act:": [
                                                    {
                                                      "Comment:": "add this kid for additional processing"
                                                    },
                                                    {
                                                      "Put:into:": [
                                                        "@kid",
                                                        {
                                                          "IntoTxts:": "queue"
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
