{
  "Tapestry:": [
    {
      "Define pattern:requires:provides:do:": [
        "parser bounds",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        [
          {
            "TextList:initially:": [
              "bounds",
              {
                "List ofText:": "@obj"
              }
            ]
          },
          {
            "TextList:initially:": [
              "queue",
              {
                "List ofText:": "@obj"
              }
            ]
          }
        ],
        [
          {
            "Repeating:do:": [
              {
                "Cmp:is:num:": [
                  {
                    "Len:": {
                      "FromTextList:": "@queue"
                    }
                  },
                  "greater_than",
                  0
                ]
              },
              {
                "--": "process the queue",
                "Erasing:atFront:as:do:": [
                  "@queue",
                  true,
                  "enc",
                  [
                    {
                      "Repeating across:as:do:": [
                        {
                          "FromTextList:": {
                            "ChildrenOf obj:": {
                              "FromText:": "@enc"
                            }
                          }
                        },
                        "kid",
                        [
                          {
                            "Push:into:": [
                              {
                                "FromText:": "@kid"
                              },
                              "@bounds"
                            ]
                          },
                          {
                            "If:do:": [
                              {
                                "Not:": {
                                  "FullyOpaque obj:": {
                                    "FromText:": "@kid"
                                  }
                                }
                              },
                              [
                                {
                                  "Comment:": "add this kid for additional processing"
                                },
                                {
                                  "Push:into:": [
                                    {
                                      "FromText:": "@kid"
                                    },
                                    "@queue"
                                  ]
                                }
                              ]
                            ]
                          }
                        ]
                      ]
                    }
                  ]
                ]
              }
            ]
          }
        ]
      ]
    }
  ]
}
