{
  "Tapestry:": [
    {
      "--": "Determines whether an actor can manipulate some specific object.",
      "Define pattern:requires:result:withRules:": [
        "can handle",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:": "action"
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          },
          {
            "--": "not all actions have a second noun and that's okay",
            "Text:kind:": [
              "other noun",
              "thing"
            ]
          }
        ],
        {
          "Text:": "response"
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "can handle",
        [
          {
            "PatternRule:does:": [
              {
                "Cmp:is:txt:": [
                  {
                    "ParentOf obj:": {
                      "FromText:": "@noun"
                    }
                  },
                  "other_than",
                  "@actor"
                ]
              },
              [
                {
                  "Set:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Print response:with:": [
                          "can only use possessions",
                          {
                            "Say:": "{we:|capitalize!} haven't got {those:.noun}!"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
