{
  "Story:": [
    {
      "Pattern:requires:returns:": [
        "can handle",
        {
          "PatternRequires:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            },
            {
              "Text named:": "action"
            },
            {
              "Text named:of:": [
                "noun",
                "thing"
              ]
            },
            {
              "Text named:of:desc:": [
                "other noun",
                "thing",
                ", not all actions have a second noun and that's okay"
              ]
            }
          ]
        },
        {
          "PatternResult:": {
            "Text named:": "response"
          }
        }
      ]
    },
    {
      "Pattern:rules:": [
        "can handle",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Cmp:is:txt:": [
                    {
                      "Determine:arguments:": [
                        "parentOf",
                        {
                          "Args:": [
                            {
                              "Arg:from:": [
                                "obj",
                                "@noun"
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    "OtherThan",
                    "@actor"
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can only use possessions",
                              {
                                "RenderTemplate:": "{we:|capitalize!} haven't got {those:.noun}!"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
