{
  "Tapestry:": [
    {
      "--": "Determines whether an actor can manipulate some specific object.",
      "Define pattern:requires:provides:do:": [
        "can handle",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:": "action"
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          },
          {
            "--": "not all actions have a second noun and that's okay",
            "Text:kind:": [
              "other noun",
              "thing"
            ]
          }
        ],
        {
          "Text:": "response"
        },
        {
          "--": "no default rules"
        }
      ]
    },
    {
      "Rule for:do:": [
        "can handle",
        {
          "If:do:": [
            {
              "Cmp:is:txt:": [
                {
                  "ParentOf obj:": {
                    "FromText:": "@noun"
                  }
                },
                "other_than",
                "@actor"
              ]
            },
            {
              "Set:from:": [
                "@response",
                {
                  "FromText:": {
                    "Say response:with:": [
                      "can only use possessions",
                      "{we:|capitalize!} haven't got {those:.noun}!"
                    ]
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
