{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "reach test",
        "Kitchenette",
        [
        	{
          	"Declare:" : "An other worldly cloak is a thing."
          },
          {
            "Comment:": "it is nowhere."
          },
          {
            "--": ""
          },
          {
            "Declare:": "You are in the cabinet."
          }
        ],
        [
          {
            "If:from:and:does:else:": [
              "resp",
              {
                "FromText:": {
                  "CanReach actor:noun:": [
                    {
                      "FromText:": "self"
                    },
                    {
                      "FromText:": "beans"
                    }
                  ]
                }
              },
              {
                "Not:": {
                  "Is empty:": "@resp"
                }
              },
              [
                {
                  "Say:": "okay: {.resp}"
                }
              ],
              {
                "ElseDo does:": [
                  {
                    "Print:": "failed: shouldnt have reached into the espresso machine."
                  }
                ]
              }
            ]
          },
          {
            "Expect output:": "okay: The espresso machine isn't open."
          },
          {
            "If:from:and:does:else:": [
              "resp",
              {
                "FromText:": {
                  "CanReach actor:noun:": [
                    {
                      "FromText:": "self"
                    },
                    {
                      "FromText:": "tomatoes"
                    }
                  ]
                }
              },
              {
                "Not:": {
                  "Is empty:": "@resp"
                }
              },
              [
                {
                  "Say:": "failed: {.resp}"
                }
              ],
              {
                "ElseDo does:": [
                  {
                    "Print:": "okay: reached outside the open cabinet."
                  }
                ]
              }
            ]
          },
          {
            "Expect output:": "okay: reached outside the open cabinet."
          },
          {
            "Set:from:": [
              {
                "Object:field:": [
                  "espresso machine",
                  "open"
                ]
              },
              {
                "FromBool:": true
              }
            ]
          },
          {
            "If:from:and:does:else:": [
              "resp",
              {
                "FromText:": {
                  "CanReach actor:noun:": [
                    {
                      "FromText:": "self"
                    },
                    {
                      "FromText:": "beans"
                    }
                  ]
                }
              },
              {
                "Not:": {
                  "Is empty:": "@resp"
                }
              },
              [
                {
                  "Say:": "failed: {.resp}"
                }
              ],
              {
                "ElseDo does:": [
                  {
                    "Print:": "okay: reached inside the open espresso machine."
                  }
                ]
              }
            ]
          },
          {
            "Expect output:": "okay: reached inside the open espresso machine."
          },
          {
            "Set:from:": [
              {
                "Object:field:": [
                  "cabinet",
                  "closed"
                ]
              },
              {
                "FromBool:": true
              }
            ]
          },
          {
            "If:from:and:does:else:": [
              "resp",
              {
                "FromText:": {
                  "CanReach actor:noun:": [
                    {
                      "FromText:": "self"
                    },
                    {
                      "FromText:": "tomatoes"
                    }
                  ]
                }
              },
              {
                "Not:": {
                  "Is empty:": "@resp"
                }
              },
              [
                {
                  "Say:": "okay: {.resp}"
                }
              ],
              {
                "ElseDo does:": [
                  {
                    "Print:": "failed: shouldnt have reached from the closed cabinet."
                  }
                ]
              }
            ]
          },
          {
            "Expect output:": "okay: The cabinet isn't open."
          },
          {
            "If:from:and:does:else:": [
              "resp",
              {
                "FromText:": {
                  "CanReach actor:noun:": [
                    {
                      "FromText:": "self"
                    },
                    {
                      "FromText:": "cloak"
                    }
                  ]
                }
              },
              {
                "Not:": {
                  "Is empty:": "@resp"
                }
              },
              [
                {
                  "Say:": "okay: {.resp}"
                }
              ],
              {
                "ElseDo does:": [
                  {
                    "Print:": "failed: shouldnt have reached out of world."
                  }
                ]
              }
            ]
          },
          {
            "Expect output:": "okay: It isn't available."
          }
        ]
      ]
    }
  ]
}
