{
  "Story:": [
    {
      "Pattern:requires:returns:": [
        "can use",
        {
          "PatternParams:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            },
            {
              "Text named:": "action"
            },
            {
              "Text named:of:": [
                "noun",
                "thing"
              ]
            },
            {
              "--": "not all actions have a second noun and that's okay",
              "Text named:of:": [
                "other noun",
                "thing"
              ]
            }
          ]
        },
        {
          "PatternResult:": {
            "Text named:": "response"
          }
        }
      ]
    },
    {
      "Pattern:rules:": [
        "can use",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Always": []
                },
                {
                  "Act:": [
                    {
                      "Comment:": "By default, \"can use\" allows most actions."
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
