{
  "Tapestry:": {
    "Story:": [
      {
        "--": [
          "By default, can use allows most actions.",
          "It exists as a hook for author customization.",
          "Authors should return some 'response' text if they want to block the action."
        ],
        "Pattern:requires:returns:": [
          "can use",
          {
            "PatternParams:": [
              {
                "Text named:of:": [
                  "actor",
                  "actor"
                ]
              },
              {
                "Text named:": "action"
              },
              {
                "Text named:of:": [
                  "noun",
                  "thing"
                ]
              },
              {
                "--": "note: not all actions have a second noun and that's okay",
                "Text named:of:": [
                  "other noun",
                  "thing"
                ]
              }
            ]
          },
          {
            "PatternResult:": {
              "Text named:": "response"
            }
          }
        ]
      }
    ]
  }
}
