{
  "Tapestry:": [
    {
      "Test:withScene:do:": [
        "countOf",
        [
          {
            "Define pattern:requires:result:withRules:": [
              "magic symbols",
              [
                {
                  "Nothing": true
                }
              ],
              {
                "Nothing": true
              },
              []
            ]
          },
          {
            "Extend pattern:withRules:": [
              "magic symbols",
              [
                {
                  "PatternRule:do:": [
                    {
                      "CountOf:num:": [
                        {
                          "Every": true
                        },
                        2
                      ]
                    },
                    [
                      {
                        "Print:": "*"
                      }
                    ]
                  ]
                },
                {
                  "PatternRule:do:": [
                    {
                      "CountOf:num:": [
                        {
                          "At": true
                        },
                        3
                      ]
                    },
                    [
                      {
                        "Print:": "-"
                      }
                    ]
                  ]
                },
                {
                  "PatternRule:do:": [
                    {
                      "CountOf:num:": [
                        {
                          "After": true
                        },
                        5
                      ]
                    },
                    [
                      {
                        "Print:": "x"
                      }
                    ]
                  ]
                },
                {
                  "PatternRule:do:": [
                    true,
                    [
                      {
                        "Print:": "o"
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ],
        [
          {
            "Repeating across:as:do:": [
              {
                "FromNumList:": {
                  "Range:": 7
                }
              },
              "i",
              [
                {
                  "MagicSymbols": true
                }
              ]
            ]
          },
          {
            "Expect output:": "o*-*x*x"
          }
        ]
      ]
    }
  ]
}
