{
  "Tapestry:": [
    {
      "Declare:": "Compasses are kinds of records."
    },
    {
      "Define kind:fields:": [
        "Rooms",
        [
          {
            "Record:": "compass"
          }
        ]
      ]
    },
    {
      "Define kind:fields:": [
        "Compasses",
        [
          {
            "Text:kind:": [
              "north",
              "door"
            ]
          },
          {
            "Text:kind:": [
              "east",
              "door"
            ]
          },
          {
            "Text:kind:": [
              "south",
              "door"
            ]
          },
          {
            "Text:kind:": [
              "west",
              "door"
            ]
          },
          {
            "Text:kind:": [
              "up",
              "door"
            ]
          },
          {
            "Text:kind:": [
              "down",
              "door"
            ]
          }
        ]
      ]
    },
    {
      "Make:opposite:": [
        "north",
        "south"
      ]
    },
    {
      "Make:opposite:": [
        "east",
        "west"
      ]
    },
    {
      "Make:opposite:": [
        "up",
        "down"
      ]
    },
    {
      "Declare:": "Doors are kinds of opener."
    },
    {
      "Define kind:fields:": [
        "Doors",
        [
          {
            "Text:kind:": [
              "destination",
              "room"
            ]
          }
        ]
      ]
    }
  ]
}
