[
  [
    {
      "TestStatement:test:": [
        "dropping test",
        {
          "TestOutput:": "The knife's ogp: you.\nDropped.\nThe knife's newg: the Kitchen.\nYou haven't got that!\n"
        }
      ]
    },
    {
      "TestRule:hook activity:": [
        "dropping test",
        {
          "Act:": [
            {
              "Say:": {
                "RenderTemplate:": "The knife's ogp: {the: {parentOf: .knife}}."
              }
            },
            {
              "Determine:arguments:": [
                "dropping",
                {
                  "Args:": [
                    {
                      "Arg:from:": [
                        "agent",
                        {
                          "FromTxt:": "player"
                        }
                      ]
                    },
                    {
                      "Arg:from:": [
                        "noun",
                        {
                          "FromTxt:": "knife"
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "Say:": {
                "RenderTemplate:": "The knife's newg: {the: {parentOf: .knife}}."
              }
            },
            {
              "Determine:arguments:": [
                "dropping",
                {
                  "Args:": [
                    {
                      "Arg:from:": [
                        "agent",
                        {
                          "FromTxt:": "player"
                        }
                      ]
                    },
                    {
                      "Arg:from:": [
                        "noun",
                        {
                          "FromTxt:": "knife"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "TestScene:story:": [
        "dropping test",
        {
          "Story:": [
            {
              "Paragraph:": [
                {
                  "RelativeToNoun:nouns:areBeing:nouns1:": [
                    " whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          "knife"
                        ]
                      }
                    ],
                    "is",
                    [
                      {
                        "Noun:named:": [
                          "our",
                          "self"
                        ]
                      }
                    ]
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
]
