{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "dropping test",
        "Kitchenette",
        [
          {
            "Declare:": "You are carrying the knife."
          }
        ],
        [
          {
            "Say:": "The knife's whereabouts: {the: {parentOf: .knife}}."
          },
          {
            "Expect output:": "The knife's whereabouts: you."
          },
          {
            "Dropping agent:noun:": [
              {
                "FromText:": "player"
              },
              {
                "FromText:": "knife"
              }
            ]
          },
          {
            "Expect output:": "Dropped."
          },
          {
            "Say:": "The knife's new whereabouts: {the: {parentOf: .knife}}."
          },
          {
            "Expect output:": "The knife's new whereabouts: the Kitchen."
          },
          {
            "Dropping agent:noun:": [
              {
                "FromText:": "player"
              },
              {
                "FromText:": "knife"
              }
            ]
          },
          {
            "Expect output:": "You haven't got that!"
          }
        ]
      ]
    }
  ]
}
