{
  "Tapestry:": [
    {
      "Define action:requires:": [
        "dropping",
        [
          {
            "--": "the actor activating something ( ex. the player. )",
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "--": "the thing being dropped",
            "Text:kind:": [
              "noun",
              "thing"
            ]
          }
        ]
      ]
    },
    {
      "Rule for:named:do:": [
        "before dropping",
        "the standard dropping checks",
        [
          {
            "If:assuming:do:": [
              {
                "Not:": {
                  "Is empty:": "@response"
                }
              },
              {
                "Arg:from:": [
                  "response",
                  {
                    "--": [
                      "can we handle ( locally touch ) the object.",
                      "the response will be empty if we can",
                      "or an error message if we cant"
                    ],
                    "FromText:": {
                      "CanHandle actor:action:noun:": [
                        {
                          "FromText:": "@actor"
                        },
                        {
                          "FromText:": "dropping"
                        },
                        {
                          "FromText:": "@noun"
                        }
                      ]
                    }
                  }
                ]
              },
              {
                "Print:": "@response"
              }
            ]
          }
        ]
      ]
    },
    {
      "Rule for:named:do:": [
        "dropping",
        "the standard dropping action",
        {
          "If:assuming:do:": [
            {
              "Not:": {
                "Is empty:": "@response"
              }
            },
            {
              "Arg:from:": [
                "response",
                {
                  "FromText:": {
                    "MoveObject obj:dest:": [
                      {
                        "FromText:": "@noun"
                      },
                      {
                        "FromText:": {
                          "ParentOf obj:": {
                            "FromText:": "@actor"
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            },
            {
              "Print:": "@response"
            }
          ]
        }
      ]
    },
    {
      "Rule for:do:": [
        "report someone dropping",
        {
          "Say response:with:": [
            "someone else drops",
            "{The: .actor|capitalize!} put down {the: .noun}."
          ]
        }
      ]
    },
    {
      "Rule for:do:": [
        "report dropping",
        {
          "Say response:with:": [
            "player drops",
            "Dropped."
          ]
        }
      ]
    },
    {
      "--": ""
    },
    {
      "Extend pattern:withRules:": [
        "can reach",
        [
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "dropping"
                    ]
                  },
                  {
                    "Cmp:is:txt:": [
                      "@actor",
                      "equal_to",
                      "@noun"
                    ]
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Say response:with:": [
                          "can't drop yourself",
                          "{We:|capitalize!} lack the dexterity."
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "dropping"
                    ]
                  },
                  {
                    "Cmp:is:txt:": [
                      {
                        "ParentOf obj:": {
                          "FromText:": "@actor"
                        }
                      },
                      "equal_to",
                      {
                        "LocationOf obj:": {
                          "FromText:": "@noun"
                        }
                      }
                    ]
                  }
                ]
              },
              [
                {
                  "Comment:": "Tell the player that they've already accomplished the goal they are trying to achieve ( vs. that they can't accomplish what they are trying to achieve. )"
                },
                {
                  "Set:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Say response:with:": [
                          "can't drop what's already there",
                          "{The: .noun|capitalize!} {are: .noun} already here.\""
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
