{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "dropping test",
        "Kitchenette",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "knife"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:": "self"
                }
              ]
            ]
          }
        ],
        [
          {
            "Say:": {
              "RenderTemplate:": "The knife's ogp: {the: {parentOf: .knife}}."
            }
          },
          {
            "Expect lines:": "The knife's ogp: you."
          },
          {
            "Dropping agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "knife"
              }
            ]
          },
          {
            "Expect lines:": "Dropped."
          },
          {
            "Say:": {
              "RenderTemplate:": "The knife's newg: {the: {parentOf: .knife}}."
            }
          },
          {
            "Expect lines:": "The knife's newg: the Kitchen."
          },
          {
            "Dropping agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "knife"
              }
            ]
          },
          {
            "Expect lines:": "You haven't got that!"
          }
        ]
      ]
    }
  ]
}
