{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "examine",
        "examining",
        {
          "CommonAction:": "thing"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "examining",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": {
                    "Text value:": "@actor"
                  }
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:requiresLight:": [
                          {
                            "FromText:": {
                              "Text value:": "@actor"
                            }
                          },
                          {
                            "FromText:": "examining"
                          },
                          {
                            "FromText:": {
                              "Text value:": "@noun"
                            }
                          },
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Say:": "@resp"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "If:from:and:does:else:": [
                            "resp",
                            {
                              "FromText:": {
                                "CanUse actor:action:noun:": [
                                  {
                                    "FromText:": {
                                      "Text value:": "@actor"
                                    }
                                  },
                                  {
                                    "FromText:": "examining"
                                  },
                                  {
                                    "FromText:": {
                                      "Text value:": "@noun"
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            [
                              {
                                "Say:": "@resp"
                              }
                            ],
                            {
                              "ElseDo does:": [
                                {
                                  "If:does:": [
                                    {
                                      "Send:event:": [
                                        {
                                          "Capture obj:": {
                                            "FromText:": {
                                              "Text value:": "@noun"
                                            }
                                          }
                                        },
                                        {
                                          "Examine actor:noun:": [
                                            {
                                              "FromText:": {
                                                "Text value:": "@actor"
                                              }
                                            },
                                            {
                                              "FromText:": {
                                                "Text value:": "@noun"
                                              }
                                            }
                                          ]
                                        }
                                      ]
                                    },
                                    [
                                      {
                                        "PrintDescription obj:": {
                                          "FromText:": {
                                            "Text value:": "@noun"
                                          }
                                        }
                                      }
                                    ]
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "Print description",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:provides:rules:": [
        "Print description",
        [
          {
            "Text:initially:": [
              "description",
              {
                "Object:field:": [
                  "@obj",
                  "description"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "If:does:": [
                    {
                      "Not:": {
                        "PrintParticulars obj:": {
                          "FromText:": {
                            "Text value:": "@obj"
                          }
                        }
                      }
                    },
                    [
                      {
                        "Say:": {
                          "Response:text:": [
                            "unremarkable description",
                            {
                              "RenderTemplate:": "{We!|make_title_case!} see nothing special about {the: .obj}."
                            }
                          ]
                        }
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Not:": {
                  "Is empty:": "@description"
                }
              },
              [
                {
                  "Say:": "@description"
                },
                {
                  "PrintParticulars obj:": {
                    "FromText:": {
                      "Text value:": "@obj"
                    }
                  }
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:returns:": [
        "Print particulars",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "PatternResult:": {
            "Bool:": "success"
          }
        }
      ]
    },
    {
      "Pattern:rules:": [
        "Print particulars",
        [
          {
            "PatternRule:does:": [
              {
                "KindOf:is:": [
                  "@obj",
                  "containers"
                ]
              },
              [
                {
                  "If:does:else:": [
                    {
                      "PrintInlineStorage obj:": {
                        "FromText:": {
                          "Text value:": "@obj"
                        }
                      }
                    },
                    [
                      {
                        "Set:from:": [
                          "@success",
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Comment:": "if the player isn't in the container."
                        },
                        {
                          "If:does:": [
                            {
                              "Cmp:is:txt:": [
                                "@obj",
                                "other_than",
                                {
                                  "ContainerOf obj:": {
                                    "FromText:": "player"
                                  }
                                }
                              ]
                            },
                            [
                              {
                                "Say:": {
                                  "Response:text:": [
                                    "empty container description",
                                    {
                                      "RenderTemplate:": "{The: .obj|capitalize!} {are: .obj} empty."
                                    }
                                  ]
                                }
                              },
                              {
                                "Set:from:": [
                                  "@success",
                                  {
                                    "FromBool:": true
                                  }
                                ]
                              }
                            ]
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "KindOf:is:": [
                  "@obj",
                  "supporters"
                ]
              },
              [
                {
                  "If:does:": [
                    {
                      "PrintInlineStorage obj:": {
                        "FromText:": {
                          "Text value:": "@obj"
                        }
                      }
                    },
                    [
                      {
                        "Set:from:": [
                          "@success",
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Test:dependsOn:do:": [
        "examining test",
        "Kitchenette",
        [
          {
            "PrintDescription obj:": {
              "FromText:": "blender"
            }
          },
          {
            "Expect output:": "The blender is empty."
          },
          {
            "PrintDescription obj:": {
              "FromText:": "hat"
            }
          },
          {
            "Expect output:": "Your aunt's very own witches hat, a Halloween favorite."
          },
          {
            "PrintDescription obj:": {
              "FromText:": "mortar"
            }
          },
          {
            "Expect output:": "In the mortar is a pestle."
          },
          {
            "PrintDescription obj:": {
              "FromText:": "shelf"
            }
          },
          {
            "Expect output:": "On the shelf are a can of potato leek soup, a can of tomatoes, and a tin of deflating powder."
          },
          {
            "PrintDescription obj:": {
              "FromText:": "cabinet"
            }
          },
          {
            "Expect output:": [
              "An ancient teak wardrobe repurposed as a kitchen cupboard.",
              "In the cabinet are a book of matches, a bottle of descaling solution, a fish hook, and a rusty knife."
            ]
          },
          {
            "Relate:to:via:": [
              "blender",
              "self",
              "whereabouts"
            ]
          },
          {
            "PrintDescription obj:": {
              "FromText:": "blender"
            }
          },
          {
            "Expect output:": "You see nothing special about the blender."
          }
        ]
      ]
    }
  ]
}
