{
  "Tapestry:": [
    {
      "Interpret:with:": [
        [
          "carry",
          "hold"
        ],
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "inventory"
                  },
                  {
                    "Action:": "inventorying"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "taking"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "close",
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "off"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "deactivating"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One word:": "off"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "closing"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "One of:": [
                      {
                        "Sequence:": [
                          {
                            "One word:": "off"
                          },
                          {
                            "Action:": "deactivating"
                          }
                        ]
                      },
                      {
                        "Sequence:": [
                          {
                            "One word:": "up"
                          },
                          {
                            "Action:": "closing"
                          }
                        ]
                      },
                      {
                        "Action:": "closing"
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "cover",
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "up"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "closing"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "closing"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        [
          "doff",
          "disrobe",
          "shed"
        ],
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "removing"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "drop",
        [
          {
            "One noun:": "things"
          },
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": [
                      "in",
                      "into",
                      "down",
                      "on",
                      "onto"
                    ]
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "storing into"
                  }
                ]
              },
              {
                "Action:": "dropping"
              }
            ]
          }
        ]
      ]
    },
    {
      "--": "traveling"
    },
    {
      "Interpret:with:": [
        [
          "enter",
          "cross",
          "sit on",
          "sit on top of",
          "sit in",
          "sit inside",
          "stand on"
        ],
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "traveling"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    
    {
      "--": "examining"
    },
    {
      "Interpret:with:": [
        [
          "examine",
          "x",
          "watch",
          "describe",
          "check"
        ],
        [
          {
            "One noun:": "things"
          },
          {
            "Action:": "examining"
          }
        ]
      ]
    },
    {
      "--": "getting in/from; taking"
    },
    {
      "Interpret:with:": [
        "get",
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": [
                      "in",
                      "on"
                    ]
                  },
                  {
                    "Action:": "traveling"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One word:": [
                      "in",
                      "into",
                      "on",
                      "onto"
                    ]
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "traveling"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "Retarget:": [
                      {
                        "One noun:": "things"
                      },
                      {
                        "One word:": [
                          "from",
                          "off"
                        ]
                      },
                      {
                        "One noun:": "things"
                      }
                    ]
                  },
                  {
                    "Action:": "retrieving from"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "taking"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": "go (enter)"
    },
    {
      "Interpret:with:": [
        [
          "go",
          "run",
          "walk"
        ],
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": [
                      "in",
                      "into",
                      "inside",
                      "through"
                    ]
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "traveling"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "traveling"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        [
          "i",
          "inv",
          "inventorying"
        ],
        [
          {
            "Action:": "inventorying"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "insert",
        [
          {
            "One noun:": "things"
          },
          {
            "One word:": [
              "in",
              "into"
            ]
          },
          {
            "One noun:": "things"
          },
          {
            "Action:": "storing into"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        [
          "look",
          "l"
        ],
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "at"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "examining"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One word:": [
                      "in",
                      "inside",
                      "into",
                      "through",
                      "on"
                    ]
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "searching"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One word:": "under"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "peeking"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "examining"
                  }
                ]
              },
              {
                "Action:": "looking"
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        [
          "open",
          "unwrap",
          "uncover"
        ],
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "opening"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "pick",
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "up"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "taking"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "One word:": "up"
                  },
                  {
                    "Action:": "taking"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "put",
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "on"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "wearing"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "One of:": [
                      {
                        "Sequence:": [
                          {
                            "One word:": [
                              "in",
                              "inside",
                              "into",
                              "onto"
                            ]
                          },
                          {
                            "One noun:": "things"
                          },
                          {
                            "Action:": "storing into"
                          }
                        ]
                      },
                      {
                        "Sequence:": [
                          {
                            "One word:": "on"
                          },
                          {
                            "One of:": [
                              {
                                "Sequence:": [
                                  {
                                    "One noun:": "things"
                                  },
                                  {
                                    "Action:": "storing into"
                                  }
                                ]
                              },
                              {
                                "Action:": "wearing"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "read",
        [
          {
            "One noun:": "things"
          },
          {
            "Action:": "examining"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "remove",
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "Retarget:": [
                      {
                        "One noun:": "things"
                      },
                      {
                        "One word:": "from"
                      },
                      {
                        "One noun:": "things"
                      }
                    ]
                  },
                  {
                    "Action:": "retrieving from"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "removing"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "search",
        [
          {
            "One noun:": "things"
          },
          {
            "Action:": "searching"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        [
          "switch",
          "rotate",
          "twist",
          "unscrew",
          "screw"
        ],
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "on"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "activating"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One word:": "off"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "deactivating"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "One of:": [
                      {
                        "Sequence:": [
                          {
                            "One word:": "on"
                          },
                          {
                            "Action:": "activating"
                          }
                        ]
                      },
                      {
                        "Sequence:": [
                          {
                            "One word:": "off"
                          },
                          {
                            "Action:": "deactivating"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "shut",
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "off"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "deactivating"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One word:": "up"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "closing"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "One of:": [
                      {
                        "Sequence:": [
                          {
                            "One word:": "off"
                          },
                          {
                            "Action:": "deactivating"
                          }
                        ]
                      },
                      {
                        "Sequence:": [
                          {
                            "One word:": "up"
                          },
                          {
                            "Action:": "closing"
                          }
                        ]
                      },
                      {
                        "Action:": "closing"
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        "take",
        [
          {
            "One of:": [
              {
                "Sequence:": [
                  {
                    "One word:": "inventory"
                  },
                  {
                    "Action:": "inventorying"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One word:": "off"
                  },
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "removing"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "Retarget:": [
                      {
                        "One noun:": "things"
                      },
                      {
                        "One word:": [
                          "off",
                          "from"
                        ]
                      },
                      {
                        "One noun:": "things"
                      }
                    ]
                  },
                  {
                    "Action:": "removing"
                  }
                ]
              },
              {
                "Sequence:": [
                  {
                    "One noun:": "things"
                  },
                  {
                    "Action:": "taking"
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        [
          "wait",
          "z"
        ],
        [
          {
            "Action:": "waiting"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Interpret:with:": [
        [
          "wear",
          "don"
        ],
        [
          {
            "One noun:": "things"
          },
          {
            "Action:": "wearing"
          }
        ]
      ]
    }
  ]
}
