{
  "Tapestry:": [
    {
      "--": "A set of objects common to all the grouping tests.",
      "TestScene:story:": [
        "Grouping tests",
        [
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:": "Clarence"
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "actor"
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Nouns:named:": [
                    "two",
                    "cats"
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "area",
                  "animals"
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "an",
                    {
                      "Noun:": "empire apple"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "pen"
                    }
                  ]
                },
                {
                  "Nouns:named:": [
                    "two",
                    "triangles"
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "area",
                  "prop"
                ]
              }
            ]
          },
          {
            "Make:kind:": [
              "triangles",
              "prop"
            ]
          },
          {
            "Make:kind:": [
              "scrabble tiles",
              "prop"
            ]
          },
          {
            "Make:kind:": [
              "cats",
              "animal"
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "an",
                    {
                      "Noun:": "X"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "W"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "an",
                    {
                      "Noun:": "F"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "Y"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "Z"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "are",
                  "scrabble tile"
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "No grouping",
        "Grouping tests",
        [
          {
            "Pattern:rules:": [
              "assign grouping",
              [
                {
                  "PatternRule:does:": [
                    {
                      "Always": true
                    },
                    [
                      {
                        "--": [
                          "For patterns which return a value, assigning a return value ends the pattern matching.",
                          "So end this pattern and block out the default handler."
                        ],
                        "Let:be:": [
                          "grouping",
                          "@grouping"
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "TestRule:does:": [
        "no grouping",
        [
          {
            "PrintInlineObjects objs:": {
              "FromTxts:": [
                "Clarence",
                "apple",
                "pen",
                "triangles_1",
                "triangles_2",
                "cats_1",
                "cats_2"
              ]
            }
          },
          {
            "Expect lines:": "Clarence, an empire apple, a pen, a triangle, a triangle, a cat, and a cat"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "Default grouping",
        "Grouping tests",
        null
      ]
    },
    {
      "TestRule:does:": [
        "default grouping",
        [
          {
            "PrintInlineObjects objs:": {
              "FromTxts:": [
                "Clarence",
                "apple",
                "pen",
                "triangles_1",
                "triangles_2",
                "cats_1",
                "cats_2"
              ]
            }
          },
          {
            "Expect lines:": "Clarence, an empire apple, a pen, two triangles, and two cats"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "custom few",
        "Grouping tests",
        [
          {
            "Pattern:rules:": [
              "assign grouping",
              [
                {
                  "PatternRule:does:": [
                    {
                      "KindOf:isExactly:": [
                        "@obj",
                        "props"
                      ]
                    },
                    [
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromTxt:": "props"
                          },
                          "label"
                        ]
                      },
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromBool:": true
                          },
                          "is hide label"
                        ]
                      },
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromBool:": true
                          },
                          "is hide size"
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Pattern:rules:": [
              "print several",
              [
                {
                  "PatternRule:does:": [
                    {
                      "AllTrue:": [
                        {
                          "KindOf:is:": [
                            "@obj",
                            "triangles"
                          ]
                        },
                        {
                          "Cmp:is:num:": [
                            "@group size",
                            "greater_than",
                            1
                          ]
                        }
                      ]
                    },
                    [
                      {
                        "Say:": "a few shapely trigons"
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "TestRule:does:": [
        "custom few",
        [
          {
            "Say:": {
              "Spaces does:": [
                {
                  "PrintInlineObjects objs:": {
                    "FromTxts:": [
                      "Clarence",
                      "apple",
                      "pen",
                      "triangles_1",
                      "triangles_2"
                    ]
                  }
                },
                {
                  "Say:": ";"
                },
                {
                  "PrintInlineObjects objs:": {
                    "FromTxts:": [
                      "Clarence",
                      "apple",
                      "pen",
                      "triangles_1"
                    ]
                  }
                }
              ]
            }
          },
          {
            "Expect lines:": "Clarence, an empire apple and a pen, and a few shapely trigons; Clarence, an empire apple and a pen, and one triangle"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "custom replacement",
        "Grouping tests",
        [
          {
            "Pattern:rules:": [
              "assign grouping",
              [
                {
                  "PatternRule:does:": [
                    {
                      "KindOf:is:": [
                        "@obj",
                        "props"
                      ]
                    },
                    [
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromTxt:": "some things"
                          },
                          "label"
                        ]
                      },
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromBool:": true
                          },
                          "is hide size"
                        ]
                      },
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromBool:": true
                          },
                          "is hide objects"
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "--": [
        "Deactivated",
        "uncounted objects are their own groups now; so the triangles don't group with generic props.",
        "tbd: how to fix this style of group printing."
      ],
      "TestScene:requires:story:": [
        "custom replacement",
        "Grouping tests",
        null
      ]
    },
    {
      "TestRule:does:": [
        "x custom replacement",
        [
          {
            "Say:": {
              "Spaces does:": [
                {
                  "PrintInlineObjects objs:": {
                    "FromTxts:": [
                      "Clarence",
                      "apple",
                      "pen",
                      "triangles_1",
                      "triangles_2"
                    ]
                  }
                },
                {
                  "Say:": ";"
                },
                {
                  "PrintInlineObjects objs:": {
                    "FromTxts:": [
                      "Clarence",
                      "apple"
                    ]
                  }
                }
              ]
            }
          },
          {
            "Expect lines:": "Clarence and some things; Clarence and an empire apple"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "custom fancy phrase",
        "Grouping tests",
        [
          {
            "Pattern:rules:": [
              "assign grouping",
              [
                {
                  "PatternRule:does:": [
                    {
                      "KindOf:is:": [
                        "@obj",
                        "props"
                      ]
                    },
                    [
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromTxt:": "the tiles"
                          },
                          "label"
                        ]
                      },
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromBool:": true
                          },
                          "is hide size"
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Pattern:rules:": [
              "print group",
              [
                {
                  "PatternRule:flags:does:": [
                    {
                      "Cmp:is:txt:": [
                        {
                          "Get:from:": [
                            "label",
                            {
                              "RecFields:": {
                                "Get:from:": [
                                  "grouping",
                                  {
                                    "VarFields:": "group"
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        "equal_to",
                        "the tiles"
                      ]
                    },
                    "before",
                    [
                      {
                        "Say:": "from a Scrabble set"
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Pattern:rules:": [
              "print grouped object",
              [
                {
                  "PatternRule:does:": [
                    {
                      "KindOf:is:": [
                        "@obj",
                        "scrabble tiles"
                      ]
                    },
                    [
                      {
                        "Say:": {
                          "RenderTemplate:": "{.obj}"
                        }
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "TestRule:does:": [
        "custom fancy phrase",
        [
          {
            "Say:": {
              "Spaces does:": [
                {
                  "PrintInlineObjects objs:": {
                    "FromTxts:": [
                      "x",
                      "w",
                      "f",
                      "y",
                      "z"
                    ]
                  }
                },
                {
                  "Say:": ";"
                },
                {
                  "PrintInlineObjects objs:": {
                    "FromTxts:": [
                      "Clarence",
                      "x",
                      "w",
                      "f",
                      "y",
                      "z"
                    ]
                  }
                }
              ]
            }
          },
          {
            "Expect lines:": "the tiles X, W, F, Y, and Z from a Scrabble set; Clarence and the tiles X, W, F, Y, and Z from a Scrabble set"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "custom parenthetical",
        "Grouping tests",
        [
          {
            "Pattern:rules:": [
              "assign grouping",
              [
                {
                  "PatternRule:does:": [
                    {
                      "KindOf:is:": [
                        "@obj",
                        "scrabble tiles"
                      ]
                    },
                    [
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromTxt:": "scrabble tiles"
                          },
                          "label"
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Pattern:rules:": [
              "print grouped object",
              [
                {
                  "PatternRule:does:": [
                    {
                      "KindOf:is:": [
                        "@obj",
                        "scrabble tiles"
                      ]
                    },
                    [
                      {
                        "Say:": {
                          "RenderTemplate:": "{.obj}"
                        }
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "TestRule:does:": [
        "custom parenthetical",
        [
          {
            "PrintInlineObjects objs:": {
              "FromTxts:": [
                "Clarence",
                "x",
                "w",
                "f",
                "y",
                "z"
              ]
            }
          },
          {
            "Expect lines:": "Clarence and five scrabble tiles (X, W, F, Y, and Z)"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "custom parenthetical articles",
        "Grouping tests",
        [
          {
            "Pattern:rules:": [
              "assign grouping",
              [
                {
                  "PatternRule:does:": [
                    {
                      "KindOf:is:": [
                        "@obj",
                        "scrabble tiles"
                      ]
                    },
                    [
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromTxt:": "scrabble tiles"
                          },
                          "label"
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "TestRule:does:": [
        "custom parenthetical articles",
        [
          {
            "PrintInlineObjects objs:": {
              "FromTxts:": [
                "Clarence",
                "x",
                "w",
                "f",
                "y",
                "z"
              ]
            }
          },
          {
            "Expect lines:": "Clarence and five scrabble tiles (a X, a W, a F, a Y, and a Z)"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "custom unnamed parenthetical",
        "Grouping tests",
        [
          {
            "Pattern:rules:": [
              "assign grouping",
              [
                {
                  "PatternRule:does:": [
                    {
                      "KindOf:is:": [
                        "@obj",
                        "props"
                      ]
                    },
                    [
                      {
                        "Put:from:at:": [
                          {
                            "VarField:": "grouping"
                          },
                          {
                            "FromTxt:": "things"
                          },
                          "label"
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "TestRule:does:": [
        "x custom unnamed parenthetical",
        [
          {
            "Say:": {
              "Spaces does:": [
                {
                  "PrintInlineObjects objs:": {
                    "FromTxts:": [
                      "Clarence",
                      "apple",
                      "pen",
                      "triangles_1"
                    ]
                  }
                },
                {
                  "Say:": ";"
                },
                {
                  "PrintInlineObjects objs:": {
                    "FromTxts:": [
                      "Clarence",
                      "apple",
                      "pen",
                      "triangles_1",
                      "triangles_2"
                    ]
                  }
                }
              ]
            }
          },
          {
            "Expect lines:": "Clarence and three things (an empire apple, a pen, and one triangle); Clarence and four things (an empire apple, a pen, and two triangles)"
          }
        ]
      ]
    }
  ]
}
