{
  "Tapestry:": [
    {
      "Test:withScene:do:": [
        "grouping tests",
        [
          {
            "Define nouns:as:": [
              "Clarence",
              "an actor"
            ]
          },
          {
            "Define nouns:as:": [
              "two cats",
              "animals"
            ]
          },
          {
            "Define nouns:as:": [
              [
                "an empire apple",
                "a pen",
                "two triangles"
              ],
              "props"
            ]
          },
          {
            "Define kinds:as:": [
              "triangles",
              "prop"
            ]
          },
          {
            "Define kinds:as:": [
              "scrabble tiles",
              "prop"
            ]
          },
          {
            "Define kinds:as:": [
              "cats",
              "animal"
            ]
          },
          {
            "Define nouns:as:": [
              [
                "an X",
                "a W",
                "an F",
                "a Y",
                "a Z"
              ],
              "scrabble tiles"
            ]
          },
          {
            "Comment:": [
              "fix? the rules for deciding whether something starts with a vowel ( and therefore should use indefinite article 'an' ) ",
              "are defined by the \"starts with vowel\" pattern. so, even though, we've explicitly said \"an x\" in the declaration: that doesn't matter.",
              "ImportNouns() doesn't see the \"an\" as being special, and so doesn't get assign the noun a customized indefinite article.",
              "( Inform also has this issue. ) ",
              "Potentially, the importer could look for the \"starts with vowel\" pattern, and if it exists, call it, and if it differs store the article.",
              "Or, maybe we could store the (various) articles used when defining the noun, sort through them, and pick the most reasonable one -- always storing that regardless.",
              "saying only ever \"the X\" , for example, would be remembered, but wouldn't alter the set of indefinite articles."
            ]
          },
          {
            "Define value:of:asLines:": [
              "indefinite article",
              [
                "the x",
                "the f"
              ],
              "an"
            ]
          },
          {
            "Test:withScene:do:": [
              "no grouping",
              [
                {
                  "Extend pattern:withRules:": [
                    "assign grouping",
                    [
                      {
                        "PatternRule:does:": [
                          true,
                          [
                            {
                              "--": [
                                "For patterns which return a value, assigning a return value ends the pattern matching.",
                                "So end this pattern and block out the default handler."
                              ],
                              "Set:from:": [
                                "@grouping",
                                {
                                  "FromRecord:": "@grouping"
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              ],
              [
                {
                  "PrintInlineObjects objs:": {
                    "FromTextList:": [
                      "Clarence",
                      "apple",
                      "pen",
                      "triangles_1",
                      "triangles_2",
                      "cats_1",
                      "cats_2"
                    ]
                  }
                },
                {
                  "Expect output:": "Clarence, an empire apple, a pen, a triangle, a triangle, a cat, and a cat"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Test:do:": [
              "default grouping",
              [
                {
                  "PrintInlineObjects objs:": {
                    "FromTextList:": [
                      "Clarence",
                      "apple",
                      "pen",
                      "triangles_1",
                      "triangles_2",
                      "cats_1",
                      "cats_2"
                    ]
                  }
                },
                {
                  "Expect output:": "Clarence, an empire apple, a pen, two triangles, and two cats"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Test:withScene:do:": [
              "custom few",
              [
                {
                  "Extend pattern:withRules:": [
                    "assign grouping",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "KindOf:isExactly:": [
                              "@obj",
                              "props"
                            ]
                          },
                          [
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "label"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromText:": "props"
                                }
                              ]
                            },
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "is hide label"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromBool:": true
                                }
                              ]
                            },
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "is hide size"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromBool:": true
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                },
                {
                  "--": ""
                },
                {
                  "Extend pattern:withRules:": [
                    "print several",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "AllTrue:": [
                              {
                                "KindOf:is:": [
                                  "@obj",
                                  "triangles"
                                ]
                              },
                              {
                                "Cmp:is:num:": [
                                  "@group size",
                                  "greater_than",
                                  1
                                ]
                              }
                            ]
                          },
                          [
                            {
                              "Print:": "a few shapely trigons"
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              ],
              [
                {
                  "Print:": {
                    "Spaces does:": [
                      {
                        "PrintInlineObjects objs:": {
                          "FromTextList:": [
                            "Clarence",
                            "apple",
                            "pen",
                            "triangles_1",
                            "triangles_2"
                          ]
                        }
                      },
                      {
                        "Print:": ";"
                      },
                      {
                        "PrintInlineObjects objs:": {
                          "FromTextList:": [
                            "Clarence",
                            "apple",
                            "pen",
                            "triangles_1"
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "Expect output:": "Clarence, an empire apple and a pen, and a few shapely trigons; Clarence, an empire apple and a pen, and one triangle"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Test:withScene:do:": [
              "x custom replacement",
              [
                {
                  "Extend pattern:withRules:": [
                    "assign grouping",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "KindOf:is:": [
                              "@obj",
                              "props"
                            ]
                          },
                          [
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "label"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromText:": "some things"
                                }
                              ]
                            },
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "is hide size"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromBool:": true
                                }
                              ]
                            },
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "is hide objects"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromBool:": true
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              ],
              [
                {
                  "Print:": {
                    "Spaces does:": [
                      {
                        "PrintInlineObjects objs:": {
                          "FromTextList:": [
                            "Clarence",
                            "apple",
                            "pen",
                            "triangles_1",
                            "triangles_2"
                          ]
                        }
                      },
                      {
                        "Print:": ";"
                      },
                      {
                        "PrintInlineObjects objs:": {
                          "FromTextList:": [
                            "Clarence",
                            "apple"
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "Expect output:": "Clarence and some things; Clarence and an empire apple"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Test:withScene:do:": [
              "custom fancy phrase",
              [
                {
                  "Extend pattern:withRules:": [
                    "assign grouping",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "KindOf:is:": [
                              "@obj",
                              "props"
                            ]
                          },
                          [
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "label"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromText:": "the tiles"
                                }
                              ]
                            },
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "is hide size"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromBool:": true
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                },
                {
                  "--": ""
                },
                {
                  "Extend pattern:withRules:": [
                    "print group",
                    [
                      {
                        "PatternRule:flags:does:": [
                          {
                            "Cmp:is:txt:": [
                              {
                                "Variable:dot:": [
                                  "group",
                                  [
                                    {
                                      "AtField:": "grouping"
                                    },
                                    {
                                      "AtField:": "label"
                                    }
                                  ]
                                ]
                              },
                              "equal_to",
                              "the tiles"
                            ]
                          },
                          "before",
                          [
                            {
                              "Print:": "from a Scrabble set"
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                },
                {
                  "--": ""
                },
                {
                  "Extend pattern:withRules:": [
                    "print grouped object",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "KindOf:is:": [
                              "@obj",
                              "scrabble tiles"
                            ]
                          },
                          [
                            {
                              "Say:": "{.obj}"
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              ],
              [
                {
                  "Print:": {
                    "Spaces does:": [
                      {
                        "PrintInlineObjects objs:": {
                          "FromTextList:": [
                            "x",
                            "w",
                            "f",
                            "y",
                            "z"
                          ]
                        }
                      },
                      {
                        "Print:": ";"
                      },
                      {
                        "PrintInlineObjects objs:": {
                          "FromTextList:": [
                            "Clarence",
                            "x",
                            "w",
                            "f",
                            "y",
                            "z"
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "Expect output:": "the tiles X, W, F, Y, and Z from a Scrabble set; Clarence and the tiles X, W, F, Y, and Z from a Scrabble set"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Test:withScene:do:": [
              "custom parenthetical",
              [
                {
                  "Extend pattern:withRules:": [
                    "assign grouping",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "KindOf:is:": [
                              "@obj",
                              "scrabble tiles"
                            ]
                          },
                          [
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "label"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromText:": "scrabble tiles"
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                },
                {
                  "--": ""
                },
                {
                  "Extend pattern:withRules:": [
                    "print grouped object",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "KindOf:is:": [
                              "@obj",
                              "scrabble tiles"
                            ]
                          },
                          [
                            {
                              "Say:": "{.obj}"
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              ],
              [
                {
                  "PrintInlineObjects objs:": {
                    "FromTextList:": [
                      "Clarence",
                      "x",
                      "w",
                      "f",
                      "y",
                      "z"
                    ]
                  }
                },
                {
                  "Expect output:": "Clarence and five scrabble tiles (X, W, F, Y, and Z)"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Test:withScene:do:": [
              "custom parenthetical articles",
              [
                {
                  "Extend pattern:withRules:": [
                    "assign grouping",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "KindOf:is:": [
                              "@obj",
                              "scrabble tiles"
                            ]
                          },
                          [
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "label"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromText:": "scrabble tiles"
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              ],
              [
                {
                  "PrintInlineObjects objs:": {
                    "FromTextList:": [
                      "Clarence",
                      "x",
                      "w",
                      "f",
                      "y",
                      "z"
                    ]
                  }
                },
                {
                  "Expect output:": "Clarence and five scrabble tiles (an X, a W, an F, a Y, and a Z)"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "--": [
              "this has been disabled for quite a while.",
              "even though the triangles are counted nouns",
              "for some reason they get pulled into the 'things' group",
              "and print ex. 'a triangle' instead of 'one triangle'."
            ],
            "Test:withScene:do:": [
              "x custom unnamed parenthetical",
              [
                {
                  "Extend pattern:withRules:": [
                    "assign grouping",
                    [
                      {
                        "PatternRule:does:": [
                          {
                            "KindOf:is:": [
                              "@obj",
                              "props"
                            ]
                          },
                          [
                            {
                              "Set:from:": [
                                {
                                  "Variable:dot:": [
                                    "grouping",
                                    [
                                      {
                                        "AtField:": "label"
                                      }
                                    ]
                                  ]
                                },
                                {
                                  "FromText:": "things"
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              ],
              [
                {
                  "Print:": {
                    "Spaces does:": [
                      {
                        "PrintInlineObjects objs:": {
                          "FromTextList:": [
                            "Clarence",
                            "apple",
                            "pen",
                            "triangles_1"
                          ]
                        }
                      },
                      {
                        "Print:": ";"
                      },
                      {
                        "PrintInlineObjects objs:": {
                          "FromTextList:": [
                            "Clarence",
                            "apple",
                            "pen",
                            "triangles_1",
                            "triangles_2"
                          ]
                        }
                      }
                    ]
                  }
                },
                {
                  "Expect output:": "Clarence and three things (an empire apple, a pen, and one triangle); Clarence and four things (an empire apple, a pen, and two triangles)"
                }
              ]
            ]
          }
        ],
        [
          {
            "DoNothing": true
          }
        ]
      ]
    }
  ]
}
