{
  "Tapestry:": [
    {
      "--": "Returns a list of the objects partitioned into groups.",
      "Pattern:requires:returns:": [
        "make groups",
        [
          {
            "TextList:": "objs"
          }
        ],
        {
          "PatternResult:": {
            "RecordList:kind:": [
              "groups",
              "object group"
            ]
          }
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "make groups",
        [
          {
            "RecordList:kind:": [
              "groupings",
              "grouping"
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Map:fromList:using:": [
                    "@groupings",
                    {
                      "FromText:": {
                        "Text value:": "@objs"
                      }
                    },
                    "assign grouping"
                  ]
                },
                {
                  "Reduce into:fromList:using:": [
                    "@groups",
                    {
                      "FromText:": {
                        "Text value:": "@groupings"
                      }
                    },
                    "collate groups"
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:returns:": [
        "assign grouping",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "PatternResult:": {
            "Record:kind:": [
              "grouping",
              "grouping"
            ]
          }
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "assign grouping",
        [
          {
            "Record:kind:initially:": [
              "grouping",
              "grouping",
              {
                "Groupings name:": {
                  "FromText:": "@obj"
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Set:from:": [
                    "@grouping",
                    {
                      "FromText:": "@grouping"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Object:field:": [
                      "@obj",
                      "counted"
                    ]
                  },
                  {
                    "Is empty:": {
                      "Variable:dot:": [
                        "grouping",
                        [
                          {
                            "AtField:": "label"
                          }
                        ]
                      ]
                    }
                  }
                ]
              },
              [
                {
                  "--": "unless already grouped, use print several for unnamed counted nouns.",
                  "Set:from:": [
                    {
                      "Variable:dot:": [
                        "grouping",
                        [
                          {
                            "AtField:": "label"
                          }
                        ]
                      ]
                    },
                    {
                      "FromText:": {
                        "KindOf:": "@obj"
                      }
                    }
                  ]
                },
                {
                  "Set:from:": [
                    {
                      "Variable:dot:": [
                        "grouping",
                        [
                          {
                            "AtField:": "is hide label"
                          }
                        ]
                      ]
                    },
                    {
                      "FromBool:": true
                    }
                  ]
                },
                {
                  "Set:from:": [
                    {
                      "Variable:dot:": [
                        "grouping",
                        [
                          {
                            "AtField:": "is hide objects"
                          }
                        ]
                      ]
                    },
                    {
                      "FromBool:": true
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Make:kind:": [
        "Groupings",
        "record"
      ]
    },
    {
      "Kinds:have:": [
        "Groupings",
        [
          {
            "--": "the name of an object the grouping describes",
            "Text:": "name"
          },
          {
            "Text:": "label"
          },
          {
            "Bool:": "hide label"
          },
          {
            "Bool:": "hide size"
          },
          {
            "Bool:": "hide objects"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Make:kind:": [
        "Object groups",
        "records"
      ]
    },
    {
      "Kinds:have:": [
        "Object groups",
        [
          {
            "Record:kind:": [
              "grouping",
              "groupings"
            ]
          },
          {
            "TextList:": "objects"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:returns:": [
        "match groups",
        [
          {
            "Record:kind:": [
              "first",
              "grouping"
            ]
          },
          {
            "Record:kind:": [
              "second",
              "grouping"
            ]
          }
        ],
        {
          "PatternResult:": {
            "Bool:": "matching"
          }
        }
      ]
    },
    {
      "Pattern:rules:": [
        "match groups",
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      {
                        "Variable:dot:": [
                          "first",
                          [
                            {
                              "AtField:": "label"
                            }
                          ]
                        ]
                      },
                      "equal_to",
                      {
                        "Variable:dot:": [
                          "second",
                          [
                            {
                              "AtField:": "label"
                            }
                          ]
                        ]
                      }
                    ]
                  },
                  {
                    "Cmp:is:txt:": [
                      {
                        "Variable:dot:": [
                          "first",
                          [
                            {
                              "AtField:": "hide label"
                            }
                          ]
                        ]
                      },
                      "equal_to",
                      {
                        "Variable:dot:": [
                          "second",
                          [
                            {
                              "AtField:": "hide label"
                            }
                          ]
                        ]
                      }
                    ]
                  },
                  {
                    "Cmp:is:txt:": [
                      {
                        "Variable:dot:": [
                          "first",
                          [
                            {
                              "AtField:": "hide size"
                            }
                          ]
                        ]
                      },
                      "equal_to",
                      {
                        "Variable:dot:": [
                          "second",
                          [
                            {
                              "AtField:": "hide size"
                            }
                          ]
                        ]
                      }
                    ]
                  },
                  {
                    "Cmp:is:txt:": [
                      {
                        "Variable:dot:": [
                          "first",
                          [
                            {
                              "AtField:": "hide objects"
                            }
                          ]
                        ]
                      },
                      "equal_to",
                      {
                        "Variable:dot:": [
                          "second",
                          [
                            {
                              "AtField:": "hide objects"
                            }
                          ]
                        ]
                      }
                    ]
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@matching",
                    {
                      "FromBool:": true
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AnyTrue:": [
                  {
                    "Is empty:": {
                      "Variable:dot:": [
                        "first",
                        [
                          {
                            "AtField:": "label"
                          }
                        ]
                      ]
                    }
                  },
                  {
                    "Is empty:": {
                      "Variable:dot:": [
                        "second",
                        [
                          {
                            "AtField:": "label"
                          }
                        ]
                      ]
                    }
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@matching",
                    {
                      "FromBool:": false
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "--": "Adds a grouping to a collated list of groupings, and returns the new list.",
      "Pattern:requires:returns:": [
        "collate groups",
        [
          {
            "Record:kind:": [
              "grouping",
              "grouping"
            ]
          },
          {
            "RecordList:kind:": [
              "groups",
              "object group"
            ]
          }
        ],
        {
          "PatternResult:": {
            "RecordList:kind:": [
              "groups",
              "object group"
            ]
          }
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "collate groups",
        [
          {
            "Number:": "idx"
          },
          {
            "Record:kind:": [
              "group",
              "object group"
            ]
          },
          {
            "TextList:": "names"
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Comment:": "find the index of the matching group"
                },
                {
                  "Repeating across:as:does:": [
                    {
                      "FromRecordList:": "@groups"
                    },
                    "el",
                    [
                      {
                        "If:does:": [
                          {
                            "MatchGroups first:second:": [
                              {
                                "FromRecord:": "@grouping"
                              },
                              {
                                "FromRecord:": {
                                  "Variable:dot:": [
                                    "el",
                                    [
                                      {
                                        "AtField:": "grouping"
                                      }
                                    ]
                                  ]
                                }
                              }
                            ]
                          },
                          [
                            {
                              "Set:from:": [
                                "@idx",
                                {
                                  "FromText:": "@index"
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                },
                {
                  "Comment:": [
                    "haven't found a matching group?",
                    "pack the object and its settings into a group, and add it into the groups."
                  ]
                },
                {
                  "If:does:else:": [
                    {
                      "Cmp:is:num:": [
                        "@idx",
                        "equal_to",
                        0
                      ]
                    },
                    [
                      {
                        "Push:into:": [
                          {
                            "FromText:": {
                              "Variable:dot:": [
                                "grouping",
                                [
                                  {
                                    "AtField:": "name"
                                  }
                                ]
                              ]
                            }
                          },
                          "@names"
                        ]
                      },
                      {
                        "Set:from:": [
                          {
                            "Variable:dot:": [
                              "group",
                              [
                                {
                                  "AtField:": "objects"
                                }
                              ]
                            ]
                          },
                          {
                            "FromTextList:": "@names"
                          }
                        ]
                      },
                      {
                        "Set:from:": [
                          {
                            "Variable:dot:": [
                              "group",
                              [
                                {
                                  "AtField:": "grouping"
                                }
                              ]
                            ]
                          },
                          {
                            "FromRecord:": "@grouping"
                          }
                        ]
                      },
                      {
                        "Push:into:": [
                          {
                            "FromRecord:": "@group"
                          },
                          "@groups"
                        ]
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Comment:": [
                            "found a matching group?",
                            "unpack it, add the object name to it, then pack it up again."
                          ]
                        },
                        {
                          "Set:from:": [
                            "@group",
                            {
                              "FromRecord:": {
                                "Variable:dot:": [
                                  "groups",
                                  [
                                    {
                                      "AtIndex:": "@idx"
                                    }
                                  ]
                                ]
                              }
                            }
                          ]
                        },
                        {
                          "Set:from:": [
                            "@names",
                            {
                              "FromTextList:": {
                                "Variable:dot:": [
                                  "group",
                                  [
                                    {
                                      "AtField:": "objects"
                                    }
                                  ]
                                ]
                              }
                            }
                          ]
                        },
                        {
                          "Push:into:": [
                            {
                              "FromText:": {
                                "Variable:dot:": [
                                  "grouping",
                                  [
                                    {
                                      "AtField:": "name"
                                    }
                                  ]
                                ]
                              }
                            },
                            "@names"
                          ]
                        },
                        {
                          "Set:from:": [
                            {
                              "Variable:dot:": [
                                "group",
                                [
                                  {
                                    "AtField:": "objects"
                                  }
                                ]
                              ]
                            },
                            {
                              "FromTextList:": "@names"
                            }
                          ]
                        },
                        {
                          "Set:index:from:": [
                            {
                              "FromText:": "groups"
                            },
                            {
                              "FromText:": {
                                "Text value:": "@idx"
                              }
                            },
                            {
                              "FromText:": {
                                "Text value:": "@group"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
