{
  "Tapestry:": [
    {
      "Event:action:args none:": [
        "inventory",
        "inventorying",
        "nothing"
      ]
    },
    {
      "Pattern:provides:rules:": [
        "inventorying",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "object",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "Send:event:": [
                    {
                      "Capture obj:": {
                        "FromText:": "@actor"
                      }
                    },
                    {
                      "Inventory actor:": {
                        "FromText:": "@actor"
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Listen kinds:handlers:": [
        "actors",
        [
          {
            "With:event:rules:": [
              "while",
              "inventory",
              [
                {
                  "PatternRule:does:": [
                    true,
                    [
                      {
                        "PrintInventory actor:": {
                          "FromText:": "@actor"
                        }
                      },
                      {
                        "Set:from:": [
                          "@success",
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "print inventory",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:provides:rules:": [
        "print inventory",
        [
          {
            "TextList:initially:": [
              "kids",
              {
                "ChildrenOf obj:": {
                  "FromText:": "@actor"
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "carrying nothing",
                      {
                        "RenderTemplate:": "{we:|capitalize!} {are:.actor} carrying nothing."
                      }
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Cmp:is:num:": [
                  {
                    "Len:": {
                      "FromTextList:": "@kids"
                    }
                  },
                  "greater_than",
                  0
                ]
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "carrying something",
                      {
                        "RenderTemplate:": "You are carrying:"
                      }
                    ]
                  }
                },
                {
                  "PrintBlocks objs:": {
                    "FromTextList:": "@kids"
                  }
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
