{
  "Story:": [
    {
      "Event:action:args none:": [
        "inventory",
        "inventorying",
        "nothing"
      ]
    },
    {
      "Pattern:with:rules:": [
        "inventorying",
        {
          "PatternLocals:": [
            {
              "LocalDecl:value:": [
                {
                  "Text named:of:": [
                    "actor",
                    "object"
                  ]
                },
                {
                  "LocalInit:": {
                    "Get:from:": [
                      "pawn",
                      {
                        "VarFields:": "agent"
                      }
                    ]
                  }
                }
              ]
            }
          ]
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "IsPlayer obj:": "@actor"
                },
                {
                  "Act:": [
                    {
                      "Send:event:": [
                        {
                          "ParentsOf obj:": "@actor"
                        },
                        {
                          "Inventory actor:": "@actor"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "--": ""
    },
    {
      "Listen kinds:handlers:": [
        "actors",
        [
          {
            "With:event:rules:": [
              "while",
              "inventory",
              {
                "PatternRules:": [
                  {
                    "PatternRule:hook activity:": [
                      {
                        "Always": []
                      },
                      {
                        "Act:": [
                          {
                            "PrintInventory actor:": "@actor"
                          },
                          {
                            "Let:be:": [
                              "success",
                              {
                                "FromBool:": true
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "print inventory",
        {
          "PatternRequires:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            }
          ]
        }
      ]
    },
    {
      "Pattern:with:rules:": [
        "print inventory",
        {
          "PatternLocals:": [
            {
              "LocalDecl:value:": [
                {
                  "TextList named:": "kids"
                },
                {
                  "LocalInit:": {
                    "FromTxts:": {
                      "ChildrenOf obj:": "@actor"
                    }
                  }
                }
              ]
            }
          ]
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Always": []
                },
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "carrying nothing",
                          {
                            "RenderTemplate:": "{we:|capitalize!} {are:.actor} carrying nothing."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "Cmp:is:num:": [
                    {
                      "Len:": "@kids"
                    },
                    {
                      "GreaterThan": []
                    },
                    0
                  ]
                },
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "carrying something",
                          {
                            "RenderTemplate:": "You are carrying:"
                          }
                        ]
                      }
                    },
                    {
                      "PrintBlocks objs:": "@kids"
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
