{
  "Tapestry:": [
    {
      "TestScene:requires:story:": [
        "status printing test",
        "thingaverse",
        null
      ]
    },
    {
      "TestRule:does:": [
        "status printing test",
        [
          {
            "Say:": {
              "RenderTemplate:": "{the: .flower}: {print_status:.flower}."
            }
          },
          {
            "Expect lines:": "the flower: (being worn)."
          },
          {
            "Say:": {
              "RenderTemplate:": "{the: .headlamp}: {print_status:.headlamp}."
            }
          },
          {
            "Expect lines:": "the headlamp: (providing light and being worn)."
          },
          {
            "Say:": {
              "RenderTemplate:": "{the: .secrets}: {print_status:.secrets}."
            }
          },
          {
            "Expect lines:": "the book of secrets: (closed and locked)."
          },
          {
            "Say:": {
              "RenderTemplate:": "{the: .wisdom}: {print_status:.wisdom true}."
            }
          },
          {
            "Expect lines:": "the book of wisdom: (open but empty)."
          },
          {
            "Say:": {
              "RenderTemplate:": "{the: .clutch}: {print_status:.clutch}."
            }
          },
          {
            "Expect lines:": "the clutch: (open)."
          },
          {
            "Say:": {
              "RenderTemplate:": "{the: .purse}: {print_status:.purse}."
            }
          },
          {
            "Expect lines:": "the purse: (open)."
          },
          {
            "Say:": {
              "RenderTemplate:": "{the: .flashlight}: {print_status:.flashlight}."
            }
          },
          {
            "Expect lines:": "the flashlight: (providing light)."
          },
          {
            "Say:": {
              "RenderTemplate:": "{the: .coin}: {print_status:.coin}."
            }
          },
          {
            "Expect lines:": "the coin: ."
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "TestScene:requires:story:": [
        "default inventory",
        "Kitchenette",
        null
      ]
    },
    {
      "TestRule:does:": [
        "default inventory",
        [
          {
            "PrintInventory actor:": {
              "FromTxt:": {
                "IdOf:": "Mildred"
              }
            }
          },
          {
            "Expect lines:": [
              "You are carrying:",
              "  - a book of secrets (closed and locked)",
              "  - a book of wisdom (open but empty)",
              "  - a clutch (open) ",
              "    - a purse (open) ",
              "      - a coin",
              "  - a flower (being worn)",
              "  - a headlamp (providing light and being worn)"
            ]
          }
        ]
      ]
    }
  ]
}
