{
  "Story:": [
    {
      "GrammarDecl:": {
        "Directive:scans:": [
          [
            "jump",
            "skip",
            "hop"
          ],
          [
            {
              "As:": "jumping"
            }
          ]
        ]
      }
    },
    {
      "--": ""
    },
    {
      "Event:action:args none:": [
        "jump",
        "jumping",
        "nothing"
      ]
    },
    {
      "Pattern:with:rules:": [
        "jumping",
        {
          "PatternLocals:": [
            {
              "LocalDecl:value:": [
                {
                  "Text named:of:": [
                    "actor",
                    "object"
                  ]
                },
                {
                  "LocalInit:": {
                    "Get:from:": [
                      "pawn",
                      {
                        "VarFields:": "agent"
                      }
                    ]
                  }
                }
              ]
            }
          ]
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "IsPlayer obj:": "@actor"
                },
                {
                  "Act:": [
                    {
                      "ReportJumping actor:": "@actor"
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report jumping",
        {
          "PatternRequires:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            }
          ]
        }
      ]
    },
    {
      "Pattern:rules:": [
        "report jumping",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Always": []
                },
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "actor jumping",
                          {
                            "RenderTemplate:": "{the:.actor|capitalize!} jumps on the spot."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "IsPlayer obj:": "@actor"
                },
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "player jumping",
                          {
                            "RenderTemplate:": "{we:|capitalize!} jump on the spot."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
