{
  "Tapestry:": [
    {
      "GrammarDecl:": {
        "Directive:scans:": [
          [
            "jump",
            "skip",
            "hop"
          ],
          [
            {
              "As:": "jumping"
            }
          ]
        ]
      }
    },
    {
      "--": ""
    },
    {
      "Event:action:args none:": [
        "jump",
        "jumping",
        "nothing"
      ]
    },
    {
      "Pattern:provides:rules:": [
        "jumping",
        [
          {
            "Text named:of:initially:": [
              "actor",
              "object",
              {
                "Get:from:": [
                  "pawn",
                  {
                    "VarFields:": "agent"
                  }
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": "@actor"
              },
              [
                {
                  "ReportJumping actor:": "@actor"
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report jumping",
        [
          {
            "Text named:of:": [
              "actor",
              "actor"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "report jumping",
        [
          {
            "PatternRule:does:": [
              {
                "Always": true
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "actor jumping",
                      {
                        "RenderTemplate:": "{the:.actor|capitalize!} jumps on the spot."
                      }
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": "@actor"
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "player jumping",
                      {
                        "RenderTemplate:": "{we:|capitalize!} jump on the spot."
                      }
                    ]
                  }
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
