{
  "Tapestry:": [
    {
      "GrammarDecl:": {
        "Directive:scans:": [
          [
            "jump",
            "skip",
            "hop"
          ],
          [
            {
              "As:": "jumping"
            }
          ]
        ]
      }
    },
    {
      "--": ""
    },
    {
      "Event:action:args none:": [
        "jump",
        "jumping",
        "nothing"
      ]
    },
    {
      "Pattern:provides:rules:": [
        "jumping",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "object",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "ReportJumping actor:": {
                    "FromText:": "@actor"
                  }
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report jumping",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "report jumping",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print response:with:": [
                    "actor jumping",
                    {
                      "Say:": "{the:.actor|capitalize!} jumps on the spot."
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "Print response:with:": [
                    "player jumping",
                    {
                      "Say:": "{we:|capitalize!} jump on the spot."
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
