{
  "Tapestry:": [
    {
      "Define kinds:as:": [
        "Objects",
        "kind"
      ]
    },
    {
      "Define kind:fields:": [
        "Objects",
        [
          {
            "Text:": "description"
          },
          {
            "Text:": "indefinite article"
          },
          {
            "Text:": "grouping label"
          },
          {
            "Aspect:": "noun types"
          },
          {
            "Aspect:": "private names"
          },
          {
            "Text:": "printed name"
          }
        ]
      ]
    },
    {
      "Define traits:as:": [
        [
          "common named",
          "proper named",
          "counted"
        ],
        "noun types"
      ]
    },
    {
      "--": [
        "when objects are publicly named, their name can appear in the output text.",
        "by default, the names of privately named objects will never be displayed to the player."
      ],
      "Define traits:as:": [
        [
          "publicly named",
          "privately named"
        ],
        "private names"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "Things",
        "object"
      ]
    },
    {
      "Define kinds:as:": [
        "possessiveness",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "not worn",
          "worn"
        ],
        "possessiveness"
      ]
    },
    {
      "Define kinds:as:": [
        "portability",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "portable",
          "fixed in place"
        ],
        "portability"
      ]
    },
    {
      "Define kind:fields:": [
        "Things",
        [
          {
            "Aspect:": "portability"
          },
          {
            "Aspect:": "possessiveness"
          },
          {
            "Aspect:": "wearability"
          }
        ]
      ]
    },
    {
      "Define kinds:as:": [
        "scenery status",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "not scenery",
          "scenery"
        ],
        "scenery status"
      ]
    },
    {
      "Define kind:fields:": [
        "Things",
        [
          {
            "Aspect:": "scenery status"
          }
        ]
      ]
    },
    {
      "Define kind:fields:": [
        "Things",
        [
          {
            "Text:": "initial appearance"
          }
        ]
      ]
    },
    {
      "Define kind:fields:": [
        "Things",
        [
          {
            "Aspect:": "mentionable"
          }
        ]
      ]
    },
    {
      "Define kinds:as:": [
        "mentionable",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "not mentioned",
          "mentioned"
        ],
        "mentionable"
      ]
    },
    {
      "Define kind:fields:": [
        "Things",
        [
          {
            "Aspect:": "handleable"
          }
        ]
      ]
    },
    {
      "Define kinds:as:": [
        "handleable",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "not handled",
          "handled"
        ],
        "handleable"
      ]
    },
    {
      "Define kinds:as:": [
        "wearability",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "not wearable",
          "wearable"
        ],
        "wearability"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "Actors",
        "thing"
      ]
    },
    {
      "Define kinds:as:": [
        "animals",
        "actor"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "props",
        "thing"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "openers",
        "prop"
      ]
    },
    {
      "Define kinds:as:": [
        "open status",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "open",
          "closed"
        ],
        "open status"
      ]
    },
    {
      "Define kinds:as:": [
        "openability",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "unopenable",
          "openable"
        ],
        "openability"
      ]
    },
    {
      "Define kinds:as:": [
        "locked status",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "unlocked",
          "locked"
        ],
        "locked status"
      ]
    },
    {
      "Define kinds:as:": [
        "lockable status",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "lockable",
          "unlockable"
        ],
        "lockable status"
      ]
    },
    {
      "Define kind:fields:": [
        "Openers",
        [
          {
            "Aspect:": "open status"
          },
          {
            "Aspect:": "openability"
          },
          {
            "Aspect:": "locked status"
          },
          {
            "Aspect:": "lockable status"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "containers",
        "opener"
      ]
    },
    {
      "Define kinds:as:": [
        "enterability",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "enterable",
          "not enterable"
        ],
        "enterability"
      ]
    },
    {
      "Define kinds:as:": [
        "opacity",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "opaque",
          "transparent"
        ],
        "opacity"
      ]
    },
    {
      "Define kind:fields:": [
        "Containers",
        [
          {
            "Aspect:": "enterability"
          },
          {
            "Aspect:": "opacity"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "illumination",
        "aspect"
      ]
    },
    {
      "Define traits:as:": [
        [
          "unlit",
          "lit"
        ],
        "illumination"
      ]
    },
    {
      "Define kind:fields:": [
        "Things",
        [
          {
            "Aspect:": "illumination"
          }
        ]
      ]
    },
    {
      "Define kind:fields:": [
        "Rooms",
        [
          {
            "Aspect:": "illumination"
          }
        ]
      ]
    },
    {
      "--": "FIX: Certainties aren't implemented"
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "supporters",
        "prop"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "rooms",
        "object"
      ]
    },
    {
      "--": "generates 'is visited' and 'not visited'",
      "Define kind:fields:": [
        "Rooms",
        [
          {
            "Bool:": "visited"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "regions",
        "object"
      ]
    }
  ]
}
