{
  "Tapestry:": [
    {
      "Define kinds:as:": [
        "Objects",
        "kind"
      ]
    },
    {
      "Kinds:have:": [
        "Objects",
        [
          {
            "Text:": "description"
          }
        ]
      ]
    },
    {
      "Kinds:have:": [
        "Objects",
        [
          {
            "Text:": "grouping label"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "Things",
        "object"
      ]
    },
    {
      "KindsOfAspect:": "possessiveness"
    },
    {
      "AspectTraits:traitPhrase:": [
        "possessiveness",
        {
          "TraitPhrase:trait:": [
            "canbe",
            [
              "not worn",
              "worn"
            ]
          ]
        }
      ]
    },
    {
      "KindsOfAspect:": "portability"
    },
    {
      "AspectTraits:traitPhrase:": [
        "portability",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "portable",
              "fixed in place"
            ]
          ]
        }
      ]
    },
    {
      "Kinds:have:": [
        "Things",
        [
          {
            "Aspect:": "portability"
          },
          {
            "Aspect:": "possessiveness"
          },
          {
            "Aspect:": "wearability"
          }
        ]
      ]
    },
    {
      "KindsOfAspect:": "scenery status"
    },
    {
      "AspectTraits:traitPhrase:": [
        "scenery status",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "not scenery",
              "scenery"
            ]
          ]
        }
      ]
    },
    {
      "Kinds:have:": [
        "Things",
        [
          {
            "Aspect:": "scenery status"
          }
        ]
      ]
    },
    {
      "Kinds:have:": [
        "Things",
        [
          {
            "Text:": "initial appearance"
          }
        ]
      ]
    },
    {
      "Kinds:have:": [
        "Things",
        [
          {
            "Aspect:": "mentionable"
          }
        ]
      ]
    },
    {
      "KindsOfAspect:": "mentionable"
    },
    {
      "AspectTraits:traitPhrase:": [
        "mentionable",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "not mentioned",
              "mentioned"
            ]
          ]
        }
      ]
    },
    {
      "Kinds:have:": [
        "Things",
        [
          {
            "Aspect:": "handleable"
          }
        ]
      ]
    },
    {
      "KindsOfAspect:": "handleable"
    },
    {
      "AspectTraits:traitPhrase:": [
        "handleable",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "not handled",
              "handled"
            ]
          ]
        }
      ]
    },
    {
      "KindsOfAspect:": "wearability"
    },
    {
      "AspectTraits:traitPhrase:": [
        "wearability",
        {
          "TraitPhrase:trait:": [
            "canbe",
            [
              "not wearable",
              "wearable"
            ]
          ]
        }
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "Actors",
        "thing"
      ]
    },
    {
      "Define kinds:as:": [
        "animals",
        "actor"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "props",
        "thing"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "openers",
        "prop"
      ]
    },
    {
      "KindsOfAspect:": "open status"
    },
    {
      "AspectTraits:traitPhrase:": [
        "open status",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "open",
              "closed"
            ]
          ]
        }
      ]
    },
    {
      "KindsOfAspect:": "openability"
    },
    {
      "AspectTraits:traitPhrase:": [
        "openability",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "unopenable",
              "openable"
            ]
          ]
        }
      ]
    },
    {
      "KindsOfAspect:": "locked status"
    },
    {
      "AspectTraits:traitPhrase:": [
        "locked status",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "unlocked",
              "locked"
            ]
          ]
        }
      ]
    },
    {
      "KindsOfAspect:": "lockable status"
    },
    {
      "AspectTraits:traitPhrase:": [
        "lockable status",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "lockable",
              "unlockable"
            ]
          ]
        }
      ]
    },
    {
      "Kinds:have:": [
        "Openers",
        [
          {
            "Aspect:": "open status"
          },
          {
            "Aspect:": "openability"
          },
          {
            "Aspect:": "locked status"
          },
          {
            "Aspect:": "lockable status"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "containers",
        "opener"
      ]
    },
    {
      "KindsOfAspect:": "enterability"
    },
    {
      "AspectTraits:traitPhrase:": [
        "enterability",
        {
          "TraitPhrase:trait:": [
            "canbe",
            [
              "enterable",
              "not enterable"
            ]
          ]
        }
      ]
    },
    {
      "KindsOfAspect:": "opacity"
    },
    {
      "AspectTraits:traitPhrase:": [
        "opacity",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "opaque",
              "transparent"
            ]
          ]
        }
      ]
    },
    {
      "Kinds:have:": [
        "Containers",
        [
          {
            "Aspect:": "enterability"
          },
          {
            "Aspect:": "opacity"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "KindsOfAspect:": "illumination"
    },
    {
      "AspectTraits:traitPhrase:": [
        "illumination",
        {
          "TraitPhrase:trait:": [
            "either",
            [
              "unlit",
              "lit"
            ]
          ]
        }
      ]
    },
    {
      "Kinds:have:": [
        "Things",
        [
          {
            "Aspect:": "illumination"
          }
        ]
      ]
    },
    {
      "Kinds:have:": [
        "Rooms",
        [
          {
            "Aspect:": "illumination"
          }
        ]
      ]
    },
    {
      "Certainties:areBeing:certainty:trait:": [
        "rooms",
        "are",
        "usually",
        "lit"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "supporters",
        "prop"
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "rooms",
        "object"
      ]
    },
    {
      "--": "generates 'is visited' and 'not visited'",
      "Kinds:have:": [
        "Rooms",
        [
          {
            "Bool:": "visited"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define kinds:as:": [
        "regions",
        "object"
      ]
    }
  ]
}
