[
  [
    {
      "GrammarDecl:": {
        "Directive:scans:": [
          [
            "kiss",
            "hug",
            "embrace"
          ],
          [
            {
              "Noun:": "things"
            },
            {
              "As:": "kissing"
            }
          ]
        ]
      }
    }
  ],
  [
    {
      "Event:action:args common:": [
        "kiss",
        "kissing",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Pattern:with:rules:": [
        "kissing",
        {
          "PatternLocals:": [
            {
              "LocalDecl:value:": [
                {
                  "Text named:of:": [
                    "actor",
                    "actor"
                  ]
                },
                {
                  "LocalInit:": {
                    "Get:from:": [
                      "pawn",
                      {
                        "VarFields:": "agent"
                      }
                    ]
                  }
                }
              ]
            }
          ]
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Determine:arguments:": [
                    "isPlayer",
                    {
                      "Args:": [
                        {
                          "Arg:from:": [
                            "obj",
                            "@actor"
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "If:from:and:do:else:": [
                        "resp",
                        {
                          "FromTxt:": {
                            "Determine:arguments:": [
                              "can reach",
                              {
                                "Args:": [
                                  {
                                    "Arg:from:": [
                                      "actor",
                                      "@actor"
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "action",
                                      {
                                        "FromTxt:": "kissing"
                                      }
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "noun",
                                      "@noun"
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        },
                        {
                          "Not:": {
                            "Is empty:": "@resp"
                          }
                        },
                        {
                          "Act:": [
                            {
                              "Say:": "@resp"
                            }
                          ]
                        },
                        {
                          "ElseDo:": {
                            "Act:": [
                              {
                                "If:from:and:do:else:": [
                                  "resp",
                                  {
                                    "FromTxt:": {
                                      "Determine:arguments:": [
                                        "can use",
                                        {
                                          "Args:": [
                                            {
                                              "Arg:from:": [
                                                "actor",
                                                "@actor"
                                              ]
                                            },
                                            {
                                              "Arg:from:": [
                                                "action",
                                                {
                                                  "FromTxt:": "kissing"
                                                }
                                              ]
                                            },
                                            {
                                              "Arg:from:": [
                                                "noun",
                                                "@noun"
                                              ]
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "Not:": {
                                      "Is empty:": "@resp"
                                    }
                                  },
                                  {
                                    "Act:": [
                                      {
                                        "Say:": "@resp"
                                      }
                                    ]
                                  },
                                  {
                                    "ElseDo:": {
                                      "Act:": [
                                        {
                                          "Send:path:arguments:": [
                                            "kiss",
                                            {
                                              "Determine:arguments:": [
                                                "parentsOf",
                                                {
                                                  "Args:": [
                                                    {
                                                      "Arg:from:": [
                                                        "obj",
                                                        "@noun"
                                                      ]
                                                    }
                                                  ]
                                                }
                                              ]
                                            },
                                            {
                                              "Args:": [
                                                {
                                                  "Arg:from:": [
                                                    "actor",
                                                    "@actor"
                                                  ]
                                                },
                                                {
                                                  "Arg:from:": [
                                                    "noun",
                                                    "@noun"
                                                  ]
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "Pattern:rules:": [
        "can use",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "kissing"
                      ]
                    },
                    {
                      "Determine:arguments:": [
                        "isPlayer",
                        {
                          "Args:": [
                            {
                              "Arg:from:": [
                                "obj",
                                "@actor"
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't kiss anything",
                              {
                                "RenderTemplate:": "{the:.noun|capitalize!} might not like that."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "kissing"
                      ]
                    },
                    {
                      "Cmp:is:txt:": [
                        "@actor",
                        "Equals",
                        "@noun"
                      ]
                    },
                    {
                      "Determine:arguments:": [
                        "isPlayer",
                        {
                          "Args:": [
                            {
                              "Arg:from:": [
                                "obj",
                                "@actor"
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't kiss yourself",
                              {
                                "RenderTemplate:": "{we:|capitalize!} don't get much from that."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "Listen kinds:handlers:": [
        "actors",
        [
          {
            "With:event:rules:": [
              "while",
              "kiss",
              {
                "PatternRules:": [
                  {
                    "PatternRule:hook activity:": [
                      "Always",
                      {
                        "Act:": [
                          {
                            "Determine:arguments:": [
                              "report kissing",
                              {
                                "Args:": [
                                  {
                                    "Arg:from:": [
                                      "actor",
                                      "@actor"
                                    ]
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "Let:be:": [
                              "success",
                              {
                                "FromBool:": true
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    }
  ],
  [
    {
      "Pattern:requires:": [
        "report kissing",
        {
          "PatternRequires:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            }
          ]
        }
      ]
    },
    {
      "Pattern:rules:": [
        "report kissing",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                "Always",
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "actor kissing",
                          {
                            "RenderTemplate:": "{the:.actor|capitalize!} kisses {the:.noun}."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "Determine:arguments:": [
                    "isPlayer",
                    {
                      "Args:": [
                        {
                          "Arg:from:": [
                            "obj",
                            "@actor"
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "player kissing",
                          {
                            "RenderTemplate:": "{we:|capitalize!} kiss on {the:.noun}."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
]
