{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "Kitchenette",
        "Thingaverse",
        [
          {
            "Declare:": "You are in the kitchen."
          },
          {
            "Define nouns:as:": [
              "the kitchen",
              "a room"
            ]
          },
          {
            "Define value:of:asLines:": [
              "description",
              "the kitchen",
              "Your Aunt Fiona's kitchen looks as though it has been at the eye of a glitter storm. Fine, sparkling grit dusts every surface. The appliances are slightly askew, too, as though they hadn't quite settled after a vigorous earthquake."
            ]
          },
          {
            "Define value:of:asLines:": [
              "printed name",
              "the kitchen",
              "Kitchen"
            ]
          },
          {
            "--": ""
          },
          {
            "Define kinds:as:": [
              "cats",
              "animal"
            ]
          },
          {
            "Declare:": "The broom, a hat, and two cats are in the kitchen."
          },
          {
            "Define nouns:as:": [
              [
                "the broom",
                "a hat"
              ],
              "things"
            ]
          },
          {
            "Define value:of:asLines:": [
              "initial appearance",
              "the hat",
              "A pointed black hat lies discarded on the floor under a dusty shelf."
            ]
          },
          {
            "Define value:of:asLines:": [
              "description",
              "the hat",
              "Your aunt's very own witches hat, a Halloween favorite."
            ]
          },
          {
            "--": ""
          },
          {
            "Define nouns:traits:": [
              "the cabinet",
              [
                "openable",
                "enterable",
                "scenery"
              ]
            ]
          },
          { "Declare:": "The container called the cabinet is in the kitchen." },
          { "Declare:": "The book of matches, a bottle of descaling solution, a fish hook, a rusty knife are things in the cabinet." },
          {
            "Define value:of:asLines:": [
              "initial appearance",
              "the hook",
              "Beneath your feet is a bright and shiny hook."
            ]
          },
          {
            "Define value:of:asLines:": [
              "description",
              "the cabinet",
              "An ancient teak wardrobe repurposed as a kitchen cupboard."
            ]
          },
          {
            "GrammarDecl:": {
              "Alias:asNoun:": [
                "blade",
                "rusty knife"
              ]
            }
          },
          {
            "--": ""
          },
          {
            "Define nouns:traits:": [
              "the shelf",
              "scenery"
            ]
          },
          {
            "Define nouns:as:relativeTo:otherNouns:": [
              "the shelf",
              "supporter",
              "whereabouts",
              "the kitchen"
            ]
          },
          {
            "Define nouns:as:relativeTo:otherNouns:": [
              [
                "a can of tomatoes",
                "a can of potato leek soup",
                "a tin of deflating powder"
              ],
              "things",
              "whereabouts",
              "the shelf"
            ]
          },
          {
            "--": ""
          },
          {
            "Define nouns:as:relativeTo:otherNouns:": [
              "the counter",
              "supporter",
              "whereabouts",
              "the kitchen"
            ]
          },
          {
            "Define nouns:as:traits:": [
              "the espresso machine",
              "container",
              [
                "fixed in place",
                "closed"
              ]
            ]
          },
          {
            "Define nouns:relativeTo:otherNouns:": [
              "the espresso machine",
              "whereabouts",
              "the counter"
            ]
          },
          {
            "Define nouns:as:relativeTo:otherNouns:": [
              "some coffee beans",
              "thing",
              "whereabouts",
              "the espresso machine"
            ]
          },
          {
            "Define nouns:traits:": [
              "the beans",
              "plural named"
            ]
          },
          {
            "Define nouns:as:relativeTo:otherNouns:": [
              [
                "a blender",
                "a mortar"
              ],
              "containers",
              "whereabouts",
              "the counter"
            ]
          },
          {
            "Define nouns:as:relativeTo:otherNouns:": [
              "a pestle",
              "thing",
              "whereabouts",
              "the mortar"
            ]
          },
          {
            "Define value:of:asLines:": [
              "initial appearance",
              "the espresso machine",
              "Steam leaks from the top of a recently used espresso machine."
            ]
          }
        ],
        [
          {
            "DoNothing": true
          }
        ]
      ]
    }
  ]
}
