{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "Kitchenette",
        "Thingaverse",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:": "self"
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "kitchen"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "kitchen"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "room"
                ]
              }
            ]
          },
          {
            "NounAssignment:nouns:lines:": [
              "description",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "kitchen"
                    }
                  ]
                }
              ],
              "Your Aunt Fiona's kitchen looks as though it has been at the eye of a glitter storm. Fine, sparkling grit dusts every surface. The appliances are slightly askew, too, as though they hadn't quite settled after a vigorous earthquake."
            ]
          },
          {
            "NounAssignment:nouns:lines:": [
              "printed name",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "kitchen"
                    }
                  ]
                }
              ],
              "Kitchen"
            ]
          },
          {
            "--": ""
          },
          {
            "Define kinds:as:": [
              "cats",
              "animal"
            ]
          },
          {
            "Nouns:relateTo:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "broom"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "hat"
                    }
                  ]
                },
                {
                  "Nouns:named:": [
                    "two",
                    "cats"
                  ]
                }
              ],
              {
                "NounRelation areBeing:relation:otherNouns:": [
                  "are",
                  "whereabouts",
                  [
                    {
                      "Noun:named:": [
                        "the",
                        {
                          "Noun:": "kitchen"
                        }
                      ]
                    }
                  ]
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "broom"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "hat"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "are",
                  "things"
                ]
              }
            ]
          },
          {
            "NounAssignment:nouns:lines:": [
              "initial appearance",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "hat"
                    }
                  ]
                }
              ],
              "A pointed black hat lies discarded on the floor under a dusty shelf."
            ]
          },
          {
            "NounAssignment:nouns:lines:": [
              "description",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "hat"
                    }
                  ]
                }
              ],
              "Your aunt's very own witches hat, a Halloween favorite."
            ]
          },
          {
            "--": ""
          },
          {
            "Nouns:startAs:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "cabinet"
                    }
                  ]
                }
              ],
              {
                "NounTraits:trait:": [
                  "is",
                  [
                    "openable",
                    "enterable",
                    "scenery"
                  ]
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "cabinet"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "container"
                ]
              }
            ]
          },
          {
            "Nouns:relateTo:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "cabinet"
                    }
                  ]
                }
              ],
              {
                "NounRelation areBeing:relation:otherNouns:": [
                  "is",
                  "whereabouts",
                  [
                    {
                      "Noun:named:": [
                        "the",
                        {
                          "Noun:": "kitchen"
                        }
                      ]
                    }
                  ]
                ]
              }
            ]
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "book of matches"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "bottle of descaling solution"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "fish hook"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "rusty knife"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "are",
                  "things"
                ]
              },
              [
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "cabinet"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "NounAssignment:nouns:lines:": [
              "initial appearance",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "hook"
                    }
                  ]
                }
              ],
              "Beneath your feet is a bright and shiny hook."
            ]
          },
          {
            "NounAssignment:nouns:lines:": [
              "description",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "cabinet"
                    }
                  ]
                }
              ],
              "An ancient teak wardrobe repurposed as a kitchen cupboard."
            ]
          },
          {
            "GrammarDecl:": {
              "Alias:asNoun:": [
                "blade",
                "rusty knife"
              ]
            }
          },
          {
            "--": ""
          },
          {
            "Nouns:startAs:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "shelf"
                    }
                  ]
                }
              ],
              {
                "NounTraits:trait:": [
                  "is",
                  [
                    "scenery"
                  ]
                ]
              }
            ]
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "shelf"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "supporter"
                ]
              },
              [
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "kitchen"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "can of tomatoes"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "can of potato leek soup"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "tin of deflating powder"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "are",
                  "things"
                ]
              },
              [
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "shelf"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "counter"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "supporter"
                ]
              },
              [
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "kitchen"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "espresso machine"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "container"
                ]
              },
              [
                {
                  "NounTraits:trait:": [
                    "is",
                    [
                      "fixed in place",
                      "closed"
                    ]
                  ]
                },
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "counter"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "some",
                    {
                      "Noun:": "coffee beans"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "area",
                  "thing"
                ]
              },
              [
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "espresso machine"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:startAs:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "beans"
                    }
                  ]
                }
              ],
              {
                "NounTraits:trait:": [
                  "are",
                  [
                    "plural named"
                  ]
                ]
              }
            ]
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "blender"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "mortar"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "are",
                  "containers"
                ]
              },
              [
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "counter"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:depict:and:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "pestle"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "thing"
                ]
              },
              [
                {
                  "NounRelation relation:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          {
                            "Noun:": "mortar"
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "NounAssignment:nouns:lines:": [
              "initial appearance",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "espresso machine"
                    }
                  ]
                }
              ],
              "Steam leaks from the top of a recently used espresso machine."
            ]
          }
        ],
        [
          {
            "DoNothing": true
          }
        ]
      ]
    }
  ]
}
