{
  "Tapestry:": [
    {
      "Test:dependsOn:do:": [
        "vision test",
        "Kitchenette",
        [
          {
            "Set:from:": [
              {
                "Object:field:": [
                  "Kitchen",
                  "unlit"
                ]
              },
              {
                "FromBool:": true
              }
            ]
          },
          {
            "Say:": "{if contains_light: .cabinet}ng: The cabinet has light.{else}ok: The cabinet is dark.{end}"
          },
          {
            "Expect output:": "ok: The cabinet is dark."
          },
          {
            "Set:from:": [
              {
                "Object:field:": [
                  "Kitchen",
                  "lit"
                ]
              },
              {
                "FromBool:": true
              }
            ]
          },
          {
            "Say:": "{if contains_light: .cabinet}ok: The cabinet has light.{else}ng: The cabinet is dark.{end}"
          },
          {
            "Expect output:": "ok: The cabinet has light."
          },
          {
            "Set:from:": [
              {
                "Object:field:": [
                  "cabinet",
                  "closed"
                ]
              },
              {
                "FromBool:": true
              }
            ]
          },
          {
            "Say:": "{if contains_light: .cabinet}ng: The cabinet has light.{else}ok: The cabinet is dark.{end}"
          },
          {
            "Expect output:": "ok: The cabinet is dark."
          },
          {
            "Set:from:": [
              {
                "Object:field:": [
                  "matches",
                  "lit"
                ]
              },
              {
                "FromBool:": true
              }
            ]
          },
          {
            "Say:": "{if contains_light: .cabinet}ok: The cabinet has light.{else}ng: The cabinet is dark.{end}"
          },
          {
            "Expect output:": "ok: The cabinet has light."
          }
        ]
      ]
    }
  ]
}
