{
  "Tapestry:": [
    {
      "Test:dependsOn:do:": [
        "vision test",
        "Kitchenette",
        [
          {
            "Put:from:at:": [
              {
                "ObjField:": "Kitchen"
              },
              {
                "FromBool:": true
              },
              "unlit"
            ]
          },
          {
            "Say:": {
              "RenderTemplate:": "{if contains_light: .cabinet}ng: The cabinet has light.{else}ok: The cabinet is dark.{end}"
            }
          },
          {
            "Expect output:": "ok: The cabinet is dark."
          },
          {
            "Put:from:at:": [
              {
                "ObjField:": "Kitchen"
              },
              {
                "FromBool:": true
              },
              "lit"
            ]
          },
          {
            "Say:": {
              "RenderTemplate:": "{if contains_light: .cabinet}ok: The cabinet has light.{else}ng: The cabinet is dark.{end}"
            }
          },
          {
            "Expect output:": "ok: The cabinet has light."
          },
          {
            "Put:from:at:": [
              {
                "ObjField:": "cabinet"
              },
              {
                "FromBool:": true
              },
              "closed"
            ]
          },
          {
            "Say:": {
              "RenderTemplate:": "{if contains_light: .cabinet}ng: The cabinet has light.{else}ok: The cabinet is dark.{end}"
            }
          },
          {
            "Expect output:": "ok: The cabinet is dark."
          },
          {
            "Put:from:at:": [
              {
                "ObjField:": "matches"
              },
              {
                "FromBool:": true
              },
              "lit"
            ]
          },
          {
            "Say:": {
              "RenderTemplate:": "{if contains_light: .cabinet}ok: The cabinet has light.{else}ng: The cabinet is dark.{end}"
            }
          },
          {
            "Expect output:": "ok: The cabinet has light."
          }
        ]
      ]
    }
  ]
}
