{
  "Tapestry:": [
    {
      "Define macro:requires:result:with:": [
        "inheriting something",
        [
          {
            "Text:": "kind"
          },
          {
            "Nothing": true
          }
        ],
        {
          "Text:": "error"
        },
        []
      ]
    },
    {
      "Define macro:requires:result:with:": [
        "carrying something",
        [
          {
            "Text:": "actor"
          },
          {
            "TextList:": "things"
          }
        ],
        {
          "Text:": "error"
        },
        [
          {
            "Define nouns:as:": [
              {
                "List ofText:": [
                  "@actor"
                ]
              },
              "actor"
            ]
          },
          {
            "Define nouns:as:": [
              "@things",
              "things"
            ]
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "@things",
              {
                "List ofText:": [
                  "@actor"
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "Define macro:requires:result:with:": [
        "wearing something",
        [
          {
            "Text:": "actor"
          },
          {
            "TextList:": "things"
          }
        ],
        {
          "Text:": "error"
        },
        [
          {
            "Define nouns:as:": [
              {
                "List ofText:": [
                  "@actor"
                ]
              },
              "actor"
            ]
          },
          {
            "Define nouns:as:traits:": [
              "@things",
              "things",
              [
                "wearable",
                "worn"
              ]
            ]
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "@things",
              {
                "List ofText:": [
                  "@actor"
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": "might be a room or a container",
      "Define macro:requires:result:with:": [
        "containing something",
        [
          {
            "Text:": "owner"
          },
          {
            "TextList:": "things"
          }
        ],
        {
          "Text:": "error"
        },
        [
          {
            "If:does:": [
              {
                "Not:": {
                  "KindOf:is:": [
                    "@owner",
                    "rooms"
                  ]
                }
              },
              [
                {
                  "--": "if it's not a room, then its a container.",
                  "Define nouns:as:": [
                    {
                      "List ofText:": [
                        "@owner"
                      ]
                    },
                    "container"
                  ]
                }
              ]
            ]
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "@things",
              {
                "List ofText:": [
                  "@owner"
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "Define macro:requires:result:with:": [
        "supporting something",
        [
          {
            "Text:": "supporter"
          },
          {
            "TextList:": "things"
          }
        ],
        {
          "Text:": "error"
        },
        [
          {
            "Define nouns:as:": [
              {
                "List ofText:": [
                  "@supporter"
                ]
              },
              "supporter"
            ]
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "@things",
              {
                "List ofText:": [
                  "@supporter"
                ]
              }
            ]
          }
        ]
      ]
    }
  ]
}
