{
  "Tapestry:": [
    {
      "Define pattern:requires:provides:do:": [
        "Move Object",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          },
          {
            "Text:kind:": [
              "dest",
              "object"
            ]
          }
        ],
        {
          "Text:": "response"
        },
        []
      ]
    },
    {
      "Define rule:do:": [
        "before move object",
        {
          "If:do:": [
            {
              "Not:": {
                "KindOf:is:": [
                  "@obj",
                  "things"
                ]
              }
            },
            {
              "Set:value:": [
                "@response",
                {
                  "FromText:": {
                    "Say response:with:": [
                      "You can only move things.",
                      "You can only move things."
                    ]
                  }
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "Define rule:do:": [
        "before move object",
        {
          "If:do:": [
            {
              "Is empty:": "@obj"
            },
            {
              "Set:value:": [
                "@response",
                {
                  "FromText:": {
                    "Say response:with:": [
                      "You can't move nothing.",
                      "You can't move nothing."
                    ]
                  }
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "Define rule:do:": [
        "move object",
        [
          {
            "If:do:": [
              {
                "Object:field:": [
                  "@obj",
                  "worn"
                ]
              },
              [
                {
                  "Set:value:": [
                    {
                      "Object:field:": [
                        "@obj",
                        "not worn"
                      ]
                    },
                    {
                      "FromBool:": true
                    }
                  ]
                }
              ]
            ]
          },
          {
            "If:do:": [
              {
                "Cmp:is:txt:": [
                  "@dest",
                  "other_than",
                  {
                    "ParentOf obj:": {
                      "FromText:": "@obj"
                    }
                  }
                ]
              },
              [
                {
                  "Relate:to:via:": [
                    "@dest",
                    "@obj",
                    "whereabouts"
                  ]
                }
              ]
            ]
          },
          {
            "Set:value:": [
              "@response",
              {
                "FromText:": {
                  "Say response:with:": [
                    "okay",
                    ""
                  ]
                }
              }
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:provides:do:": [
        "Remove from play",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        [
          {
            "If:do:": [
              {
                "Is empty:": "@from"
              },
              [
                {
                  "Log:value:": [
                    "debug",
                    {
                      "FromText:": "You can't remove nothing from play."
                    }
                  ]
                }
              ]
            ]
          },
          {
            "Set:value:": [
              {
                "Object:field:": [
                  "@obj",
                  "not worn"
                ]
              },
              {
                "FromBool:": true
              }
            ]
          },
          {
            "Relate:to:via:": [
              "",
              "@from",
              "whereabouts"
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "--": [
        "a low level command to move the object and set its wearable status.",
        "It doesn't check for wearable nor for any other permissions."
      ],
      "Define pattern:requires:provides:do:": [
        "Wear object",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          },
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          }
        ],
        {
          "Nothing": true
        },
        [
          {
            "If:do:": [
              {
                "Not:": {
                  "Cmp:is:txt:": [
                    {
                      "HolderOf obj:": {
                        "FromText:": "@obj"
                      }
                    },
                    "equal_to",
                    "@actor"
                  ]
                }
              },
              [
                {
                  "MoveObject obj:dest:": [
                    {
                      "FromText:": "@obj"
                    },
                    {
                      "FromText:": "@actor"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "If:do:": [
              {
                "Cmp:is:txt:": [
                  {
                    "HolderOf obj:": {
                      "FromText:": "@obj"
                    }
                  },
                  "equal_to",
                  "@actor"
                ]
              },
              [
                {
                  "Set:value:": [
                    {
                      "Object:field:": [
                        "@obj",
                        "not worn"
                      ]
                    },
                    {
                      "FromBool:": true
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
