{
  "Tapestry:": [
    {
      "Define pattern:requires:result:withRules:": [
        "Move Object",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          },
          {
            "Text:kind:": [
              "dest",
              "object"
            ]
          }
        ],
        {
          "Text:": "response"
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "Move Object",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "If:does:else:": [
                    {
                      "Is empty:": "@obj"
                    },
                    [
                      {
                        "Set:from:": [
                          "@response",
                          {
                            "FromText:": {
                              "Print response:with:": [
                                "You can't move nothing.",
                                {
                                  "Say:": "You can't move nothing."
                                }
                              ]
                            }
                          }
                        ]
                      }
                    ],
                    {
                      "ElseIf:does:else:": [
                        {
                          "Not:": {
                            "KindOf:is:": [
                              "@obj",
                              "things"
                            ]
                          }
                        },
                        [
                          {
                            "Set:from:": [
                              "@response",
                              {
                                "FromText:": {
                                  "Print response:with:": [
                                    "You can only move things.",
                                    {
                                      "Say:": "You can only move things."
                                    }
                                  ]
                                }
                              }
                            ]
                          }
                        ],
                        {
                          "ElseDo does:": [
                            {
                              "If:does:": [
                                {
                                  "Object:field:": [
                                    "@obj",
                                    "worn"
                                  ]
                                },
                                [
                                  {
                                    "Set:from:": [
                                      {
                                        "Object:field:": [
                                          "@obj",
                                          "not worn"
                                        ]
                                      },
                                      {
                                        "FromBool:": true
                                      }
                                    ]
                                  }
                                ]
                              ]
                            },
                            {
                              "If:does:": [
                                {
                                  "Cmp:is:txt:": [
                                    "@dest",
                                    "other_than",
                                    {
                                      "ParentOf obj:": {
                                        "FromText:": "@obj"
                                      }
                                    }
                                  ]
                                },
                                [
                                  {
                                    "Relate:to:via:": [
                                      "@dest",
                                      "@obj",
                                      "whereabouts"
                                    ]
                                  }
                                ]
                              ]
                            },
                            {
                              "Set:from:": [
                                "@response",
                                {
                                  "FromText:": {
                                    "Print response:with:": [
                                      "okay",
                                      ""
                                    ]
                                  }
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "RemoveFromPlay",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "RemoveFromPlay",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "If:does:": [
                    {
                      "Is empty:": "@from"
                    },
                    [
                      {
                        "Log:value:": [
                          "debug",
                          {
                            "FromText:": "You can't remove nothing from play."
                          }
                        ]
                      }
                    ]
                  ]
                },
                {
                  "Set:from:": [
                    {
                      "Object:field:": [
                        "@obj",
                        "not worn"
                      ]
                    },
                    {
                      "FromBool:": true
                    }
                  ]
                },
                {
                  "Relate:to:via:": [
                    "",
                    "@from",
                    "whereabouts"
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "WearObject",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          },
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Comment:": "This is pretty low level. For instance, it doesnt check wearable."
    },
    {
      "Extend pattern:withRules:": [
        "WearObject",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "If:does:": [
                    {
                      "Not:": {
                        "Cmp:is:txt:": [
                          {
                            "HolderOf obj:": {
                              "FromText:": "@obj"
                            }
                          },
                          "equal_to",
                          "@actor"
                        ]
                      }
                    },
                    [
                      {
                        "MoveObject obj:dest:": [
                          {
                            "FromText:": "@obj"
                          },
                          {
                            "FromText:": "@actor"
                          }
                        ]
                      }
                    ]
                  ]
                },
                {
                  "If:does:": [
                    {
                      "Cmp:is:txt:": [
                        {
                          "HolderOf obj:": {
                            "FromText:": "@obj"
                          }
                        },
                        "equal_to",
                        "@actor"
                      ]
                    },
                    [
                      {
                        "Set:from:": [
                          {
                            "Object:field:": [
                              "@obj",
                              "not worn"
                            ]
                          },
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
