{
  "Story:": [
    {
      "Paragraph:": [
        {
          "Make kinds:of:": [
            " things",
            "kind"
          ]
        },
        {
          "KindsPossessProperties:propertyDecl:": [
            " things",
            [
              {
                "PropertyDecl:property:propertyType primitive:": [
                  "a",
                  "printed name",
                  "text"
                ]
              }
            ]
          ]
        }
      ]
    },
    {
      "Paragraph:": [
        {
          "TestScene:story:": [
            "name of a kind",
            {
              "Story:": [
                {
                  "Paragraph:": [
                    {
                      "NounStatement:": {
                        "Lede:nounPhrase kindOfNoun:": [
                          [
                            {
                              "NamedNoun:name:": [
                                "the",
                                "named object"
                              ]
                            },
                            {
                              "NamedNoun:name:": [
                                "the",
                                "unnamed object"
                              ]
                            }
                          ],
                          {
                            "KindOfNoun:kind:": [
                              "are",
                              "thing"
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "NounStatement:": {
                        "Lede:nounPhrase nounTraits:": [
                          [
                            {
                              "NamedNoun:name:": [
                                "the",
                                "unnamed object"
                              ]
                            }
                          ],
                          {
                            "NounTraits:trait:": [
                              "is",
                              [
                                "privately named"
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "Paragraph:": [
        {
          "TestStatement:test:": [
            "name of a kind",
            {
              "TestOutput:": "named object, thing"
            }
          ]
        },
        {
          "Comment:": "The story engine automagically calls \"print name\" when the name of an object is used in a template.  ex. { .someObject }"
        },
        {
          "TestRule:hook activity:": [
            "name of a kind",
            {
              "Act:": [
                {
                  "Say:": {
                    "RenderTemplate:": "{.named}, {.unnamed}"
                  }
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "Paragraph:": [
        {
          "PatternDecl:name:optvars:": [
            "patterns",
            "print name",
            {
              "PatternVariablesTail:": [
                {
                  "VariableDecl:name:type object:": [
                    "an",
                    "obj",
                    {
                      "ObjectType:kind:": [
                        "an",
                        "object"
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "PatternActions:patternRules:": [
            "print name",
            {
              "PatternRules:": [
                {
                  "PatternRule:hook activity:": [
                    "Always",
                    {
                      "Act:": [
                        {
                          "Say:": {
                            "Singular of:": {
                              "KindOf:": "@obj"
                            }
                          }
                        },
                        {
                          "Determine:arguments:": [
                            "Mention",
                            {
                              "Args:": [
                                {
                                  "Arg:from:": [
                                    "obj",
                                    "@obj"
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "PatternRule:hook activity:": [
                    {
                      "Get obj:trait:": [
                        "@obj",
                        "publicly named"
                      ]
                    },
                    {
                      "Act:": [
                        {
                          "Say:": {
                            "NameOf:": "@obj"
                          }
                        },
                        {
                          "Determine:arguments:": [
                            "Mention",
                            {
                              "Args:": [
                                {
                                  "Arg:from:": [
                                    "obj",
                                    "@obj"
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "PatternRule:hook activity:": [
                    {
                      "Cmp:is:txt:": [
                        {
                          "Get:from:": [
                            "printed name",
                            {
                              "VarFields:": "obj"
                            }
                          ]
                        },
                        "OtherThan",
                        ""
                      ]
                    },
                    {
                      "Act:": [
                        {
                          "Say:": {
                            "Get:from:": [
                              "printed name",
                              {
                                "VarFields:": "obj"
                              }
                            ]
                          }
                        },
                        {
                          "Determine:arguments:": [
                            "Mention",
                            {
                              "Args:": [
                                {
                                  "Arg:from:": [
                                    "obj",
                                    "@obj"
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "Paragraph:": [
        {
          "PatternDecl:name:optvars:": [
            "patterns",
            "mention",
            {
              "PatternVariablesTail:": [
                {
                  "VariableDecl:name:type object:": [
                    "an",
                    "obj",
                    {
                      "ObjectType:kind:": [
                        "an",
                        "object"
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "PatternActions:patternRules:": [
            "mention",
            {
              "PatternRules:": [
                {
                  "PatternRule:hook activity:": [
                    {
                      "KindOf:is:": [
                        "@obj",
                        "things"
                      ]
                    },
                    {
                      "Act:": [
                        {
                          "Put:from:at:": [
                            {
                              "ObjField:": "@obj"
                            },
                            {
                              "FromBool:": true
                            },
                            "mentioned"
                          ]
                        },
                        {
                          "Put:from:at:": [
                            {
                              "ObjField:": "settings"
                            },
                            {
                              "FromNum:": {
                                "Inc:by:": [
                                  1,
                                  {
                                    "Get:from:": [
                                      "mentions",
                                      {
                                        "ObjFields:": "settings"
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            "mentions"
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
