{
  "Tapestry:": [
    {
      "Make:kind:": [
        "things",
        "kind"
      ]
    },
    {
      "Kinds:have:": [
        "Things",
        [
          {
            "Text:": "printed name"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Test:withScene:do:": [
        "name of a kind",
        [
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "named object"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "unnamed object"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "are",
                  "thing"
                ]
              }
            ]
          },
          {
            "Nouns:startAs:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "unnamed object"
                    }
                  ]
                }
              ],
              {
                "NounTraits:trait:": [
                  "is",
                  [
                    "privately named"
                  ]
                ]
              }
            ]
          }
        ],
        [
          {
            "Comment:": [
              "The story engine automagically calls \"print name\" when the name of an object is used in a template.  ",
              "ex. { .someObject }"
            ]
          },
          {
            "Say:": {
              "RenderTemplate:": "{.named}, {.unnamed}."
            }
          },
          {
            "Expect output:": "named object, thing."
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "print name",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "print name",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Say:": {
                    "Singular of:": {
                      "KindOf:": "@obj"
                    }
                  }
                },
                {
                  "Mention obj:": {
                    "FromText:": {
                      "Text value:": "@obj"
                    }
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                  "Object:field:": [
                    "@obj",
                    "publicly named"
                  ]
              },
              [
                {
                  "Say:": {
                    "NameOf:": "@obj"
                  }
                },
                {
                  "Mention obj:": {
                    "FromText:": {
                      "Text value:": "@obj"
                    }
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Cmp:is:txt:": [
                  {
                      "Object:field:": [
                        "@obj",
                        "printed name"
                      ]
                  },
                  "other_than",
                  ""
                ]
              },
              [
                {
                  "Say:": {
                      "Object:field:": [
                        "@obj",
                        "printed name"
                      ]
                  }
                },
                {
                  "Mention obj:": {
                    "FromText:": {
                      "Text value:": "@obj"
                    }
                  }
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "mention",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "mention",
        [
          {
            "PatternRule:does:": [
              {
                "KindOf:is:": [
                  "@obj",
                  "things"
                ]
              },
              [
                {
                  "Set:from:": [
                    {
                      "Object:field:": [
                        "@obj",
                        "mentioned"
                      ]
                    },
                    {
                      "FromBool:": true
                    }
                  ]
                },
                {
                  "Set:from:": [
                    {
                      "Object:field:": [
                        "@settings",
                        "mentions"
                      ]
                    },
                    {
                      "FromNumber:": {
                        "Inc:by:": [
                          1,
                          {
                              "Object:field:": [
                                "settings",
                                "mentions"
                              ]
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
