{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "open",
        "opening",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "opening",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Get variable:": {
                  "Variable:dot:": [
                    "agent",
                    [
                      {
                        "AtField:": "pawn"
                      }
                    ]
                  ]
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": {
                    "Text value:": "@actor"
                  }
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:": [
                          {
                            "FromText:": {
                              "Text value:": "@actor"
                            }
                          },
                          {
                            "FromText:": "opening"
                          },
                          {
                            "FromText:": {
                              "Text value:": "@noun"
                            }
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Say:": "@resp"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "If:from:and:does:else:": [
                            "resp",
                            {
                              "FromText:": {
                                "CanUse actor:action:noun:": [
                                  {
                                    "FromText:": {
                                      "Text value:": "@actor"
                                    }
                                  },
                                  {
                                    "FromText:": "opening"
                                  },
                                  {
                                    "FromText:": {
                                      "Text value:": "@noun"
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            [
                              {
                                "Say:": "@resp"
                              }
                            ],
                            {
                              "ElseDo does:": [
                                {
                                  "Send:event:": [
                                    {
                                      "Capture obj:": {
                                        "FromText:": {
                                          "Text value:": "@noun"
                                        }
                                      }
                                    },
                                    {
                                      "StateChange actor:noun:trait:guard:change:": [
                                        {
                                          "FromText:": {
                                            "Text value:": "@actor"
                                          }
                                        },
                                        {
                                          "FromText:": {
                                            "Text value:": "@noun"
                                          }
                                        },
                                        {
                                          "FromText:": "open"
                                        },
                                        {
                                          "FromText:": "openable"
                                        },
                                        {
                                          "FromText:": "open"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Event:action:args common:": [
        "close",
        "closing",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "closing",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Get variable:": {
                  "Variable:dot:": [
                    "agent",
                    [
                      {
                        "AtField:": "pawn"
                      }
                    ]
                  ]
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": {
                    "Text value:": "@actor"
                  }
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:": [
                          {
                            "FromText:": {
                              "Text value:": "@actor"
                            }
                          },
                          {
                            "FromText:": "closing"
                          },
                          {
                            "FromText:": {
                              "Text value:": "@noun"
                            }
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Say:": "@resp"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "If:from:and:does:else:": [
                            "resp",
                            {
                              "FromText:": {
                                "CanUse actor:action:noun:": [
                                  {
                                    "FromText:": {
                                      "Text value:": "@actor"
                                    }
                                  },
                                  {
                                    "FromText:": "closing"
                                  },
                                  {
                                    "FromText:": {
                                      "Text value:": "@noun"
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            [
                              {
                                "Say:": "@resp"
                              }
                            ],
                            {
                              "ElseDo does:": [
                                {
                                  "Send:event:": [
                                    {
                                      "Capture obj:": {
                                        "FromText:": {
                                          "Text value:": "@noun"
                                        }
                                      }
                                    },
                                    {
                                      "StateChange actor:noun:trait:guard:change:": [
                                        {
                                          "FromText:": {
                                            "Text value:": "@actor"
                                          }
                                        },
                                        {
                                          "FromText:": {
                                            "Text value:": "@noun"
                                          }
                                        },
                                        {
                                          "FromText:": "closed"
                                        },
                                        {
                                          "FromText:": "openable"
                                        },
                                        {
                                          "FromText:": "close"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "--": "Can't open when locked.",
      "Pattern:rules:": [
        "state changing",
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@trait",
                      "equal_to",
                      "open"
                    ]
                  },
                  {
                    "Get object:": {
                      "Object:field:": [
                        "@noun",
                        "lockable"
                      ]
                    }
                  },
                  {
                    "Get object:": {
                      "Object:field:": [
                        "@noun",
                        "locked"
                      ]
                    }
                  }
                ]
              },
              [
                {
                  "Set variable:from:": [
                    "@result",
                    {
                      "FromText:": {
                        "Response:text:": [
                          "can't open when locked",
                          {
                            "RenderTemplate:": "{They: .noun|capitalize!} seem{unless .noun.plural_named}s{end} to be locked."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Listen kinds:handlers:": [
        "things",
        [
          {
            "With:event:provides:rules:": [
              "after",
              "state change",
              [
                {
                  "--": "initialized only when needed, for containers revealing their contents.",
                  "TextList:": "concealed items"
                }
              ],
              [
                {
                  "PatternRule:does:": [
                    {
                      "AllTrue:": [
                        {
                          "Cmp:is:txt:": [
                            "@trait",
                            "equal_to",
                            "open"
                          ]
                        },
                        {
                          "IsPlayer obj:": {
                            "FromText:": "@actor"
                          }
                        },
                        {
                          "KindOf:is:": [
                            "@noun",
                            "containers"
                          ]
                        },
                        {
                          "Get object:": {
                            "Object:field:": [
                              "@noun",
                              "opaque"
                            ]
                          }
                        },
                        {
                          "Not:": {
                            "AncestorOf obj:root:": [
                              {
                                "FromText:": {
                                  "Text value:": "@noun"
                                }
                              },
                              {
                                "FromText:": "@actor"
                              }
                            ]
                          }
                        }
                      ]
                    },
                    [
                      {
                        "Set variable:from:": [
                          "@concealed items",
                          {
                            "FromTextList:": {
                              "VisibleStorage obj:": {
                                "FromText:": {
                                  "Text value:": "@noun"
                                }
                              }
                            }
                          }
                        ]
                      },
                      {
                        "If:does:": [
                          {
                            "Cmp:is:num:": [
                              {
                                "Len:": {
                                  "FromTextList:": "@concealed items"
                                }
                              },
                              "greater_than",
                              0
                            ]
                          },
                          [
                            {
                              "Comment:": "inform doesn't print the inventory details when opening objects, so this doesn't either. "
                            },
                            {
                              "Say:": {
                                "Response:text:": [
                                  "reveal newly visible objects",
                                  {
                                    "Spaces does:": [
                                      {
                                        "Say:": {
                                          "RenderTemplate:": "{We!|capitalize!} open {the: .noun}, revealing"
                                        }
                                      },
                                      {
                                        "Say:": {
                                          "Commas does:": [
                                            {
                                              "Repeating across:as:does:": [
                                                {
                                                  "FromTextList:": "@concealed items"
                                                },
                                                "item",
                                                [
                                                  {
                                                    "Say:": {
                                                      "RenderTemplate:": "{the: .item}"
                                                    }
                                                  }
                                                ]
                                              ]
                                            }
                                          ]
                                        }
                                      },
                                      {
                                        "Say:": "."
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            {
                              "Set variable:from:": [
                                "@success",
                                {
                                  "FromBool:": true
                                }
                              ]
                            }
                          ]
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
