{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "peek",
        "peeking",
        {
          "CommonAction:": "thing"
        }
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "peeking",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:do:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:assuming:do:else:": [

                    {
                      "Not:": {
                        "Is empty:": "@result"
                      }
                    },
                    	{ "Arg:from:": [
                    "result",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:requiresLight:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "peeking"
                          },
                          {
                            "FromText:": "@noun"
                          },
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    }]},
                    [
                      {
                        "Print:": "@result"
                      }
                    ],
                    {
                      "Finally do:": [
                        {
                          "If:do:": [
                            {
                              "Send:event:": [
                                {
                                  "Capture obj:": {
                                    "FromText:": "@noun"
                                  }
                                },
                                {
                                  "Peek actor:noun:": [
                                    {
                                      "FromText:": "@actor"
                                    },
                                    {
                                      "FromText:": "@noun"
                                    }
                                  ]
                                }
                              ]
                            },
                            [
                              {
                                "ReportPeeking actor:noun:": [
                                  {
                                    "FromText:": "@actor"
                                  },
                                  {
                                    "FromText:": "@noun"
                                  }
                                ]
                              }
                            ]
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "report peeking",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "report peeking",
        [
          {
            "PatternRule:do:": [
              {
                "Not:": {
                  "IsPlayer obj:": {
                    "FromText:": "@actor"
                  }
                }
              },
              [
                {
                  "Say response:with:": [
                    "someone else peeks",
                    "{The: .actor|capitalize!} looks under {the: .noun}."
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              true,
              [
                {
                  "Say response:with:": [
                    "player peeks",
                    "{we!|capitalize!} find nothing of interest."
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
