{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "peek",
        "peeking",
        {
          "CommonAction:": "thing"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "peeking",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Get:from:": [
                  "pawn",
                  {
                    "VarFields:": "agent"
                  }
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": "@actor"
              },
              [
                {
                  "If:from:and:does:else:": [
                    "result",
                    {
                      "FromTxt:": {
                        "CanReach actor:action:noun:requiresLight:": [
                          "@actor",
                          {
                            "FromTxt:": "peeking"
                          },
                          "@noun",
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@result"
                      }
                    },
                    [
                      {
                        "Say:": "@result"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "If:does:": [
                            {
                              "Send:event:": [
                                {
                                  "Capture obj:": "@noun"
                                },
                                {
                                  "Peek actor:noun:": [
                                    "@actor",
                                    "@noun"
                                  ]
                                }
                              ]
                            },
                            [
                              {
                                "ReportPeeking actor:noun:": [
                                  "@actor",
                                  "@noun"
                                ]
                              }
                            ]
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report peeking",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "report peeking",
        [
          {
            "PatternRule:does:": [
              {
                "Always": true
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "player peeks",
                      {
                        "RenderTemplate:": "{we!|capitalize!} find nothing of interest."
                      }
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Not:": {
                  "IsPlayer obj:": "@actor"
                }
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "someone else peeks",
                      {
                        "RenderTemplate:": "{The: .actor|capitalize!} looks under {the: .noun}."
                      }
                    ]
                  }
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
