{
  "Tapestry:": [
    {
      "Define phrase:asMacro:": [
        "kind of",
        "inheriting something"
      ]
    },
    {
      "Define phrase:asMacro:": [
        "kinds of",
        "inheriting something"
      ]
    },
    {
      "Define phrase:asMacro:": [
        "a kind of",
        "inheriting something"
      ]
    },
    {
      "Define phrase:asMacro:": [
        "in",
        "containing something"
      ]
    },
    {
      "Define phrase:asMacro:": [
        "on",
        "supporting something"
      ]
    },
    {
      "Define phrase:asMacro:": [
        "carrying",
        "carrying something"
      ]
    },
    {
      "Define phrase:asMacro:": [
        "wearing",
        "wearing something"
      ]
    },
    {
      "Define phrase:asMacro:": [
        "supporting",
        "supporting something"
      ]
    },
    {
      "Define phrase:asMacro:": [
        "containing",
        "containing something"
      ]
    }
  ]
}
