{
  "Tapestry:": [
    {
      "Make:kind:": [
        "agents",
        "object"
      ]
    },
    {
      "Make:kind:": [
        "players",
        "agent"
      ]
    },
    {
      "Nouns:depict:": [
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "player"
              }
            ]
          }
        ],
        {
          "Kind:named:": [
            "isa",
            "players"
          ]
        }
      ]
    },
    {
      "Kinds:have:": [
        "Agents",
        [
          {
            "Text:": "pawn"
          }
        ]
      ]
    },
    {
      "Kinds:have:": [
        "Actors",
        [
          {
            "Bool:": "in darkness"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Nouns:depict:": [
        [
          {
            "Noun:": "self"
          }
        ],
        {
          "Kind:named:": [
            "isan",
            "actor"
          ]
        }
      ]
    },
    {
      "Nouns:startAs:": [
        [
          {
            "Noun:": "self"
          }
        ],
        {
          "NounTraits:trait:": [
            "is",
            [
              "privately named"
            ]
          ]
        }
      ]
    },
    {
      "NounAssignment:nouns:lines:": [
        "pawn",
        [
          {
            "Noun:named:": [
              "the",
              {
                "Noun:": "player"
              }
            ]
          }
        ],
        "self"
      ]
    },
    {
      "NounAssignment:nouns:lines:": [
        "printed name",
        [
          {
            "Noun:": "self"
          }
        ],
        "you"
      ]
    },
    {
      "Nouns:startAs:": [
        [
          {
            "Noun:": "self"
          }
        ],
        {
          "NounTraits:trait:": [
            "is",
            [
              "proper named"
            ]
          ]
        }
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:returns:": [
        "isPlayer",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "PatternResult:": {
            "Bool:": "success"
          }
        }
      ]
    },
    {
      "Pattern:rules:": [
        "isPlayer",
        [
          {
            "PatternRule:does:": [
              {
                "KindOf:is:": [
                  "@obj",
                  "actors"
                ]
              },
              [
                {
                  "Set variable:from:": [
                    "@success",
                    {
                      "FromBool:": {
                        "Cmp:is:txt:": [
                          "@obj",
                          "equal_to",
                          {
                            "Get object:": {
                              "Object:field:": [
                                "player",
                                "pawn"
                              ]
                            }
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "KindOf:is:": [
                  "@obj",
                  "agents"
                ]
              },
              [
                {
                  "Set variable:from:": [
                    "@success",
                    {
                      "FromBool:": {
                        "Cmp:is:txt:": [
                          "@obj",
                          "equal_to",
                          {
                            "IdOf:": "player"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Test:do:": [
        "player tests",
        [
          {
            "Expect:": {
              "IsPlayer obj:": {
                "FromText:": "self"
              }
            }
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "GrammarDecl:": {
        "Alias:asNoun:": [
          [
            "me",
            "myself",
            "self"
          ],
          "player"
        ]
      }
    }
  ]
}
