[
  [
    {
      "Make kinds:of:": [
        " agents",
        "object"
      ]
    },
    {
      "Make kinds:of:": [
        " players",
        "agent"
      ]
    },
    {
      "NounStatement:tail:": [
        {
          "Lede:nounPhrase kindOfNoun:": [
            [
              "the player"
            ],
            {
              "KindOfNoun:trait:kind:": [
                "isa",
                [],
                "players"
              ]
            }
          ]
        },
        []
      ]
    },
    {
      "Kinds:have:": [
        "Agents",
        [
          {
            "Text named:": "pawn"
          }
        ]
      ]
    },
    {
      "Kinds:have:": [
        "Actors",
        [
          {
            "Bool named:": "in darkness"
          }
        ]
      ]
    }
  ],
  [
    {
      "Comment:": "this should be injected rather than be part of the library."
    },
    {
      "NounStatement:tail:": [
        {
          "Lede:nounPhrase kindOfNoun:": [
            [
              "our self"
            ],
            {
              "KindOfNoun:trait:kind:": [
                "isan",
                [],
                "actor"
              ]
            }
          ]
        },
        [
          {
            "Tail:nounPhrase nounTraits:": [
              "it",
              {
                "NounTraits:trait:": [
                  "is",
                  [
                    "privately named"
                  ]
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "NounAssignment:nouns:lines:": [
        "pawn",
        [
          "the player"
        ],
        "self"
      ]
    },
    {
      "NounAssignment:nouns:lines:": [
        "printed name",
        [
          "our self"
        ],
        "you"
      ]
    },
    {
      "NounStatement:tail:": [
        {
          "Lede:nounPhrase nounTraits:": [
            [
              "our self"
            ],
            {
              "NounTraits:trait:": [
                "is",
                [
                  "proper named"
                ]
              ]
            }
          ]
        },
        []
      ]
    }
  ],
  [
    {
      "PatternDecl:name:optvars:": [
        "patterns",
        "isPlayer",
        {
          "PatternVariablesTail:": [
            {
              "Text named:of:": [
                "obj",
                "object"
              ]
            }
          ]
        }
      ]
    },
    {
      "PatternActions:patternReturn:patternRules:": [
        "isPlayer",
        {
          "PatternReturn:": {
            "Bool named:": "success"
          }
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "KindOf:is:": [
                    "@obj",
                    "actors"
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "success",
                        {
                          "FromBool:": {
                            "Cmp:is:txt:": [
                              "@obj",
                              "Equals",
                              {
                                "Get:from:": [
                                  "pawn",
                                  {
                                    "ObjFields:": "player"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "KindOf:is:": [
                    "@obj",
                    "agents"
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "success",
                        {
                          "FromBool:": {
                            "Cmp:is:txt:": [
                              "@obj",
                              "Equals",
                              {
                                "IdOf:": "player"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "RelativeToNoun:nouns:areBeing:nouns1:": [
        " whereabouts",
        [
          "our self"
        ],
        "is",
        [
          "our kitchen"
        ]
      ]
    }
  ],
  [
    {
      "TestRule:hook activity:": [
        "player tests",
        {
          "Act:": [
            {
              "If:do:": [
                {
                  "Determine:arguments:": [
                    "isPlayer",
                    {
                      "Args:": [
                        {
                          "Arg:from:": [
                            "obj",
                            {
                              "FromTxt:": "self"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Say:": "yes"
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "TestStatement:test:": [
        "player tests",
        {
          "TestOutput:": "yes"
        }
      ]
    }
  ],
  [
    {
      "GrammarDecl:": {
        "Alias:asNoun:": [
          [
            "me",
            "myself",
            "self"
          ],
          "player"
        ]
      }
    }
  ]
]
