{
  "Tapestry:": [
    {
      "Define kind:fields:": [
        "Things",
        [
          {
            "Text:": "printed plural name"
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "print plural name",
        [
          {
            "Text:kind:": [
              "obj",
              "thing"
            ]
          }
        ]
      ]
    },
    {
      "Comment:": "It says the plural of the target's name. "
    },
    {
      "Pattern:rules:": [
        "print plural name",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Say:": "{printName:.obj|pluralize!}"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Cmp:is:txt:": [
                  {
                    "Object:field:": [
                      "@obj",
                      "printed plural name"
                    ]
                  },
                  "other_than",
                  ""
                ]
              },
              [
                {
                  "Say:": "{.obj.printed_plural_name}"
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Test:withScene:do:": [
        "plural name printing",
        [
          {
            "Define nouns:as:": [
              [
                "the flowerpot",
                "the dishes",
                "the spoon"
              ],
              "things"
            ]
          },
          {
            "NounAssignment:nouns:lines:": [
              "printed plural name",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "flowerpot"
                    }
                  ]
                }
              ],
              "broken flower pots"
            ]
          }
        ],
        [
          {
            "Say:": "{print_plural_name: .flowerpot}, {print_plural_name: .dishes}, {print_plural_name: .spoon}."
          },
          {
            "Expect output:": "broken flower pots, dishes, spoons."
          }
        ]
      ]
    }
  ]
}
