[
  [
    {
      "KindsPossessProperties:propertyDecl:": [
        " things",
        [
          {
            "PropertyDecl:property:propertyType primitive:": [
              "a",
              "printed plural name",
              "text"
            ]
          }
        ]
      ]
    }
  ],
  [
    {
      "PatternDecl:name:optvars:": [
        "patterns",
        "print plural name",
        {
          "PatternVariablesTail:": [
            {
              "VariableDecl:name:type object:": [
                "a",
                "obj",
                {
                  "ObjectType:kind:": [
                    "a",
                    "thing"
                  ]
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "Comment:": "It says the plural of the target's name. "
    },
    {
      "PatternActions:patternRules:": [
        "print plural name",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                "Always",
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Plural of:": {
                          "RenderTemplate:": "{.obj}"
                        }
                      }
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "Cmp:is:txt:": [
                    {
                      "Get:from:": [
                        "printed plural name",
                        {
                          "VarFields:": "obj"
                        }
                      ]
                    },
                    "OtherThan",
                    ""
                  ]
                },
                {
                  "Act:": [
                    {
                      "Say:": {
                        "RenderTemplate:": "{.obj.printed_plural_name}"
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "TestScene:story:": [
        "plural name printing",
        {
          "Story:": [
            {
              "Paragraph:": [
                {
                  "NounStatement:tail:": [
                    {
                      "Lede:nounPhrase kindOfNoun:": [
                        [
                          "the flowerpot",
                          "the dishes",
                          "the spoon"
                        ],
                        {
                          "KindOfNoun:trait:kind:": [
                            "are",
                            [],
                            "thing"
                          ]
                        }
                      ]
                    },
                    []
                  ]
                },
                {
                  "NounAssignment:nouns:lines:": [
                    "printed plural name",
                    [
                      "the flowerpot"
                    ],
                    "broken flower pots"
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "TestStatement:test:": [
        "plural name printing",
        {
          "TestOutput:": "broken flower pots, dishes, spoons"
        }
      ]
    },
    {
      "TestRule:hook activity:": [
        "current_test",
        {
          "Act:": [
            {
              "Say:": {
                "RenderTemplate:": "{print_plural_name: .flowerpot}, {print_plural_name: .dishes}, {print_plural_name: .spoon}"
              }
            }
          ]
        }
      ]
    }
  ]
]
