{
  "Tapestry:": [
    {
      "Define pattern:requires:result:withRules:": [
        "print inline objects",
        [
          {
            "TextList:": "objs"
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "print inline objects",
        [
          {
            "RecordList:kind:initially:": [
              "groups",
              "object group",
              {
                "MakeGroups objs:": {
                  "FromTextList:": "@objs"
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": {
                    "Commas does:": [
                      {
                        "Repeating across:as:does:": [
                          {
                            "FromRecordList:": "@groups"
                          },
                          "group",
                          [
                            {
                              "Print:": {
                                "Spaces does:": [
                                  {
                                    "PrintGroup group:": {
                                      "FromRecord:": "@group"
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        ]
                      }
                    ]
                  }
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "print block list",
        [
          {
            "TextList:": "objs"
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "print block list",
        [
          {
            "RecordList:kind:initially:": [
              "groups",
              "object group",
              {
                "MakeGroups objs:": {
                  "FromTextList:": "@objs"
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": {
                    "Rows does:": [
                      {
                        "Repeating across:as:does:": [
                          {
                            "FromRecordList:": "@groups"
                          },
                          "group",
                          [
                            {
                              "Print:": {
                                "Row does:": [
                                  {
                                    "PrintGroup group:": {
                                      "FromRecord:": "@group"
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        ]
                      }
                    ]
                  }
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "print object",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Comment:": "Say the object's name ( and some object details. ) "
    },
    {
      "Extend pattern:provides:withRules:": [
        "print object",
        [
          {
            "Number:initially:": [
              "inline depth",
              {
                "During:": "print inline objects"
              }
            ]
          },
          {
            "Number:initially:": [
              "block depth",
              {
                "During:": "print block list"
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:num:": [
                      "@block depth",
                      "greater_than",
                      0
                    ]
                  },
                  {
                    "Cmp:is:num:": [
                      "@block depth",
                      "greater_than",
                      "@inline depth"
                    ]
                  }
                ]
              },
              [
                {
                  "PrintOneBlock obj:": {
                    "FromText:": "@obj"
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:num:": [
                      "@inline depth",
                      "greater_than",
                      0
                    ]
                  },
                  {
                    "Cmp:is:num:": [
                      "@inline depth",
                      "greater_than",
                      "@block depth"
                    ]
                  }
                ]
              },
              [
                {
                  "Print:": {
                    "Spaces does:": [
                      {
                        "A noun:": {
                          "FromText:": "@obj"
                        }
                      },
                      {
                        "Print:": {
                          "Brackets does:": [
                            {
                              "PrintDetails obj:": {
                                "FromText:": "@obj"
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Say:": "{.obj}"
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "print one block",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "print one block",
        [
          {
            "TextList:initially:": [
              "kids",
              {
                "VisibleStorage obj:": {
                  "FromText:": "@obj"
                }
              }
            ]
          },
          {
            "Bool:initially:": [
              "hasKids",
              {
                "Cmp:is:num:": [
                  {
                    "Len:": {
                      "FromTextList:": "@kids"
                    }
                  },
                  "greater_than",
                  0
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": {
                    "Spaces does:": [
                      {
                        "A noun:": {
                          "FromText:": "@obj"
                        }
                      },
                      {
                        "PrintStatus obj:isEmpty:": [
                          {
                            "FromText:": "@obj"
                          },
                          {
                            "FromBool:": {
                              "Not:": "@hasKids"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "If:does:": [
                    "@hasKids",
                    [
                      {
                        "PrintBlockList objs:": {
                          "FromTextList:": "@kids"
                        }
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "print inline storage",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "Bool:": "success"
        },
        []
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "print inline storage",
        [
          {
            "TextList:initially:": [
              "kids",
              {
                "VisibleStorage obj:": {
                  "FromText:": "@obj"
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "Cmp:is:num:": [
                  {
                    "Len:": {
                      "FromTextList:": "@kids"
                    }
                  },
                  "greater_than",
                  0
                ]
              },
              [
                {
                  "Print response:with:": [
                    "inline storage",
                    {
                      "Say:": "{On: .obj|capitalize!} {the: .obj} {are: .obj .kids} {print_inline_objects: .kids}."
                    }
                  ]
                },
                {
                  "Set:from:": [
                    "@success",
                    {
                      "FromBool:": true
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "print details",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Comment:": "Says some (usually parenthetical) details about an object -- for instance: its contents.  (Alternatively, see \"print status\" which writes bare bones information about an object.)"
    },
    {
      "Extend pattern:provides:withRules:": [
        "print details",
        [
          {
            "TextList:initially:": [
              "kids",
              {
                "VisibleStorage obj:": {
                  "FromText:": "@obj"
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:num:": [
                      {
                        "Len:": {
                          "FromTextList:": "@kids"
                        }
                      },
                      "greater_than",
                      0
                    ]
                  }
                ]
              },
              [
                {
                  "Print response:with:": [
                    "on which are",
                    {
                      "Say:": "{on: .obj} which {are: .obj .kids} {print_inline_objects: .kids}"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "KindOf:is:": [
                      "@obj",
                      "containers"
                    ]
                  },
                  {
                    "Object:field:": [
                      "@obj",
                      "closed"
                    ]
                  }
                ]
              },
              [
                {
                  "Print response:with:": [
                    "closed container",
                    {
                      "Say:": "closed"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "KindOf:is:": [
                      "@obj",
                      "containers"
                    ]
                  }
                ]
              },
              [
                {
                  "Print response:with:": [
                    "empty container",
                    {
                      "Say:": "empty"
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "print status",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          },
          {
            "Bool:": "isEmpty"
          }
        ],
        {
          "Bool:": "skip"
        },
        []
      ]
    },
    {
      "Comment:": "extra information about an object useful for inventorying ( usually appearing inside brackets )"
    },
    {
      "Extend pattern:withRules:": [
        "print status",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": {
                    "Spaces does:": [
                      {
                        "Print:": {
                          "Brackets does:": [
                            {
                              "Print:": {
                                "Commas does:": [
                                  {
                                    "PrintInnerStatus obj:isEmpty:": [
                                      {
                                        "FromText:": "@obj"
                                      },
                                      {
                                        "FromBool:": "@isEmpty"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "print inner status",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          },
          {
            "Bool:": "isEmpty"
          }
        ],
        {
          "Bool:": "skip"
        },
        []
      ]
    },
    {
      "Comment:": "usually called via \"print status\" to add spacing and comma-and separators "
    },
    {
      "Extend pattern:withRules:": [
        "print inner status",
        [
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@obj",
                  "lit"
                ]
              },
              [
                {
                  "Print response:with:": [
                    "lit status",
                    {
                      "Say:": "providing light"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@obj",
                  "worn"
                ]
              },
              [
                {
                  "Print response:with:": [
                    "worn status",
                    {
                      "Say:": "being worn"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@obj",
                  "openable"
                ]
              },
              [
                {
                  "Print response:with:": [
                    "openable status",
                    {
                      "Say:": "{if .obj.closed}closed{else}open{if .isEmpty} but empty{end}"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Object:field:": [
                      "@obj",
                      "transparent"
                    ]
                  },
                  {
                    "Object:field:": [
                      "@obj",
                      "unopenable"
                    ]
                  }
                ]
              },
              [
                {
                  "Print response:with:": [
                    "transparent status",
                    {
                      "Say:": "{if .isEmpty}empty{end}"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@obj",
                  "locked"
                ]
              },
              [
                {
                  "Print response:with:": [
                    "locked status",
                    {
                      "Say:": "{if .obj.closed and .obj.locked}locked{end}"
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
