{
  "Tapestry:": [
    {
      "--": [
        "Prints the objects in a pre-determined group.",
        "Having this as its own pattern allows authors to add custom prefixes and suffixes using before and after rules."
      ],
      "Define pattern:requires:result:provides:withRules:": [
        "print group",
        [
          {
            "Record:kind:": [
              "group",
              "object groups"
            ]
          }
        ],
        {
          "Bool:": "success"
        },
        [
          {
            "Record:kind:initially:": [
              "grouping",
              "grouping",
              {
                "Variable:dot:": [
                  "group",
                  [
                    {
                      "AtField:": "grouping"
                    }
                  ]
                ]
              }
            ]
          },
          {
            "TextList:initially:": [
              "objs",
              {
                "Variable:dot:": [
                  "group",
                  [
                    {
                      "AtField:": "objects"
                    }
                  ]
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:do:": [
              true,
              [
                {
                  "Log:value:": [
                    "note",
                    {
                      "FromRecord:": "@group"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "Is empty:": {
                      "Variable:dot:": [
                        "grouping",
                        [
                          {
                            "AtField:": "label"
                          }
                        ]
                      ]
                    }
                  }
                ]
              },
              [
                {
                  "Comment:": "completely unobject groups; presumably just one for each group."
                },
                {
                  "PrintGroupedObject obj:": {
                    "FromText:": {
                      "Variable:dot:": [
                        "objs",
                        [
                          {
                            "AtIndex:": 1
                          }
                        ]
                      ]
                    }
                  }
                },
                {
                  "Set:from:": [
                    "@success",
                    {
                      "FromBool:": true
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "Variable:dot:": [
                      "grouping",
                      [
                        {
                          "AtField:": "not hide size"
                        }
                      ]
                    ]
                  }
                ]
              },
              [
                {
                  "Comment:": "print the size, and possibly a label, for a group of objects."
                },
                {
                  "PrintSeveral obj:groupSize:label:": [
                    {
                      "FromText:": {
                        "Variable:dot:": [
                          "objs",
                          [
                            {
                              "AtIndex:": 1
                            }
                          ]
                        ]
                      }
                    },
                    {
                      "FromNumber:": {
                        "Len:": {
                          "FromTextList:": "@objs"
                        }
                      }
                    },
                    {
                      "FromText:": {
                        "Txt if:then:else:": [
                          {
                            "Variable:dot:": [
                              "grouping",
                              [
                                {
                                  "AtField:": "not hide label"
                                }
                              ]
                            ]
                          },
                          {
                            "Variable:dot:": [
                              "grouping",
                              [
                                {
                                  "AtField:": "label"
                                }
                              ]
                            ]
                          },
                          ""
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "Variable:dot:": [
                      "grouping",
                      [
                        {
                          "AtField:": "is hide size"
                        }
                      ]
                    ]
                  },
                  {
                    "Variable:dot:": [
                      "grouping",
                      [
                        {
                          "AtField:": "not hide label"
                        }
                      ]
                    ]
                  }
                ]
              },
              [
                {
                  "Comment:": "print a label with no prefixed size."
                },
                {
                  "Print:": {
                    "Variable:dot:": [
                      "grouping",
                      [
                        {
                          "AtField:": "label"
                        }
                      ]
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "Variable:dot:": [
                      "grouping",
                      [
                        {
                          "AtField:": "not hide objects"
                        }
                      ]
                    ]
                  }
                ]
              },
              [
                {
                  "Comment:": "unless something else stops us, print a bracketed list of objects"
                },
                {
                  "If:do:else:": [
                    {
                      "Variable:dot:": [
                        "grouping",
                        [
                          {
                            "AtField:": "not hide size"
                          }
                        ]
                      ]
                    },
                    [
                      {
                        "Print:": {
                          "Brackets do:": [
                            {
                              "Print:": {
                                "Commas do:": [
                                  {
                                    "Repeating across:as:do:": [
                                      {
                                        "FromTextList:": "@objs"
                                      },
                                      "obj",
                                      [
                                        {
                                          "PrintGroupedObject obj:grouping:": [
                                            {
                                              "FromText:": "@obj"
                                            },
                                            {
                                              "FromRecord:": "@grouping"
                                            }
                                          ]
                                        }
                                      ]
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    ],
                    {
                      "Else do:": [
                        {
                          "Print:": {
                            "Commas do:": [
                              {
                                "Repeating across:as:do:": [
                                  {
                                    "FromTextList:": "@objs"
                                  },
                                  "obj",
                                  [
                                    {
                                      "PrintGroupedObject obj:grouping:": [
                                        {
                                          "FromText:": "@obj"
                                        },
                                        {
                                          "FromRecord:": "@grouping"
                                        }
                                      ]
                                    }
                                  ]
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "print grouped object",
        [
          {
            "Text:kind:": [
              "obj",
              "object"
            ]
          },
          {
            "Record:kind:": [
              "grouping",
              "grouping"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Comment:": "By default, just calls \"print object\" but can be overridden based on the grouping. "
    },
    {
      "Extend pattern:withRules:": [
        "print grouped object",
        [
          {
            "PatternRule:do:": [
              true,
              [
                {
                  "PrintObject obj:": {
                    "FromText:": "@obj"
                  }
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
