{
  "Tapestry:": [
    {
      "Define pattern:requires:result:withRules:": [
        "We",
        [
          {
            "TextList:": "names"
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Comment:": "We refers to the player. As with all the customizable grammar, we use the plural for the name of pattern."
    },
    {
      "Extend pattern:withRules:": [
        "We",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": "you"
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Comment:": "they, [we], [ey], it. "
    },
    {
      "Define pattern:requires:result:withRules:": [
        "They",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "They",
        [
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@noun",
                  "plural named"
                ]
              },
              [
                {
                  "Print:": "they"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": "it"
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "Those",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "Those",
        [
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@noun",
                  "plural named"
                ]
              },
              [
                {
                  "Print:": "these"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": "that"
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
