[
  [
    {
      "ActionDecl:action:actionParams dual:": [
        "retrieve from",
        "retrieving from",
        {
          "PairedAction:": "things"
        }
      ]
    },
    {
      "PatternActions:patternLocals:patternRules:": [
        "retrieving from",
        {
          "PatternLocals:": [
            {
              "LocalDecl:value:": [
                {
                  "Text named:of:": [
                    "actor",
                    "actor"
                  ]
                },
                {
                  "LocalInit:": {
                    "Get:from:": [
                      "pawn",
                      {
                        "VarFields:": "agent"
                      }
                    ]
                  }
                }
              ]
            }
          ]
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Determine:arguments:": [
                    "isPlayer",
                    {
                      "Args:": [
                        {
                          "Arg:from:": [
                            "obj",
                            "@actor"
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Comment:": "can we \"reach\" the noun we are attempting to retrieve?"
                    },
                    {
                      "If:from:and:do:else:": [
                        "result",
                        {
                          "FromTxt:": {
                            "Determine:arguments:": [
                              "can reach",
                              {
                                "Args:": [
                                  {
                                    "Arg:from:": [
                                      "actor",
                                      "@actor"
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "action",
                                      {
                                        "FromTxt:": "retrieving from"
                                      }
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "noun",
                                      "@noun"
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        },
                        {
                          "Not:": {
                            "Is empty:": "@result"
                          }
                        },
                        {
                          "Act:": [
                            {
                              "Say:": "@result"
                            }
                          ]
                        },
                        {
                          "ElseDo:": {
                            "Act:": [
                              {
                                "If:from:and:do:else:": [
                                  "result",
                                  {
                                    "FromTxt:": {
                                      "Determine:arguments:": [
                                        "can use",
                                        {
                                          "Args:": [
                                            {
                                              "Arg:from:": [
                                                "actor",
                                                "@actor"
                                              ]
                                            },
                                            {
                                              "Arg:from:": [
                                                "action",
                                                {
                                                  "FromTxt:": "retrieving from"
                                                }
                                              ]
                                            },
                                            {
                                              "Arg:from:": [
                                                "noun",
                                                "@noun"
                                              ]
                                            },
                                            {
                                              "Arg:from:": [
                                                "other noun",
                                                "@other noun"
                                              ]
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "Not:": {
                                      "Is empty:": "@result"
                                    }
                                  },
                                  {
                                    "Act:": [
                                      {
                                        "Say:": "@result"
                                      }
                                    ]
                                  },
                                  {
                                    "ElseDo:": {
                                      "Act:": [
                                        {
                                          "If:do:": [
                                            {
                                              "Send:path:arguments:": [
                                                "retrieve from",
                                                {
                                                  "Determine:arguments:": [
                                                    "parentsOf",
                                                    {
                                                      "Args:": [
                                                        {
                                                          "Arg:from:": [
                                                            "obj",
                                                            "@noun"
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                },
                                                {
                                                  "Args:": [
                                                    {
                                                      "Arg:from:": [
                                                        "actor",
                                                        "@actor"
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "noun",
                                                        "@noun"
                                                      ]
                                                    },
                                                    {
                                                      "Arg:from:": [
                                                        "other noun",
                                                        "@other noun"
                                                      ]
                                                    }
                                                  ]
                                                }
                                              ]
                                            },
                                            {
                                              "Act:": [
                                                {
                                                  "Determine:arguments:": [
                                                    "Report retrieving from",
                                                    {
                                                      "Args:": [
                                                        {
                                                          "Arg:from:": [
                                                            "actor",
                                                            "@actor"
                                                          ]
                                                        },
                                                        {
                                                          "Arg:from:": [
                                                            "noun",
                                                            "@noun"
                                                          ]
                                                        },
                                                        {
                                                          "Arg:from:": [
                                                            "other noun",
                                                            "@other noun"
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  ]
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "PatternActions:patternRules:": [
        "can reach",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "retrieving from"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Determine:arguments:": [
                              "can reach",
                              {
                                "Args:": [
                                  {
                                    "Arg:from:": [
                                      "actor",
                                      "@actor"
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "action",
                                      {
                                        "FromTxt:": "taking"
                                      }
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "noun",
                                      {
                                        "FromTxt:": "@noun"
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "PatternActions:patternRules:": [
        "can use",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "retrieving from"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Determine:arguments:": [
                              "can use",
                              {
                                "Args:": [
                                  {
                                    "Arg:from:": [
                                      "actor",
                                      "@actor"
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "action",
                                      {
                                        "FromTxt:": "taking"
                                      }
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "noun",
                                      {
                                        "FromTxt:": "@noun"
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "retrieving from"
                      ]
                    },
                    {
                      "Cmp:is:txt:": [
                        {
                          "Determine:arguments:": [
                            "parentOf",
                            {
                              "Args:": [
                                {
                                  "Arg:from:": [
                                    "obj",
                                    "@noun"
                                  ]
                                }
                              ]
                            }
                          ]
                        },
                        "OtherThan",
                        "@other noun"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't retrieve what's not inside",
                              {
                                "RenderTemplate:": "But {they:.noun} {arent:.noun} there now."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "EventBlock kinds:handlers:": [
        "things",
        [
          {
            "EventHandler:event:patternRules:": [
              "while",
              "retrieve from",
              {
                "PatternRules:": [
                  {
                    "PatternRule:hook activity:": [
                      "Always",
                      {
                        "Act:": [
                          {
                            "Let:be:": [
                              "success",
                              {
                                "FromBool:": {
                                  "Send:path:arguments:": [
                                    "take",
                                    {
                                      "Determine:arguments:": [
                                        "parentsOf",
                                        {
                                          "Args:": [
                                            {
                                              "Arg:from:": [
                                                "obj",
                                                "@noun"
                                              ]
                                            }
                                          ]
                                        }
                                      ]
                                    },
                                    {
                                      "Args:": [
                                        {
                                          "Arg:from:": [
                                            "actor",
                                            "@actor"
                                          ]
                                        },
                                        {
                                          "Arg:from:": [
                                            "noun",
                                            "@noun"
                                          ]
                                        }
                                      ]
                                    }
                                  ]
                                }
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    }
  ],
  [
    {
      "PatternDecl:name:optvars:": [
        "patterns",
        "report retrieving from",
        {
          "PatternVariablesTail:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            },
            {
              "Text named:of:": [
                "noun",
                "thing"
              ]
            },
            {
              "Text named:of:": [
                "other noun",
                "thing"
              ]
            }
          ]
        }
      ]
    },
    {
      "PatternActions:patternRules:": [
        "report retrieving from",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                "Always",
                {
                  "Act:": [
                    {
                      "Determine:arguments:": [
                        "Report taking",
                        {
                          "Args:": [
                            {
                              "Arg:from:": [
                                "actor",
                                "@actor"
                              ]
                            },
                            {
                              "Arg:from:": [
                                "noun",
                                "@noun"
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
]
