{
  "Tapestry:": [
    {
      "Event:action:args dual:": [
        "retrieve from",
        "retrieving from",
        {
          "PairedAction:": "things"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "retrieving from",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Get:from:": [
                  "pawn",
                  {
                    "VarFields:": "agent"
                  }
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": "@actor"
              },
              [
                {
                  "Comment:": "can we \"reach\" the noun we are attempting to retrieve?"
                },
                {
                  "If:from:and:does:else:": [
                    "result",
                    {
                      "FromTxt:": {
                        "CanReach actor:action:noun:": [
                          "@actor",
                          {
                            "FromTxt:": "retrieving from"
                          },
                          "@noun"
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@result"
                      }
                    },
                    [
                      {
                        "Say:": "@result"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "If:from:and:does:else:": [
                            "result",
                            {
                              "FromTxt:": {
                                "CanUse actor:action:noun:otherNoun:": [
                                  "@actor",
                                  {
                                    "FromTxt:": "retrieving from"
                                  },
                                  "@noun",
                                  "@other noun"
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@result"
                              }
                            },
                            [
                              {
                                "Say:": "@result"
                              }
                            ],
                            {
                              "ElseDo does:": [
                                {
                                  "If:does:": [
                                    {
                                      "Send:event:": [
                                        {
                                          "Capture obj:": "@noun"
                                        },
                                        {
                                          "RetrieveFrom actor:noun:otherNoun:": [
                                            "@actor",
                                            "@noun",
                                            "@other noun"
                                          ]
                                        }
                                      ]
                                    },
                                    [
                                      {
                                        "ReportRetrievingFrom actor:noun:otherNoun:": [
                                          "@actor",
                                          "@noun",
                                          "@other noun"
                                        ]
                                      }
                                    ]
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:rules:": [
        "can reach",
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "retrieving from"
                    ]
                  }
                ]
              },
              [
                {
                  "Let:be:": [
                    "response",
                    {
                      "FromTxt:": {
                        "CanReach actor:action:noun:": [
                          "@actor",
                          {
                            "FromTxt:": "taking"
                          },
                          {
                            "FromTxt:": "@noun"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:rules:": [
        "can use",
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "retrieving from"
                    ]
                  }
                ]
              },
              [
                {
                  "Let:be:": [
                    "response",
                    {
                      "FromTxt:": {
                        "CanUse actor:action:noun:": [
                          "@actor",
                          {
                            "FromTxt:": "taking"
                          },
                          {
                            "FromTxt:": "@noun"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "retrieving from"
                    ]
                  },
                  {
                    "Cmp:is:txt:": [
                      {
                        "ParentOf obj:": "@noun"
                      },
                      "other_than",
                      "@other noun"
                    ]
                  }
                ]
              },
              [
                {
                  "Let:be:": [
                    "response",
                    {
                      "FromTxt:": {
                        "Response:text:": [
                          "can't retrieve what's not inside",
                          {
                            "RenderTemplate:": "But {they:.noun} {arent:.noun} there now."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Listen kinds:handlers:": [
        "things",
        [
          {
            "With:event:rules:": [
              "while",
              "retrieve from",
              [
                {
                  "PatternRule:does:": [
                    {
                      "Always": true
                    },
                    [
                      {
                        "Let:be:": [
                          "success",
                          {
                            "FromBool:": {
                              "Send:event:": [
                                {
                                  "Capture obj:": "@noun"
                                },
                                {
                                  "Take actor:noun:": [
                                    "@actor",
                                    "@noun"
                                  ]
                                }
                              ]
                            }
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report retrieving from",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          },
          {
            "Text:kind:": [
              "other noun",
              "thing"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "report retrieving from",
        [
          {
            "PatternRule:does:": [
              {
                "Always": true
              },
              [
                {
                  "ReportTaking actor:noun:": [
                    "@actor",
                    "@noun"
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
