{
  "Tapestry:": [
    {
      "Define action:requires:": [
        "retrieving from",
        [
          {
            "--": "the actor activating ( ex. the player. ) something",
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "--": "the thing being retrieved",
            "Text:kind:": [
              "noun",
              "thing"
            ]
          },
          {
            "--": "the thing from which the noun is being retrieved",
            "Text:kind:": [
              "other noun",
              "thing"
            ]
          }
        ]
      ]
    },
    {
      "Rule for:do:": [
        "before retrieving from",
        [
          {
            "Comment:": "can we \"reach\" the noun we are attempting to retrieve?"
          },
          {
            "If:assuming:do:else:": [
              {
                "Not:": {
                  "Is empty:": "@result"
                }
              },
              {
                "Arg:from:": [
                  "result",
                  {
                    "FromText:": {
                      "CanReach actor:action:noun:": [
                        {
                          "FromText:": "@actor"
                        },
                        {
                          "FromText:": "retrieving from"
                        },
                        {
                          "FromText:": "@noun"
                        }
                      ]
                    }
                  }
                ]
              },
              [
                {
                  "Print:": "@result"
                }
              ],
              {
                "If:assuming:do:": [
                  {
                    "Not:": {
                      "Is empty:": "@result"
                    }
                  },
                  {
                    "Arg:from:": [
                      "result",
                      {
                        "FromText:": {
                          "CanUse actor:action:noun:otherNoun:": [
                            {
                              "FromText:": "@actor"
                            },
                            {
                              "FromText:": "retrieving from"
                            },
                            {
                              "FromText:": "@noun"
                            },
                            {
                              "FromText:": "@other_noun"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  [
                    {
                      "Print:": "@result"
                    }
                  ]
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "Rule for:named:do:": [
        "retrieving from",
        "the standard retrieving action",
        {
          "Taking actor:noun:": [
            {
              "FromText:": "@actor"
            },
            {
              "FromText:": "@noun"
            }
          ]
        }
      ]
    },
    {
      "Rule for:do:": [
        "can reach",
        {
          "If:do:": [
            {
              "AllTrue:": [
                {
                  "Cmp:is:txt:": [
                    "@action",
                    "equal_to",
                    "retrieving from"
                  ]
                }
              ]
            },
            [
              {
                "Set:from:": [
                  "@response",
                  {
                    "FromText:": {
                      "CanReach actor:action:noun:": [
                        {
                          "FromText:": "@actor"
                        },
                        {
                          "FromText:": "taking"
                        },
                        {
                          "FromText:": "@noun"
                        }
                      ]
                    }
                  }
                ]
              }
            ]
          ]
        }
      ]
    },
    {
      "--": ""
    },
    {
      "Rule for:do:": [
        "can use",
        {
          "If:do:": [
            {
              "AllTrue:": [
                {
                  "Cmp:is:txt:": [
                    "@action",
                    "equal_to",
                    "retrieving from"
                  ]
                }
              ]
            },
            [
              {
                "Set:from:": [
                  "@response",
                  {
                    "FromText:": {
                      "CanUse actor:action:noun:": [
                        {
                          "FromText:": "@actor"
                        },
                        {
                          "FromText:": "taking"
                        },
                        {
                          "FromText:": "@noun"
                        }
                      ]
                    }
                  }
                ]
              }
            ]
          ]
        }
      ]
    },
    {
      "Rule for:do:": [
        "can use",
        {
          "If:do:": [
            {
              "AllTrue:": [
                {
                  "Cmp:is:txt:": [
                    "@action",
                    "equal_to",
                    "retrieving from"
                  ]
                },
                {
                  "Cmp:is:txt:": [
                    {
                      "ParentOf obj:": {
                        "FromText:": "@noun"
                      }
                    },
                    "other_than",
                    "@other_noun"
                  ]
                }
              ]
            },
            [
              {
                "Set:from:": [
                  "@response",
                  {
                    "FromText:": {
                      "Say response:with:": [
                        "can't retrieve what's not inside",
                        "But {they:.noun} {arent: .noun} there now."
                      ]
                    }
                  }
                ]
              }
            ]
          ]
        }
      ]
    }
  ]
}
