{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "retrieving test",
        "Kitchenette",
        [
          {
            "Declare:": [
              "You and Mildred are in the kitchen.",
              "The coffee is in the machine.",
              "Mildred is carrying the empire apple."
            ]
          }
        ],
        [
          {
            "Print:": {
              "Rows do:": [
                {
                  "Print:": {
                    "Row do:": [
                      {
                        "Print:": "Fail to retrieve from something closed:<br>"
                      },
                      {
                        "Retrieving actor:noun:otherNoun:": [
                          {
                            "FromText:": {
                              "Object:field:": [
                                "player",
                                "pawn"
                              ]
                            }
                          },
                          {
                            "FromText:": "coffee"
                          },
                          {
                            "FromText:": "machine"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row do:": [
                      {
                        "Say:": "The soup's parent was: {the: {parent_of: .soup}}."
                      },
                      {
                        "Print:": "Okay, retrieve from supporter:<br>"
                      },
                      {
                        "Retrieving actor:noun:otherNoun:": [
                          {
                            "FromText:": {
                              "Object:field:": [
                                "player",
                                "pawn"
                              ]
                            }
                          },
                          {
                            "FromText:": "soup"
                          },
                          {
                            "FromText:": "shelf"
                          }
                        ]
                      },
                      {
                        "Say:": "The soup's parent is: {the: {parent_of: .soup}}."
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row do:": [
                      {
                        "Say:": "The hook's parent was: {the: {parent_of: .hook}}."
                      },
                      {
                        "Print:": "Okay, retrieve from container:<br>"
                      },
                      {
                        "Retrieving actor:noun:otherNoun:": [
                          {
                            "FromText:": {
                              "Object:field:": [
                                "player",
                                "pawn"
                              ]
                            }
                          },
                          {
                            "FromText:": "hook"
                          },
                          {
                            "FromText:": "cabinet"
                          }
                        ]
                      },
                      {
                        "Say:": "The hook's parent is: {the: {parent_of: .hook}}."
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row do:": [
                      {
                        "Print:": "Fail to retrieve incorrectly:<br>"
                      },
                      {
                        "Retrieving actor:noun:otherNoun:": [
                          {
                            "FromText:": {
                              "Object:field:": [
                                "player",
                                "pawn"
                              ]
                            }
                          },
                          {
                            "FromText:": "hat"
                          },
                          {
                            "FromText:": "cabinet"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row do:": [
                      {
                        "Print:": "Fail to steal:<br>"
                      },
                      {
                        "Retrieving actor:noun:otherNoun:": [
                          {
                            "FromText:": {
                              "Object:field:": [
                                "player",
                                "pawn"
                              ]
                            }
                          },
                          {
                            "FromText:": "apple"
                          },
                          {
                            "FromText:": "Mildred"
                          }
                        ]
                      }
                    ]
                  }
                }
              ]
            }
          },
          {
            "Expect output:": [
              "  - Fail to retrieve from something closed:",
              "  The espresso machine isn't open.",
              "  - The soup's parent was: the shelf. Okay, retrieve from supporter:",
              "  Taken.The soup's parent is: you.",
              "  - The hook's parent was: the cabinet. Okay, retrieve from container:",
              "  Taken.The hook's parent is: you.",
              "  - Fail to retrieve incorrectly:",
              "  But it isn't there now.",
              "  - Fail to steal:",
              "  That seems to belong to Mildred."
            ]
          }
        ]
      ]
    }
  ]
}
