{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "searching test",
        "Kitchenette",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "flower"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "knife"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:": "self"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "purse"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "kitchen"
                    }
                  ]
                }
              ]
            ]
          }
        ],
        [
          {
            "Searching agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "knife"
              }
            ]
          },
          {
            "Expect lines:": "You find nothing of interest."
          },
          {
            "Searching agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "machine"
              }
            ]
          },
          {
            "Expect lines:": "You can't see inside, it is closed."
          },
          {
            "Searching agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "counter"
              }
            ]
          },
          {
            "Expect lines:": "On the counter are the blender, the espresso machine, and the mortar."
          },
          {
            "Searching agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "purse"
              }
            ]
          },
          {
            "Expect lines:": "In the purse is the coin."
          }
        ]
      ]
    }
  ]
}
