{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "search",
        "searching",
        {
          "CommonAction:": "thing"
        }
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "searching",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:do:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:do:else:": [
                    "result",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:requiresLight:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "searching"
                          },
                          {
                            "FromText:": "@noun"
                          },
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@result"
                      }
                    },
                    [
                      {
                        "Print:": "@result"
                      }
                    ],
                    {
                      "Else do:": [
                        {
                          "If:do:": [
                            {
                              "Send:event:": [
                                {
                                  "Capture obj:": {
                                    "FromText:": "@noun"
                                  }
                                },
                                {
                                  "Search actor:noun:": [
                                    {
                                      "FromText:": "@actor"
                                    },
                                    {
                                      "FromText:": "@noun"
                                    }
                                  ]
                                }
                              ]
                            },
                            [
                              {
                                "ReportSearching actor:noun:": [
                                  {
                                    "FromText:": "@actor"
                                  },
                                  {
                                    "FromText:": "@noun"
                                  }
                                ]
                              }
                            ]
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "report searching",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "report searching",
        [
          {
            "TextList:": "items"
          }
        ],
        [
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "IsPlayer obj:": {
                      "FromText:": "@actor"
                    }
                  },
                  {
                    "ShowsStorage obj:": {
                      "FromText:": "@noun"
                    }
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@items",
                    {
                      "FromTextList:": {
                        "VisibleStorage obj:": {
                          "FromText:": "@noun"
                        }
                      }
                    }
                  ]
                },
                {
                  "If:do:else:": [
                    {
                      "Cmp:is:num:": [
                        {
                          "Len:": {
                            "FromTextList:": "@items"
                          }
                        },
                        "equal_to",
                        0
                      ]
                    },
                    [
                      {
                        "Print response:with:": [
                          "player searches empty storage",
                          {
                            "Say:": "There is nothing {on:.noun} {the:.noun}."
                          }
                        ]
                      }
                    ],
                    {
                      "Else do:": [
                        {
                          "Print response:with:": [
                            "player searches storage",
                            {
                              "Spaces do:": [
                                {
                                  "Say:": "{On:.noun|capitalize!} {the: .noun} {are: .noun .items}"
                                },
                                {
                                  "Print:": {
                                    "Commas do:": [
                                      {
                                        "Repeating across:as:do:": [
                                          {
                                            "FromTextList:": "@items"
                                          },
                                          "item",
                                          [
                                            {
                                              "Say:": "{the: .item}"
                                            }
                                          ]
                                        ]
                                      }
                                    ]
                                  }
                                },
                                {
                                  "Print:": "."
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              {
                "Not:": {
                  "IsPlayer obj:": {
                    "FromText:": "@actor"
                  }
                }
              },
              [
                {
                  "Print response:with:": [
                    "someone else searches something",
                    {
                      "Say:": "{The: .actor|capitalize!} searches {the: .noun}."
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              true,
              [
                {
                  "Print response:with:": [
                    "player searches something",
                    {
                      "Say:": "{we!|capitalize!} find nothing of interest."
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Extend pattern:withRules:": [
        "can reach",
        [
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "searching"
                    ]
                  },
                  {
                    "Not:": {
                      "ProvidesStorage obj:": {
                        "FromText:": "@noun"
                      }
                    }
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Print response:with:": [
                          "can only search storage",
                          {
                            "Say:": "{we!|capitalize!} find nothing of interest."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "searching"
                    ]
                  },
                  {
                    "FullyOpaque obj:": {
                      "FromText:": "@noun"
                    }
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Print response:with:": [
                          "can't search opaque objects",
                          {
                            "Say:": "{we:|capitalize!} can't see inside, {they: .noun} {are: .noun} closed."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
