{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "search",
        "searching",
        {
          "CommonAction:": "thing"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "searching",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Get object:": {
                  "Object:field:": [
                    "@agent",
                    "pawn"
                  ]
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": {
                    "Text value:": "@actor"
                  }
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "result",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:requiresLight:": [
                          {
                            "FromText:": {
                              "Text value:": "@actor"
                            }
                          },
                          {
                            "FromText:": "searching"
                          },
                          {
                            "FromText:": {
                              "Text value:": "@noun"
                            }
                          },
                          {
                            "FromBool:": true
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@result"
                      }
                    },
                    [
                      {
                        "Say:": "@result"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "If:does:": [
                            {
                              "Send:event:": [
                                {
                                  "Capture obj:": {
                                    "FromText:": {
                                      "Text value:": "@noun"
                                    }
                                  }
                                },
                                {
                                  "Search actor:noun:": [
                                    {
                                      "FromText:": {
                                        "Text value:": "@actor"
                                      }
                                    },
                                    {
                                      "FromText:": {
                                        "Text value:": "@noun"
                                      }
                                    }
                                  ]
                                }
                              ]
                            },
                            [
                              {
                                "ReportSearching actor:noun:": [
                                  {
                                    "FromText:": {
                                      "Text value:": "@actor"
                                    }
                                  },
                                  {
                                    "FromText:": {
                                      "Text value:": "@noun"
                                    }
                                  }
                                ]
                              }
                            ]
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report searching",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:provides:rules:": [
        "report searching",
        [
          {
            "TextList:": "items"
          }
        ],
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "player searches something",
                      {
                        "RenderTemplate:": "{we!|capitalize!} find nothing of interest."
                      }
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Not:": {
                  "IsPlayer obj:": {
                    "FromText:": {
                      "Text value:": "@actor"
                    }
                  }
                }
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "someone else searches something",
                      {
                        "RenderTemplate:": "{The: .actor|capitalize!} searches {the: .noun}."
                      }
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "IsPlayer obj:": {
                      "FromText:": {
                        "Text value:": "@actor"
                      }
                    }
                  },
                  {
                    "ShowsStorage obj:": {
                      "FromText:": {
                        "Text value:": "@noun"
                      }
                    }
                  }
                ]
              },
              [
                {
                  "Set variable:from:": [
                    "@items",
                    {
                      "FromTextList:": {
                        "VisibleStorage obj:": {
                          "FromText:": {
                            "Text value:": "@noun"
                          }
                        }
                      }
                    }
                  ]
                },
                {
                  "If:does:else:": [
                    {
                      "Cmp:is:num:": [
                        {
                          "Len:": {
                            "FromTextList:": "@items"
                          }
                        },
                        "equal_to",
                        0
                      ]
                    },
                    [
                      {
                        "Say:": {
                          "Response:text:": [
                            "player searches empty storage",
                            {
                              "RenderTemplate:": "There is nothing {on:.noun} {the:.noun}."
                            }
                          ]
                        }
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Say:": {
                            "Response:text:": [
                              "player searches storage",
                              {
                                "Spaces does:": [
                                  {
                                    "Say:": {
                                      "RenderTemplate:": "{On:.noun|capitalize!} {the: .noun} {are: .noun .items}"
                                    }
                                  },
                                  {
                                    "Say:": {
                                      "Commas does:": [
                                        {
                                          "Repeating across:as:does:": [
                                            {
                                              "FromTextList:": "@items"
                                            },
                                            "item",
                                            [
                                              {
                                                "Say:": {
                                                  "RenderTemplate:": "{the: .item}"
                                                }
                                              }
                                            ]
                                          ]
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "Say:": "."
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:rules:": [
        "can reach",
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "searching"
                    ]
                  },
                  {
                    "FullyOpaque obj:": {
                      "FromText:": {
                        "Text value:": "@noun"
                      }
                    }
                  }
                ]
              },
              [
                {
                  "Set variable:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Response:text:": [
                          "can't search opaque objects",
                          {
                            "RenderTemplate:": "{we:|capitalize!} can't see inside, {they: .noun} {are: .noun} closed."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "searching"
                    ]
                  },
                  {
                    "Not:": {
                      "ProvidesStorage obj:": {
                        "FromText:": {
                          "Text value:": "@noun"
                        }
                      }
                    }
                  }
                ]
              },
              [
                {
                  "Set variable:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Response:text:": [
                          "can only search storage",
                          {
                            "RenderTemplate:": "{we!|capitalize!} find nothing of interest."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
