[
  [
    {
      "TestStatement:test:": [
        "searching test",
        {
          "TestOutput:": "You find nothing of interest.\nYou can't see inside, it is closed.\nOn the counter are the blender, the espresso machine, and the mortar.\nIn the purse is the coin.\n"
        }
      ]
    },
    {
      "TestRule:hook activity:": [
        "searching test",
        {
          "Act:": [
            {
              "Determine:arguments:": [
                "Searching",
                {
                  "Args:": [
                    {
                      "Arg:from:": [
                        "agent",
                        {
                          "FromTxt:": "player"
                        }
                      ]
                    },
                    {
                      "Arg:from:": [
                        "noun",
                        {
                          "FromTxt:": "knife"
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "Determine:arguments:": [
                "Searching",
                {
                  "Args:": [
                    {
                      "Arg:from:": [
                        "agent",
                        {
                          "FromTxt:": "player"
                        }
                      ]
                    },
                    {
                      "Arg:from:": [
                        "noun",
                        {
                          "FromTxt:": "machine"
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "Determine:arguments:": [
                "Searching",
                {
                  "Args:": [
                    {
                      "Arg:from:": [
                        "agent",
                        {
                          "FromTxt:": "player"
                        }
                      ]
                    },
                    {
                      "Arg:from:": [
                        "noun",
                        {
                          "FromTxt:": "counter"
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "Determine:arguments:": [
                "Searching",
                {
                  "Args:": [
                    {
                      "Arg:from:": [
                        "agent",
                        {
                          "FromTxt:": "player"
                        }
                      ]
                    },
                    {
                      "Arg:from:": [
                        "noun",
                        {
                          "FromTxt:": "purse"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "TestScene:story:": [
        "searching test",
        {
          "Story:": [
            {
              "Paragraph:": [
                {
                  "RelativeToNoun:nouns:areBeing:nouns1:": [
                    " whereabouts",
                    [
                      "the flower",
                      "the knife"
                    ],
                    "is",
                    [
                      "our self"
                    ]
                  ]
                }
              ]
            },
            {
              "Paragraph:": [
                {
                  "RelativeToNoun:nouns:areBeing:nouns1:": [
                    " whereabouts",
                    [
                      "the purse"
                    ],
                    "is",
                    [
                      "the kitchen"
                    ]
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
]
