{
  "Tapestry:": [
    {
      "Declare:": "Settings are kinds of kinds."
    },
    {
      "--": "Settings is a global singleton for controlling various gameplay options.",
      "Define nouns:as:": [
        "settings",
        "settings"
      ]
    },
    {
      "Define kind:fields:": [
        "Settings",
        [
          {
            "Aspect:": "abbreviated room descriptions"
          }
        ]
      ]
    },
    {
      "Declare:": "Abbreviated room descriptions are kinds of aspect."
    },
    {
      "Define traits:as:": [
        [
          "brief",
          "verbose",
          "superbrief"
        ],
        "abbreviated room descriptions"
      ]
    }
  ]
}
