{
  "Tapestry:": [
    {
      "GrammarDecl:": {
        "Directive:scans:": [
          [
            "show",
            "present",
            "display"
          ],
          [
            {
              "AnyOf:": [
                {
                  "AllOf:": [
                    {
                      "Self:": "player"
                    },
                    {
                      "Noun:": "things"
                    },
                    {
                      "As:": "examining"
                    }
                  ]
                },
                {
                  "AllOf:": [
                    {
                      "Noun:": "things"
                    },
                    {
                      "Words:": "to"
                    },
                    {
                      "Self:": "player"
                    },
                    {
                      "As:": "examining"
                    }
                  ]
                },
                {
                  "AllOf:": [
                    {
                      "Reverse:": [
                        {
                          "Noun:": "actors"
                        },
                        {
                          "Noun:": "things"
                        }
                      ]
                    },
                    {
                      "As:": "showing it to"
                    }
                  ]
                },
                {
                  "AllOf:": [
                    {
                      "Noun:": "things"
                    },
                    {
                      "Words:": "to"
                    },
                    {
                      "Noun:": "actors"
                    },
                    {
                      "As:": "showing it to"
                    }
                  ]
                }
              ]
            }
          ]
        ]
      }
    },
    {
      "Event:action:args common:": [
        "show it to",
        "showing it to",
        {
          "CommonAction:actionContext:": [
            "thing",
            {
              "ActionContext:": "actor"
            }
          ]
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "showing",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Get object:": {
                  "Object:field:": [
                    "@agent",
                    "pawn"
                  ]
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": {
                    "Text value:": "@actor"
                  }
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "response",
                    {
                      "FromText:": {
                        "CanHandle actor:action:noun:otherNoun:": [
                          {
                            "FromText:": {
                              "Text value:": "@actor"
                            }
                          },
                          {
                            "FromText:": "showing"
                          },
                          {
                            "FromText:": {
                              "Text value:": "@noun"
                            }
                          },
                          {
                            "FromText:": {
                              "Text value:": "@other noun"
                            }
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@response"
                      }
                    },
                    [
                      {
                        "Say:": "@response"
                      }
                    ],
                    {
                      "ElseIf:from:and:does:else:": [
                        "result",
                        {
                          "FromText:": {
                            "CanReach actor:action:noun:": [
                              {
                                "FromText:": {
                                  "Text value:": "@actor"
                                }
                              },
                              {
                                "FromText:": "showing"
                              },
                              {
                                "FromText:": {
                                  "Text value:": "@other noun"
                                }
                              }
                            ]
                          }
                        },
                        {
                          "Not:": {
                            "Is empty:": "@response"
                          }
                        },
                        [
                          {
                            "Say:": "@response"
                          }
                        ],
                        {
                          "ElseDo does:": [
                            {
                              "ReportShowing actor:noun:otherNoun:": [
                                {
                                  "FromText:": {
                                    "Text value:": "@actor"
                                  }
                                },
                                {
                                  "FromText:": {
                                    "Text value:": "@noun"
                                  }
                                },
                                {
                                  "FromText:": {
                                    "Text value:": "@other noun"
                                  }
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report showing",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          },
          {
            "Text:kind:": [
              "other noun",
              "actor"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "report showing",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "player shows",
                      {
                        "RenderTemplate:": "{the: .other_noun|capitalize!} {are: .other_noun} unimpressed."
                      }
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Not:": {
                  "IsPlayer obj:": {
                    "FromText:": {
                      "Text value:": "@actor"
                    }
                  }
                }
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "someone else shows",
                      {
                        "RenderTemplate:": "{The: .actor|capitalize!} shows off {the: .noun}."
                      }
                    ]
                  }
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
