{
  "Tapestry:": [
    {
        "Interpret:with:": [
          [
            "show",
            "present",
            "display"
          ],
          [
            {
              "One of:": [
                {
                  "Sequence:": [
                    {
                      "Self:": "player"
                    },
                    {
                      "One noun:": "things"
                    },
                    {
                      "Action:": "examining"
                    }
                  ]
                },
                {
                  "Sequence:": [
                    {
                      "One noun:": "things"
                    },
                    {
                      "One word:": "to"
                    },
                    {
                      "Self:": "player"
                    },
                    {
                      "Action:": "examining"
                    }
                  ]
                },
                {
                  "Sequence:": [
                    {
                      "Reverse:": [
                        {
                          "One noun:": "actors"
                        },
                        {
                          "One noun:": "things"
                        }
                      ]
                    },
                    {
                      "Action:": "showing"
                    }
                  ]
                },
                {
                  "Sequence:": [
                    {
                      "One noun:": "things"
                    },
                    {
                      "One word:": "to"
                    },
                    {
                      "One noun:": "actors"
                    },
                    {
                      "Action:": "showing"
                    }
                  ]
                }
              ]
            }
          ]
        ]
      
    },
    {
      "Event:action:args common:": [
        "show",
        "showing",
        {
          "CommonAction:actionContext:": [
            "thing",
            {
              "ActionContext:": "actor"
            }
          ]
        }
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "showing",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "response",
                    {
                      "FromText:": {
                        "CanHandle actor:action:noun:otherNoun:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "showing"
                          },
                          {
                            "FromText:": "@noun"
                          },
                          {
                            "FromText:": "@other_noun"
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@response"
                      }
                    },
                    [
                      {
                        "Print:": "@response"
                      }
                    ],
                    {
                      "ElseIf:from:and:does:else:": [
                        "result",
                        {
                          "FromText:": {
                            "CanReach actor:action:noun:": [
                              {
                                "FromText:": "@actor"
                              },
                              {
                                "FromText:": "showing"
                              },
                              {
                                "FromText:": "@other_noun"
                              }
                            ]
                          }
                        },
                        {
                          "Not:": {
                            "Is empty:": "@response"
                          }
                        },
                        [
                          {
                            "Print:": "@response"
                          }
                        ],
                        {
                          "ElseDo does:": [
                            {
                              "ReportShowing actor:noun:otherNoun:": [
                                {
                                  "FromText:": "@actor"
                                },
                                {
                                  "FromText:": "@noun"
                                },
                                {
                                  "FromText:": "@other_noun"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "report showing",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          },
          {
            "Text:kind:": [
              "other noun",
              "actor"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "report showing",
        [
          {
            "PatternRule:does:": [
              {
                "Not:": {
                  "IsPlayer obj:": {
                    "FromText:": "@actor"
                  }
                }
              },
              [
                {
                  "Print response:with:": [
                    "someone else shows",
                    {
                      "Say:": "{The: .actor|capitalize!} shows off {the: .noun}."
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print response:with:": [
                    "player shows",
                    {
                      "Say:": "{the: .other_noun|capitalize!} {are: .other_noun} unimpressed."
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
