{
  "Tapestry:": [
    {
        "Interpret:with:": [
          [
            "smell",
            "sniff"
          ],
          [
            {
              "One of:": [
                {
                  "Sequence:": [
                    {
                      "One noun:": "objects"
                    },
                    {
                      "Action:": "smelling"
                    }
                  ]
                },
                {
                  "Action:": "sniffing"
                }
              ]
            }
          ]
        ]
      
    },
    {
      "--": ""
    },
    {
      "Event:action:args none:": [
        "sniff",
        "sniffing",
        "nothing"
      ]
    },
    {
      "--": "Sniffing means smelling the current location.",
      "Extend pattern:provides:withRules:": [
        "sniffing",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:do:": [
              true,
              [
                {
                  "Smelling actor:noun:": [
                    {
                      "FromText:": "@actor"
                    },
                    {
                      "FromText:": {
                        "LocationOf obj:": {
                          "FromText:": "@actor"
                        }
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Event:action:args common:": [
        "smell",
        "smelling",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "smelling",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:do:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:do:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "smelling"
                          },
                          {
                            "FromText:": "@noun"
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Print:": "@resp"
                      }
                    ],
                    {
                      "Else do:": [
                        {
                          "If:from:and:do:else:": [
                            "resp",
                            {
                              "FromText:": {
                                "CanUse actor:action:noun:": [
                                  {
                                    "FromText:": "@actor"
                                  },
                                  {
                                    "FromText:": "smelling"
                                  },
                                  {
                                    "FromText:": "@noun"
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            [
                              {
                                "Print:": "@resp"
                              }
                            ],
                            {
                              "Else do:": [
                                {
                                  "ReportSmelling actor:noun:": [
                                    {
                                      "FromText:": "@actor"
                                    },
                                    {
                                      "FromText:": "@noun"
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "report smelling",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "report smelling",
        [
          {
            "PatternRule:do:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "Say response:with:": [
                    "player smelling",
                    "{we:|capitalize!} smell nothing unexpected."
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              true,
              [
                {
                  "Say response:with:": [
                    "actor smelling",
                    "{the:.actor|capitalize!} sniffs {the: .noun}."
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
