{
    "Tapestry:":
    [
        {
            "TestStatement:test:":
            [
                "storing test",
                {
                    "TestOutput:": "  - Fail to store something into an actor:\n  That seems to belong to Mildred.clutch parent: clutch.\n  - Fail to store something into a closed container:\n  The counter is closed.coffee parent: self.\n  - Fail to store something into something nested:\n  You can't put  that in itself.clutch parent: self.\n  - Okay, store something into an open container:\n  You put the coffee beans in the purse.coffee parent: purse.\n  - Okay, store something onto a supporter:\n  You put the coin on the shelf.coin parent: shelf.\n  - Fail to store something worn:\n  You would have to take that off first.flower parent: self.\n  - Fail to store something not held:\n  You haven't got that!broom parent: kitchen.\n  - Okay, store something into something held:\n  You put the rusty knife in the purse.knife parent: purse.\n  - Fail to store something to somewhere unreachable:\n  You haven't got that!purse parent: clutch.\n"
                }
            ]
        },
        {
            "TestRule:does:":
            [
                "storing test",
                [
                    {
                        "Say:":
                        {
                            "Rows does:":
                            [
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Fail to store something into an actor:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "clutch"
                                                    },
                                                    {
                                                        "FromTxt:": "mildred"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "clutch parent: {parentOf:.purse}."
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Fail to store something into a closed container:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "coffee"
                                                    },
                                                    {
                                                        "FromTxt:": "machine"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "coffee parent: {parentOf:.coffee}."
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Fail to store something into something nested:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "clutch"
                                                    },
                                                    {
                                                        "FromTxt:": "purse"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "clutch parent: {parentOf:.clutch}."
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Okay, store something into an open container:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "coffee"
                                                    },
                                                    {
                                                        "FromTxt:": "purse"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "coffee parent: {parentOf:.coffee}."
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Okay, store something onto a supporter:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "coin"
                                                    },
                                                    {
                                                        "FromTxt:": "shelf"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "coin parent: {parentOf:.coin}."
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Fail to store something worn:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "flower"
                                                    },
                                                    {
                                                        "FromTxt:": "shelf"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "flower parent: {parentOf:.flower}."
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Fail to store something not held:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "broom"
                                                    },
                                                    {
                                                        "FromTxt:": "cabinet"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "broom parent: {parentOf:.broom}."
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Okay, store something into something held:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "knife"
                                                    },
                                                    {
                                                        "FromTxt:": "purse"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "knife parent: {parentOf:.knife}."
                                                }
                                            }
                                        ]
                                    }
                                },
                                {
                                    "Say:":
                                    {
                                        "Row does:":
                                        [
                                            {
                                                "Say:": "Fail to store something to somewhere unreachable:<br>"
                                            },
                                            {
                                                "StoringInto agent:noun:otherNoun:":
                                                [
                                                    {
                                                        "FromTxt:": "player"
                                                    },
                                                    {
                                                        "FromTxt:": "purse"
                                                    },
                                                    {
                                                        "FromTxt:": "wisdom"
                                                    }
                                                ]
                                            },
                                            {
                                                "Say:":
                                                {
                                                    "RenderTemplate:": "purse parent: {parentOf:.purse}."
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        {
            "--": ""
        },
        {
            "TestScene:story:":
            [
                "storing test",
                
                    [
                        {
                            "RelativeToNoun:nouns:areBeing:otherNouns:":
                            [
                                "whereabouts",
                                [
                                    {
                                        "Noun:named:":
                                        [
                                            "the",
                                            "coffee"
                                        ]
                                    },
                                    {
                                        "Noun:named:":
                                        [
                                            "the",
                                            "coin"
                                        ]
                                    },
                                    {
                                        "Noun:named:":
                                        [
                                            "the",
                                            "clutch"
                                        ]
                                    },
                                    {
                                        "Noun:named:":
                                        [
                                            "the",
                                            "knife"
                                        ]
                                    },
                                    {
                                        "Noun:named:":
                                        [
                                            "the",
                                            "flower"
                                        ]
                                    }
                                ],
                                "are",
                                [
                                    {
                                        "Noun:named:":
                                        [
                                            "our",
                                            "self"
                                        ]
                                    }
                                ]
                            ]
                        },
                        {
                            "RelativeToNoun:nouns:areBeing:otherNouns:":
                            [
                                "whereabouts",
                                [
                                    {
                                        "Noun:named:":
                                        [
                                            "our",
                                            "Mildred"
                                        ]
                                    }
                                ],
                                "is",
                                [
                                    {
                                        "Noun:named:":
                                        [
                                            "the",
                                            "kitchen"
                                        ]
                                    }
                                ]
                            ]
                        }
                    ]
                
            ]
        }
    ]
}