{
  "Tapestry:": [
    {
      "TestStatement:test:": [
        "storing test",
        {
          "TestOutput:": [
            "  - Fail to store something into an actor:",
            "  That seems to belong to Mildred.clutch parent: clutch.",
            "  - Fail to store something into a closed container:",
            "  The counter is closed.coffee parent: self.",
            "  - Fail to store something into something nested:",
            "  You can't put  that in itself.clutch parent: self.",
            "  - Okay, store something into an open container:",
            "  You put the coffee beans in the purse.coffee parent: purse.",
            "  - Okay, store something onto a supporter:",
            "  You put the coin on the shelf.coin parent: shelf.",
            "  - Fail to store something worn:",
            "  You would have to take that off first.flower parent: self.",
            "  - Fail to store something not held:",
            "  You haven't got that!broom parent: kitchen.",
            "  - Okay, store something into something held:",
            "  You put the rusty knife in the purse.knife parent: purse.",
            "  - Fail to store something to somewhere unreachable:",
            "  You haven't got that!purse parent: clutch.",
            ""
          ]
        }
      ]
    },
    {
      "TestRule:does:": [
        "storing test",
        [
          {
            "Say:": {
              "Rows does:": [
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to store something into an actor:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "clutch"
                          },
                          {
                            "FromTxt:": "mildred"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "clutch parent: {parentOf:.purse}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to store something into a closed container:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "coffee"
                          },
                          {
                            "FromTxt:": "machine"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "coffee parent: {parentOf:.coffee}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to store something into something nested:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "clutch"
                          },
                          {
                            "FromTxt:": "purse"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "clutch parent: {parentOf:.clutch}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Okay, store something into an open container:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "coffee"
                          },
                          {
                            "FromTxt:": "purse"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "coffee parent: {parentOf:.coffee}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Okay, store something onto a supporter:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "coin"
                          },
                          {
                            "FromTxt:": "shelf"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "coin parent: {parentOf:.coin}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to store something worn:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "flower"
                          },
                          {
                            "FromTxt:": "shelf"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "flower parent: {parentOf:.flower}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to store something not held:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "broom"
                          },
                          {
                            "FromTxt:": "cabinet"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "broom parent: {parentOf:.broom}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Okay, store something into something held:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "knife"
                          },
                          {
                            "FromTxt:": "purse"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "knife parent: {parentOf:.knife}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to store something to somewhere unreachable:<br>"
                      },
                      {
                        "StoringInto agent:noun:otherNoun:": [
                          {
                            "FromTxt:": "player"
                          },
                          {
                            "FromTxt:": "purse"
                          },
                          {
                            "FromTxt:": "wisdom"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "purse parent: {parentOf:.purse}."
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        ]
      ]
    },
    {
      "TestScene:requires:story:": [
        "storing test",
        "Kitchenette",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "coffee"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "coin"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "clutch"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "knife"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "flower"
                    }
                  ]
                }
              ],
              "are",
              [
                {
                  "Noun:": "self"
                }
              ]
            ]
          },
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:": "Mildred"
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "kitchen"
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
