{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "taking test",
        "Kitchenette",
        [
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "self",
              "the purse"
            ]
          },
          {
            "--": ""
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              [
                "Mildred",
                "the purse"
              ],
              "the kitchen"
            ]
          },
          {
            "--": ""
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "the coin",
              "self"
            ]
          },
          {
            "--": ""
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "the empire apple",
              "Mildred"
            ]
          },
          {
            "--": ""
          },
          {
            "Define relativeTo:nouns:otherNouns:": [
              "whereabouts",
              "the coffee",
              "the machine"
            ]
          }
        ],
        [
          {
            "Print:": {
              "Rows does:": [
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Print:": "Fail to take from something closed:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "coffee"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Say:": "The apple's parent: {the: {parent_of: .apple}}."
                      },
                      {
                        "Print:": "Fail to steal:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "apple"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Print:": "Fail to take possessions:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "coin"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Print:": "Fail to take your container:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "purse"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Say:": "The knife's parent was: {the: {parent_of: .knife}}."
                      },
                      {
                        "Print:": "Okay, take something:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "knife"
                          }
                        ]
                      },
                      {
                        "Say:": "The knife's parent is: {the: {parent_of: .knife}}."
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Print:": "Fail to take your self:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "self"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Print:": "Fail to take someone else:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "mildred"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Print:": "Fail to take scenery:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "cabinet"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Print:": {
                    "Row does:": [
                      {
                        "Print:": "Fail to take something fixed in place:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "machine"
                          }
                        ]
                      }
                    ]
                  }
                }
              ]
            }
          },
          {
            "Expect output:": [
              "  - Fail to take from something closed:",
              "  The espresso machine isn't open.",
              "  - The apple's parent: Mildred. Fail to steal:",
              "  That seems to belong to Mildred.",
              "  - Fail to take possessions:",
              "  You already have that.",
              "  - Fail to take your container:",
              "  You would have to get out first.",
              "  - The knife's parent was: the cabinet. Okay, take something:",
              "  Taken.The knife's parent is: you.",
              "  - Fail to take your self:",
              "  You are always self-possessed.",
              "  - Fail to take someone else:",
              "  I don't suppose Mildred would care for that.",
              "  - Fail to take scenery:",
              "  It is hardly portable.",
              "  - Fail to take something fixed in place:",
              "  It is fixed in place."
            ]
          }
        ]
      ]
    }
  ]
}
