[
  [
    {
      "ActionDecl:action:actionParams common:": [
        "take",
        "taking",
        {
          "CommonAction:": "thing"
        }
      ]
    },
    {
      "PatternActions:patternLocals:patternRules:": [
        "taking",
        {
          "PatternLocals:": [
            {
              "LocalDecl:value:": [
                {
                  "Text named:of:": [
                    "actor",
                    "actor"
                  ]
                },
                {
                  "LocalInit:": {
                    "Get:from:": [
                      "pawn",
                      {
                        "VarFields:": "agent"
                      }
                    ]
                  }
                }
              ]
            }
          ]
        },
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "Determine:arguments:": [
                    "isPlayer",
                    {
                      "Args:": [
                        {
                          "Arg:from:": [
                            "obj",
                            "@actor"
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "If:from:and:do:else:": [
                        "result",
                        {
                          "FromTxt:": {
                            "Determine:arguments:": [
                              "can reach",
                              {
                                "Args:": [
                                  {
                                    "Arg:from:": [
                                      "actor",
                                      "@actor"
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "action",
                                      {
                                        "FromTxt:": "taking"
                                      }
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "noun",
                                      "@noun"
                                    ]
                                  },
                                  {
                                    "Arg:from:": [
                                      "requires light",
                                      {
                                        "FromBool:": false
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        },
                        {
                          "Not:": {
                            "Is empty:": "@result"
                          }
                        },
                        {
                          "Act:": [
                            {
                              "Say:": "@result"
                            }
                          ]
                        },
                        {
                          "ElseDo:": {
                            "Act:": [
                              {
                                "If:do:": [
                                  {
                                    "Send:path:arguments:": [
                                      "take",
                                      {
                                        "Determine:arguments:": [
                                          "parentsOf",
                                          {
                                            "Args:": [
                                              {
                                                "Arg:from:": [
                                                  "obj",
                                                  "@noun"
                                                ]
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "Args:": [
                                          {
                                            "Arg:from:": [
                                              "actor",
                                              "@actor"
                                            ]
                                          },
                                          {
                                            "Arg:from:": [
                                              "noun",
                                              "@noun"
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  {
                                    "Act:": [
                                      {
                                        "Determine:arguments:": [
                                          "report taking",
                                          {
                                            "Args:": [
                                              {
                                                "Arg:from:": [
                                                  "actor",
                                                  "@actor"
                                                ]
                                              },
                                              {
                                                "Arg:from:": [
                                                  "noun",
                                                  "@noun"
                                                ]
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "EventBlock kinds:handlers:": [
        "things",
        [
          {
            "EventHandler:event:patternRules:": [
              "while",
              "take",
              {
                "PatternRules:": [
                  {
                    "PatternRule:hook activity:": [
                      "Always",
                      {
                        "Act:": [
                          {
                            "If:from:and:do:else:": [
                              "error",
                              {
                                "FromTxt:": {
                                  "Determine:arguments:": [
                                    "move object",
                                    {
                                      "Args:": [
                                        {
                                          "Arg:from:": [
                                            "obj",
                                            "@noun"
                                          ]
                                        },
                                        {
                                          "Arg:from:": [
                                            "dest",
                                            "@actor"
                                          ]
                                        }
                                      ]
                                    }
                                  ]
                                }
                              },
                              {
                                "Not:": {
                                  "Is empty:": "@error"
                                }
                              },
                              {
                                "Act:": [
                                  {
                                    "Say:": "@error"
                                  },
                                  {
                                    "Let:be:": [
                                      "success",
                                      {
                                        "FromBool:": false
                                      }
                                    ]
                                  }
                                ]
                              },
                              {
                                "ElseDo:": {
                                  "Act:": [
                                    {
                                      "Log:": {
                                        "FromTxt:": {
                                          "RenderTemplate:": "{The: .actor} is taking {the: .noun}..."
                                        }
                                      }
                                    },
                                    {
                                      "Let:be:": [
                                        "success",
                                        {
                                          "FromBool:": true
                                        }
                                      ]
                                    }
                                  ]
                                }
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      ]
    }
  ],
  [
    {
      "PatternDecl:name:optvars:": [
        "patterns",
        "report taking",
        {
          "PatternVariablesTail:": [
            {
              "Text named:of:": [
                "actor",
                "actor"
              ]
            },
            {
              "Text named:of:": [
                "noun",
                "thing"
              ]
            }
          ]
        }
      ]
    },
    {
      "PatternActions:patternRules:": [
        "report taking",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                "Always",
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "player takes",
                          {
                            "RenderTemplate:": "Taken."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "Not:": {
                    "Determine:arguments:": [
                      "isPlayer",
                      {
                        "Args:": [
                          {
                            "Arg:from:": [
                              "obj",
                              "@actor"
                            ]
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Act:": [
                    {
                      "Say:": {
                        "Response:text:": [
                          "someone else takes",
                          {
                            "RenderTemplate:": "{The: .actor|capitalize!} picks up {the: .noun}."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "PatternActions:patternRules:": [
        "can reach",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "taking"
                      ]
                    },
                    {
                      "KindOf:is:": [
                        "@noun",
                        "actors"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't take other people",
                              {
                                "RenderTemplate:": "I don't suppose {the: .noun} would care for that."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "taking"
                      ]
                    },
                    {
                      "Cmp:is:txt:": [
                        "@actor",
                        "Equals",
                        "@noun"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't take yourself",
                              {
                                "RenderTemplate:": "{we!|capitalize!} {are:.self} always self-possessed."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "taking"
                      ]
                    },
                    {
                      "Get obj:trait:": [
                        "@noun",
                        "scenery"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't take scenery",
                              {
                                "RenderTemplate:": "{they:.noun|capitalize!} {are:.noun} hardly portable."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "taking"
                      ]
                    },
                    {
                      "Get obj:trait:": [
                        "@noun",
                        "fixed in place"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't take what's fixed in place",
                              {
                                "RenderTemplate:": "{they:.noun|capitalize!} {are:.noun} fixed in place."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "taking"
                      ]
                    },
                    {
                      "Not:": {
                        "KindOf:is:": [
                          "@noun",
                          "things"
                        ]
                      }
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't take nothings",
                              {
                                "RenderTemplate:": "{we:|capitalize!} can't carry {the: .noun}."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "PatternActions:patternRules:": [
        "reach up",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "taking"
                      ]
                    },
                    {
                      "Cmp:is:txt:": [
                        "@intoObj",
                        "Equals",
                        "@noun"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Comment:": "Reaching up to take the noun, means the noun contains the actor."
                    },
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't take what you're inside",
                              {
                                "RenderTemplate:": "{We:|capitalize!} would have to get {off:.noun} first."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "PatternActions:patternRules:": [
        "reach down",
        {
          "PatternRules:": [
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "taking"
                      ]
                    },
                    {
                      "KindOf:is:": [
                        "@fromObj",
                        "actors"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Comment:": "If the target noun were owned by reaching actor then the actor would be the lca. By checking \"reach down\" we are checking *below* the lca so it would have to be some other actor's possessions we are trying to reach."
                    },
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't take people's possessions",
                              {
                                "RenderTemplate:": "{those: .noun|capitalize!} seems to belong to {the: .fromObj}."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            {
              "PatternRule:hook activity:": [
                {
                  "AllTrue:": [
                    {
                      "Cmp:is:txt:": [
                        "@action",
                        "Equals",
                        "taking"
                      ]
                    },
                    {
                      "Cmp:is:txt:": [
                        "@fromObj",
                        "Equals",
                        "@actor"
                      ]
                    },
                    {
                      "Cmp:is:txt:": [
                        "@intoObj",
                        "Equals",
                        "@noun"
                      ]
                    }
                  ]
                },
                {
                  "Act:": [
                    {
                      "Comment:": "Reaching down to take the noun, means the noun contains the actor."
                    },
                    {
                      "Let:be:": [
                        "response",
                        {
                          "FromTxt:": {
                            "Response:text:": [
                              "can't take what you're holding",
                              {
                                "RenderTemplate:": "{we:|capitalize!} already have {those:.noun}."
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
]
