[
  [
    {
      "TestStatement:test:": [
        "taking test",
        {
          "TestOutput:": "  - Fail to take from something closed:\n  The espresso machine isn't open.\n  - The apple's parent: Mildred. Fail to steal:\n  That seems to belong to Mildred.\n  - Fail to take possessions:\n  You already have that.\n  - Fail to take your container:\n  You would have to get out first.\n  - The knife's parent was: the cabinet. Okay, take something:\n  Taken.The knife's parent is: you.\n  - Fail to take your self:\n  You are always self-possessed.\n  - Fail to take someone else:\n  I don't suppose Mildred would care for that.\n  - Fail to take scenery:\n  It is hardly portable.\n  - Fail to take something fixed in place:\n  It is fixed in place.\n"
        }
      ]
    },
    {
      "TestRule:hook activity:": [
        "taking test",
        {
          "Act:": [
            {
              "Say:": {
                "Rows:": {
                  "Act:": [
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": "Fail to take from something closed:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "coffee"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": {
                                "RenderTemplate:": "The apple's parent: {the: {parentOf: .apple}}."
                              }
                            },
                            {
                              "Say:": "Fail to steal:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "apple"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": "Fail to take possessions:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "coin"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": "Fail to take your container:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "purse"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": {
                                "RenderTemplate:": "The knife's parent was: {the: {parentOf: .knife}}."
                              }
                            },
                            {
                              "Say:": "Okay, take something:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "knife"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "Say:": {
                                "RenderTemplate:": "The knife's parent is: {the: {parentOf: .knife}}."
                              }
                            }
                          ]
                        }
                      }
                    },
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": "Fail to take your self:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "self"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": "Fail to take someone else:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "mildred"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": "Fail to take scenery:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "cabinet"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "Say:": {
                        "Row:": {
                          "Act:": [
                            {
                              "Say:": "Fail to take something fixed in place:<br>"
                            },
                            {
                              "Determine:arguments:": [
                                "taking",
                                {
                                  "Args:": [
                                    {
                                      "Arg:from:": [
                                        "agent",
                                        {
                                          "FromTxt:": "player"
                                        }
                                      ]
                                    },
                                    {
                                      "Arg:from:": [
                                        "noun",
                                        {
                                          "FromTxt:": "machine"
                                        }
                                      ]
                                    }
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          ]
        }
      ]
    }
  ],
  [
    {
      "TestScene:story:": [
        "taking test",
        {
          "Story:": [
            {
              "Paragraph:": [
                {
                  "RelativeToNoun:nouns:areBeing:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "our",
                          "self"
                        ]
                      }
                    ],
                    "is",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          "purse"
                        ]
                      }
                    ]
                  ]
                }
              ]
            },
            {
              "Paragraph:": [
                {
                  "RelativeToNoun:nouns:areBeing:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "our",
                          "Mildred"
                        ]
                      },
                      {
                        "Noun:named:": [
                          "the",
                          "purse"
                        ]
                      }
                    ],
                    "is",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          "kitchen"
                        ]
                      }
                    ]
                  ]
                }
              ]
            },
            {
              "Paragraph:": [
                {
                  "RelativeToNoun:nouns:areBeing:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          "coin"
                        ]
                      }
                    ],
                    "is",
                    [
                      {
                        "Noun:named:": [
                          "our",
                          "self"
                        ]
                      }
                    ]
                  ]
                }
              ]
            },
            {
              "Paragraph:": [
                {
                  "RelativeToNoun:nouns:areBeing:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          "empire apple"
                        ]
                      }
                    ],
                    "is",
                    [
                      {
                        "Noun:named:": [
                          "our",
                          "Mildred"
                        ]
                      }
                    ]
                  ]
                }
              ]
            },
            {
              "Paragraph:": [
                {
                  "RelativeToNoun:nouns:areBeing:otherNouns:": [
                    "whereabouts",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          "coffee"
                        ]
                      }
                    ],
                    "is",
                    [
                      {
                        "Noun:named:": [
                          "the",
                          "machine"
                        ]
                      }
                    ]
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
]
