{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "taking test",
        "Kitchenette",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:": "self"
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "purse"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:": "Mildred"
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "purse"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "kitchen"
                    }
                  ]
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "coin"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:": "self"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "empire apple"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:": "Mildred"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "coffee"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "machine"
                    }
                  ]
                }
              ]
            ]
          }
        ],
        [
          {
            "Say:": {
              "Rows does:": [
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to take from something closed:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "coffee"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": {
                          "RenderTemplate:": "The apple's parent: {the: {parentOf: .apple}}."
                        }
                      },
                      {
                        "Say:": "Fail to steal:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "apple"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to take possessions:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "coin"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to take your container:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "purse"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": {
                          "RenderTemplate:": "The knife's parent was: {the: {parentOf: .knife}}."
                        }
                      },
                      {
                        "Say:": "Okay, take something:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "knife"
                          }
                        ]
                      },
                      {
                        "Say:": {
                          "RenderTemplate:": "The knife's parent is: {the: {parentOf: .knife}}."
                        }
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to take your self:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "self"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to take someone else:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "mildred"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to take scenery:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "cabinet"
                          }
                        ]
                      }
                    ]
                  }
                },
                {
                  "Say:": {
                    "Row does:": [
                      {
                        "Say:": "Fail to take something fixed in place:<br>"
                      },
                      {
                        "Taking agent:noun:": [
                          {
                            "FromText:": "player"
                          },
                          {
                            "FromText:": "machine"
                          }
                        ]
                      }
                    ]
                  }
                }
              ]
            }
          },
          {
            "Expect output:": [
              "  - Fail to take from something closed:",
              "  The espresso machine isn't open.",
              "  - The apple's parent: Mildred. Fail to steal:",
              "  That seems to belong to Mildred.",
              "  - Fail to take possessions:",
              "  You already have that.",
              "  - Fail to take your container:",
              "  You would have to get out first.",
              "  - The knife's parent was: the cabinet. Okay, take something:",
              "  Taken.The knife's parent is: you.",
              "  - Fail to take your self:",
              "  You are always self-possessed.",
              "  - Fail to take someone else:",
              "  I don't suppose Mildred would care for that.",
              "  - Fail to take scenery:",
              "  It is hardly portable.",
              "  - Fail to take something fixed in place:",
              "  It is fixed in place."
            ]
          }
        ]
      ]
    }
  ]
}
