{
    "Tapestry:":
    [
        {
            "Nouns:depict:":
            [
                [
                    {
                        "Noun:named:":
                        [
                            "our",
                            "Mildred"
                        ]
                    }
                ],
                {
                    "Kind:named:":
                    [
                        "isa",
                        "actor"
                    ]
                }
            ]
        },
        {
            "Nouns:depict:":
            [
                [
                    {
                        "Noun:named:":
                        [
                            "an",
                            "empire apple"
                        ]
                    },
                    {
                        "Noun:named:":
                        [
                            "a",
                            "pen"
                        ]
                    }
                ],
                {
                    "Kind:named:":
                    [
                        "area",
                        "prop"
                    ]
                }
            ]
        }
    ]
}