{
  "Tapestry:": [
    {
      "--": "run after every action to complete the turn.",
      "Define pattern:requires:provides:do:": [
        "pass time",
        {
          "Nothing": true
        },
        {
          "Nothing": true
        },
        [
          {
            "UpdateStory": true
          },
          {
            "--": "allow after rules to run, if any.",
            "Continue": true
          }
        ]
      ]
    },
    {
      "Define rule:named:do:": [
        "after pass time, then continue",
        "witness light",
        {
          "WitnessLight": true
        }
      ]
    },
    {
      "--": "run when a player first starts a new story.",
      "Define pattern:requires:provides:do:": [
        "start game",
        [
          {
            "--": "the player",
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "--": [
              "when true, suppress the banner text.",
              "(useful for tests)."
            ],
            "Bool:": [
              "quietly"
            ]
          }
        ],
        {
          "Nothing": true
        },
        [
          {
            "UpdateStory actor:": {
              "FromText:": "@actor"
            }
          },
          {
            "--": "copy our initial story data into the last known data",
            "UpdateLastKnownStatus": true
          },
          {
            "--": "allow 'after start game' rules.",
            "Continue": true
          }
        ]
      ]
    },
    {
      "Define rule:named:do:": [
        "after start game, then continue",
        "the go start playing rule",
        [
          {
            "Increase:": {
              "Object:field:": [
                "story",
                "turn count"
              ]
            }
          },
          {
            "Set:trait:": [
              "story",
              "playing"
            ]
          }
        ]
      ]
    },
    {
      "Define rule:named:do:": [
        "after start game, then continue",
        "the print first room rule",
        {
          "If:do:": [
            {
              "Not:": "@quietly"
            },
            [
              {
                "--": "separate the banner from the vantage (if any)",
                "P": true
              },
              {
                "PrintVantage": true
              },
              {
                "--": "separate the look from the command line",
                "P": true
              }
            ]
          ]
        }
      ]
    },
    {
      "Define rule:named:do:": [
        "before start game, then continue",
        "the print banner rule",
        {
          "If:do:": [
            {
              "Not:": "@quietly"
            },
            {
              "PrintTheBanner": true
            }
          ]
        }
      ]
    },
    {
      "--": "a parser action, which calls the low level request to quit.",
      "Define pattern:requires:provides:do:": [
        "request to quit",
        {
          "Nothing": true
        },
        {
          "Nothing": true
        },
        {
          "QuitGame": true
        }
      ]
    },
    {
      "Define pattern:requires:provides:do:": [
        "end game",
        [
          {
            "--": [
              "A placeholder. Eventually, when finally is true, the game is completely over. Otherwise, the game can be (eventually) restarted."
            ],
            "Bool:": "finally"
          },
          {
            "--": "can be assigned 'Say' to use a template",
            "Text:initially:": [
              "saying",
              {
                "Object:field:": [
                  "story",
                  "ending message"
                ]
              }
            ]
          }
        ],
        {
          "Nothing": true
        },
        [
        	{
        		"Print:": "<b>"
        	},
          {
            "Print:": "@saying"
          },
          {
        		"Print:": "</b>"
        	},
          {
            "--": "maybe send 'finally' to quit game?",
            "QuitGame": true
          }
        ]
      ]
    }
  ]
}
