{
  "Tapestry:": [
    {
      "--": "run after every action to complete the turn.",
      "Define pattern:requires:provides:do:": [
        "pass time",
        {
          "--": "the player",
          "Text:kind:": [
            "actor",
            "actor"
          ]
        },
        {
          "Nothing": true
        },
        {
          "--": "no default rule",
          "Continue": true
        }
      ]
    },
    {
      "Define rule:named:do:": [
        "pass time, then continue",
        "the adjust light rule",
        {
          "AdjustingLight actor:": {
            "FromText:": "@actor"
          }
        }
      ]
    },
    {
      "--": "run when a player first starts a new story.",
      "Define pattern:requires:provides:do:": [
        "start game",
        {
          "--": "the player",
          "Text:kind:": [
            "actor",
            "actor"
          ]
        },
        {
          "Nothing": true
        },
        {
          "--": "no default rule",
          "Continue": true
        }
      ]
    },
    {
      "--": [
        "determine the initial lighting status",
        "( doesn't print any status since the room description will. )"
      ],
      "Define rule:named:do:": [
        "start game, then continue",
        "the setup light rule",
        {
          "Set:value:": [
            {
              "Object:field:": [
                "@actor",
                "not in darkness"
              ]
            },
            {
              "FromBool:": {
                "ContainsLight spot:": {
                  "FromText:": "@actor"
                }
              }
            }
          ]
        }
      ]
    },
    {
      "Define pattern:requires:provides:do:": [
        "request to quit",
        {
          "Nothing": true
        },
        {
          "Nothing": true
        },
        {
          "QuitGame": true
        }
      ]
    }
  ]
}
