{
  "Tapestry:": [
    {
      "Test:withScene:do:": [
        "traversal",
        [
          {
            "Declare:": [
              "The Lobby, the Parapet, the Foyer, the Cloak Room, the Basement, and the Street are rooms.",
              "You are in the Lobby.",
              "The faux door is a door in the Lobby."
            ]
          },
          {
            "--": "fix: this should have made the doors 'plural named' automatically.",
            "Declare:": [
              "The double doors are plural named, closed, and openable doors.",
              "The curtain is a door."
            ]
          },
          {
            "Heading:from:via:and:otherRoom:": [
              "North",
              "the Lobby",
              "the double doors",
              "arriving_at",
              "the foyer"
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "Down",
              "the Lobby",
              "arriving_at",
              "the basement"
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "Up",
              "the Lobby",
              "connecting_to",
              "the parapet"
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "North",
              "the foyer",
              "connecting_to",
              "the street"
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "West",
              "the foyer",
              "arriving_at",
              "the Lobby"
            ]
          },
          {
            "Heading:from:via:and:otherRoom:": [
              "South",
              "the foyer",
              "the curtain",
              "connecting_to",
              "the cloak room"
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "South",
              "the basement",
              "arriving_at",
              "the street"
            ]
          }
        ],
        [
          {
            "StartGame actor:quietly:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromBool:": true
              }
            ]
          },
          {
            "Print:": {
              "DoorVia room:direction:": [
                {
                  "FromText:": "foyer"
                },
                {
                  "FromText:": "south"
                }
              ]
            }
          },
          {
            "Expect output:": [
              "curtain"
            ]
          },
          {
            "Print:": {
              "DirectionThrough room:door:": [
                {
                  "FromText:": "foyer"
                },
                {
                  "FromText:": "curtain"
                }
              ]
            }
          },
          {
            "Expect output:": [
              "south"
            ]
          },
          {
            "Looking actor:": {
              "FromText:": {
                "Object:field:": [
                  "story",
                  "actor"
                ]
              }
            }
          },
          {
            "Expect output:": [
              "**Lobby**",
              "You can see some double doors and a faux door."
            ]
          },
          {
            "Traveling actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "story",
                    "actor"
                  ]
                }
              },
              {
                "FromText:": "faux door"
              }
            ]
          },
          {
            "Expect output:": "It doesn't lead anywhere."
          },
          {
            "Traveling actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "story",
                    "actor"
                  ]
                }
              },
              {
                "FromText:": "double doors"
              }
            ]
          },
          {
            "Expect output:": "They seem to be closed."
          },
          {
            "Opening actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "double doors"
              }
            ]
          },
          {
            "Expect output:": "You open the double doors."
          },
          {
            "Traveling actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "double doors"
              }
            ]
          },
          {
            "Expect output:": [
              "**Foyer**",
              "You can see a curtain."
            ]
          },
          {
            "--": "test moving south as if the player typed the input",
            "Fabricate input:": "take curtain"
          },
          {
            "Expect output:": [
              "It is fixed in place."
            ]
          },
          {
            "--": "test moving south as if the player typed the input",
            "Fabricate input:": "south"
          },
          {
            "Expect output:": [
              "**Cloak Room**"
            ]
          },
          {
            "--": "test taking a direction",
            "Fabricate input:": "take north"
          },
          {
            "Expect output:": [
              "You should name something more substantial."
            ]
          },
          {
            "--": "test looking north",
            "Fabricate input:": "x n"
          },
          {
            "Expect output:": [
              "You see nothing unexpected in that direction."
            ]
          }
        ]
      ]
    }
  ]
}
