{
  "Tapestry:": [
    {
      "TestStatement:test:": [
        "traversal",
        {
          "TestOutput:": [
            "Lobby.",
            "You can see some double doors and a faux door.",
            "It doesn't lead anywhere.",
            "They seem to be closed.",
            "You open the double doors.",
            "Foyer.",
            "You can see a curtain."
          ]
        }
      ]
    },
    {
      "--": [
        "fix: running commands on invalid nouns causes an error",
        "what we want therefore is to execute input from the player instead",
        "so that we can get a 'im sorry dave'",
        "maybe a separate kind of test that (intersperses?) commands and expected output",
        "{ 'Traveling agent:noun:': [{'FromTxt:': 'player'},{'FromTxt:': 'red door'} ]}"
      ],
      "TestRule:does:": [
        "traversal",
        [
          {
            "Looking agent:": {
              "FromTxt:": "player"
            }
          },
          {
            "Traveling agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "faux door"
              }
            ]
          },
          {
            "Traveling agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "double doors"
              }
            ]
          },
          {
            "Opening agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "double doors"
              }
            ]
          },
          {
            "Traveling agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "double doors"
              }
            ]
          }
        ]
      ]
    },
    {
      "TestScene:story:": [
        "traversal",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "our",
                    "self"
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    "Lobby"
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    "faux door"
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "door"
                ]
              }
            ]
          },
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "our",
                    "faux door"
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    "Lobby"
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:startAs:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    "double doors"
                  ]
                }
              ],
              {
                "--": "fix: we shouldnt have to flag these as plural named manually.",
                "NounTraits:trait:": [
                  "are",
                  [
                    "plural named",
                    "closed",
                    "openable"
                  ]
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    "Lobby"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "Parapet"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "Foyer"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "Cloak Room"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "Basement"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "Outside"
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "room"
                ]
              }
            ]
          },
          {
            "Heading:from:via:and:otherRoom:": [
              "North",
              {
                "Noun:named:": [
                  "the",
                  "Lobby"
                ]
              },
              {
                "Noun:named:": [
                  "the",
                  "double doors"
                ]
              },
              "arriving_at",
              {
                "Noun:named:": [
                  "the",
                  "foyer"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "Down",
              {
                "Noun:named:": [
                  "the",
                  "Lobby"
                ]
              },
              "arriving_at",
              {
                "Noun:named:": [
                  "the",
                  "basement"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "Up",
              {
                "Noun:named:": [
                  "the",
                  "Lobby"
                ]
              },
              "connecting_to",
              {
                "Noun:named:": [
                  "the",
                  "parapet"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "North",
              {
                "Noun:named:": [
                  "the",
                  "foyer"
                ]
              },
              "connecting_to",
              {
                "Noun:named:": [
                  "the",
                  "outside"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "West",
              {
                "Noun:named:": [
                  "the",
                  "foyer"
                ]
              },
              "arriving_at",
              {
                "Noun:named:": [
                  "the",
                  "Lobby"
                ]
              }
            ]
          },
          {
            "Heading:from:via:and:otherRoom:": [
              "South",
              {
                "Noun:named:": [
                  "the",
                  "foyer"
                ]
              },
              {
                "Noun:named:": [
                  "the",
                  "curtain"
                ]
              },
              "connecting_to",
              {
                "Noun:named:": [
                  "the",
                  "cloak room"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "South",
              {
                "Noun:named:": [
                  "the",
                  "basement"
                ]
              },
              "arriving_at",
              {
                "Noun:named:": [
                  "the",
                  "outside"
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "--": [
        "fix: currently values are not scoped, so we can't easily test a locked/closed door yet",
        "once either that is done, or commencement or scene activation events, we could hook that to lock the door.",
        "we could also test unlocking the door via a player command once the lock/unlocking actions exist."
      ]
    }
  ]
}
