{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "travel",
        "traveling",
        {
          "--": [
            "Traveling takes one argument: the door to travel through.",
            "Future: allow directions too"
          ],
          "CommonAction:": "door"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "traveling",
        [
          {
            "--": "Get the actor from the agent.",
            "Text named:of:initially:": [
              "actor",
              "actor",
              {
                "Get:from:": [
                  "pawn",
                  {
                    "VarFields:": "agent"
                  }
                ]
              }
            ]
          },
          {
            "--": "Get the destination from the door.",
            "Text named:of:initially:": [
              "destination",
              "room",
              {
                "Get:from:": [
                  "destination",
                  {
                    "VarFields:": "noun"
                  }
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": "@actor"
              },
              [
                {
                  "If:from:and:does:else:": [
                    "resp",
                    {
                      "FromTxt:": {
                        "CanReach actor:action:noun:": [
                          "@actor",
                          {
                            "FromTxt:": "traveling"
                          },
                          "@noun"
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Say:": "@resp"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "If:from:and:does:else:": [
                            "resp",
                            {
                              "FromTxt:": {
                                "CanUse actor:action:noun:otherNoun:": [
                                  "@actor",
                                  {
                                    "FromTxt:": "traveling"
                                  },
                                  "@noun",
                                  "@destination"
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            [
                              {
                                "Say:": "@resp"
                              }
                            ],
                            {
                              "ElseDo does:": [
                                {
                                  "If:does:": [
                                    {
                                      "Send:event:": [
                                        {
                                          "Capture obj:": "@noun"
                                        },
                                        {
                                          "Travel actor:noun:": [
                                            "@actor",
                                            "@noun"
                                          ]
                                        }
                                      ]
                                    },
                                    [
                                      {
                                        "ReportTraveling actor:noun:": [
                                          "@actor",
                                          "@noun"
                                        ]
                                      }
                                    ]
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Listen kinds:handlers:": [
        "things",
        [
          {
            "With:event:provides:rules:": [
              "while",
              "travel",
              [{
                "--": "Get the destination from the door.",
                "Text named:of:initially:": [
                  "destination",
                  "room",
                  {
                    "Get:from:": [
                      "destination",
                      {
                        "VarFields:": "noun"
                      }
                    ]
                  }
                ]
              }],
              [
                {
                  "PatternRule:does:": [
                    {
                      "Always": true
                    },
                    [
                      {
                        "If:from:and:does:else:": [
                          "error",
                          {
                            "FromTxt:": {
                              "MoveObject obj:dest:": [
                                "@actor",
                                "@destination"
                              ]
                            }
                          },
                          {
                            "Not:": {
                              "Is empty:": "@error"
                            }
                          },
                          [
                            {
                              "Say:": "@error"
                            },
                            {
                              "Let:be:": [
                                "success",
                                {
                                  "FromBool:": false
                                }
                              ]
                            }
                          ],
                          {
                            "ElseDo does:": [
                              {
                                "Log:": {
                                  "FromTxt:": {
                                    "RenderTemplate:": "{The: .actor} {are: .actor} traveling to {the: .destination} via {the: .noun} ..."
                                  }
                                }
                              },
                              {
                                "Let:be:": [
                                  "success",
                                  {
                                    "FromBool:": true
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report traveling",
        [
          {
            "Text named:of:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text named:of:": [
              "noun",
              "thing"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "report traveling",
        [
          {
            "PatternRule:does:": [
              {
                "Always": true
              },
              [
                {
                  "PrintVantage where:inDarkness:": [
                    {
                      "FromTxt:": {
                        "ParentOf obj:": "@actor"
                      }
                    },
                    {
                      "Get:from:": [
                        "is in darkness",
                        {
                          "VarFields:": "actor"
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Not:": {
                  "IsPlayer obj:": "@actor"
                }
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "someone else travels",
                      {
                        "RenderTemplate:": "{The: .actor|capitalize!} went through {the: .noun}."
                      }
                    ]
                  }
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:rules:": [
        "can use",
        [
          {
            "PatternRule:does:": [
              {
                "--": "can only travel to valid destinations",
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      {
                        "Equals": true
                      },
                      "traveling"
                    ]
                  },
                  {
                    "Not:": {
                      "KindOf:is:": [
                        "@other noun",
                        "rooms"
                      ]
                    }
                  }
                ]
              },
              [
                {
                  "Let:be:": [
                    "response",
                    {
                      "FromTxt:": {
                        "Response:text:": [
                          "can only travel to a destination",
                          {
                            "RenderTemplate:": "{They: .noun|capitalize!} {dont:.noun} lead anywhere."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      {
                        "Equals": true
                      },
                      "traveling"
                    ]
                  },
                  {
                    "Get obj:trait:": [
                      "@noun",
                      "closed"
                    ]
                  }
                ]
              },
              [
                {
                  "Let:be:": [
                    "response",
                    {
                      "FromTxt:": {
                        "Response:text:": [
                          "can't travel through closed doors",
                          {
                            "RenderTemplate:": "{They: .noun|capitalize!} seem{unless .noun.plural_named}s{end} to be closed."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      {
                        "Equals": true
                      },
                      "traveling"
                    ]
                  },
                  {
                    "Get obj:trait:": [
                      "@noun",
                      "closed"
                    ]
                  },
                  {
                    "Get obj:trait:": [
                      "@noun",
                      "locked"
                    ]
                  }
                ]
              },
              [
                {
                  "Let:be:": [
                    "response",
                    {
                      "FromTxt:": {
                        "Response:text:": [
                          "can't travel through locked doors",
                          {
                            "RenderTemplate:": "{They: .noun|capitalize!} seem{unless .noun.plural_named}s{end} to be locked."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
