{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "travel",
        "traveling",
        {
          "--": [
            "Traveling takes one argument: the door to travel through.",
            "Future: allow directions too"
          ],
          "CommonAction:": "door"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "traveling",
        [
          {
            "--": "Get the actor from the agent.",
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          },
          {
            "--": "Get the destination from the door.",
            "Text:kind:initially:": [
              "destination",
              "room",
              {
                "Object:field:": [
                  "@noun",
                  "destination"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanReach actor:action:noun:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "traveling"
                          },
                          {
                            "FromText:": "@noun"
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Print:": "@resp"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "If:from:and:does:else:": [
                            "resp",
                            {
                              "FromText:": {
                                "CanUse actor:action:noun:otherNoun:": [
                                  {
                                    "FromText:": "@actor"
                                  },
                                  {
                                    "FromText:": "traveling"
                                  },
                                  {
                                    "FromText:": "@noun"
                                  },
                                  {
                                    "FromText:": "@destination"
                                  }
                                ]
                              }
                            },
                            {
                              "Not:": {
                                "Is empty:": "@resp"
                              }
                            },
                            [
                              {
                                "Print:": "@resp"
                              }
                            ],
                            {
                              "ElseDo does:": [
                                {
                                  "If:does:": [
                                    {
                                      "Send:event:": [
                                        {
                                          "Capture obj:": {
                                            "FromText:": "@noun"
                                          }
                                        },
                                        {
                                          "Travel actor:noun:": [
                                            {
                                              "FromText:": "@actor"
                                            },
                                            {
                                              "FromText:": "@noun"
                                            }
                                          ]
                                        }
                                      ]
                                    },
                                    [
                                      {
                                        "ReportTraveling actor:noun:": [
                                          {
                                            "FromText:": "@actor"
                                          },
                                          {
                                            "FromText:": "@noun"
                                          }
                                        ]
                                      }
                                    ]
                                  ]
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Listen kinds:handlers:": [
        "things",
        [
          {
            "With:event:provides:rules:": [
              "while",
              "travel",
              [
                {
                  "--": "Get the destination from the door.",
                  "Text:kind:initially:": [
                    "destination",
                    "room",
                    {
                      "Object:field:": [
                        "@noun",
                        "destination"
                      ]
                    }
                  ]
                }
              ],
              [
                {
                  "PatternRule:does:": [
                    true,
                    [
                      {
                        "If:from:and:does:else:": [
                          "error",
                          {
                            "FromText:": {
                              "MoveObject obj:dest:": [
                                {
                                  "FromText:": "@actor"
                                },
                                {
                                  "FromText:": "@destination"
                                }
                              ]
                            }
                          },
                          {
                            "Not:": {
                              "Is empty:": "@error"
                            }
                          },
                          [
                            {
                              "Print:": "@error"
                            },
                            {
                              "Set:from:": [
                                "@success",
                                {
                                  "FromBool:": false
                                }
                              ]
                            }
                          ],
                          {
                            "ElseDo does:": [
                              {
                                "Log:value:": [
                                  "debug",
                                  {
                                    "FromText:": {
                                      "Say:": "{The: .actor} {are: .actor} traveling to {the: .destination} via {the: .noun} ..."
                                    }
                                  }
                                ]
                              },
                              {
                                "Set:from:": [
                                  "@success",
                                  {
                                    "FromBool:": true
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report traveling",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          },
          {
            "Text:kind:": [
              "noun",
              "thing"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "report traveling",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "PrintVantage where:inDarkness:": [
                    {
                      "FromText:": {
                        "ParentOf obj:": {
                          "FromText:": "@actor"
                        }
                      }
                    },
                    {
                      "FromBool:": {
                        "Object:field:": [
                          "@actor",
                          "is in darkness"
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Not:": {
                  "IsPlayer obj:": {
                    "FromText:": "@actor"
                  }
                }
              },
              [
                {
                  "Print response:with:": [
                    "someone else travels",
                    {
                      "Say:": "{The: .actor|capitalize!} went through {the: .noun}."
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:rules:": [
        "can use",
        [
          {
            "PatternRule:does:": [
              {
                "--": "can only travel to valid destinations",
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "traveling"
                    ]
                  },
                  {
                    "Not:": {
                      "KindOf:is:": [
                        "@other noun",
                        "rooms"
                      ]
                    }
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Print response:with:": [
                          "can only travel to a destination",
                          {
                            "Say:": "{They: .noun|capitalize!} {dont:.noun} lead anywhere."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "traveling"
                    ]
                  },
                  {
                    "Object:field:": [
                      "@noun",
                      "closed"
                    ]
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Print response:with:": [
                          "can't travel through closed doors",
                          {
                            "Say:": "{They: .noun|capitalize!} seem{unless .noun.plural_named}s{end} to be closed."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@action",
                      "equal_to",
                      "traveling"
                    ]
                  },
                  {
                    "Object:field:": [
                      "@noun",
                      "closed"
                    ]
                  },
                  {
                    "Object:field:": [
                      "@noun",
                      "locked"
                    ]
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@response",
                    {
                      "FromText:": {
                        "Print response:with:": [
                          "can't travel through locked doors",
                          {
                            "Say:": "{They: .noun|capitalize!} seem{unless .noun.plural_named}s{end} to be locked."
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
