{
  "Tapestry:": [
    {
      "TestScene:story:": [
        "traversal",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "our",
                    "self"
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    "lobby"
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:startAs:and:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    "double doors"
                  ]
                }
              ],
              {
                "NounTraits:trait:": [
                  "are",
                  [
                    "closed"
                  ]
                ]
              },
              [
                {
                  "NounTraits:trait:": [
                    "are",
                    [
                      "locked"
                    ]
                  ]
                }
              ]
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    "lobby"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "parapet"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "foyer"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "cloak room"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "basement"
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    "outside"
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "room"
                ]
              }
            ]
          },
          {
            "Heading:from:via:and:otherRoom:": [
              "North",
              {
                "Noun:named:": [
                  "the",
                  "lobby"
                ]
              },
              {
                "Noun:named:": [
                  "the",
                  "double doors"
                ]
              },
              "arriving_at",
              {
                "Noun:named:": [
                  "the",
                  "foyer"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "Down",
              {
                "Noun:named:": [
                  "the",
                  "lobby"
                ]
              },
              "arriving_at",
              {
                "Noun:named:": [
                  "the",
                  "basement"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "Up",
              {
                "Noun:named:": [
                  "the",
                  "lobby"
                ]
              },
              "connecting_to",
              {
                "Noun:named:": [
                  "the",
                  "parapet"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "North",
              {
                "Noun:named:": [
                  "the",
                  "foyer"
                ]
              },
              "connecting_to",
              {
                "Noun:named:": [
                  "the",
                  "outside"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "West",
              {
                "Noun:named:": [
                  "the",
                  "foyer"
                ]
              },
              "arriving_at",
              {
                "Noun:named:": [
                  "the",
                  "lobby"
                ]
              }
            ]
          },
          {
            "Heading:from:via:and:otherRoom:": [
              "South",
              {
                "Noun:named:": [
                  "the",
                  "foyer"
                ]
              },
              {
                "Noun:named:": [
                  "the",
                  "curtain"
                ]
              },
              "connecting_to",
              {
                "Noun:named:": [
                  "the",
                  "cloak room"
                ]
              }
            ]
          },
          {
            "Heading:from:and:otherRoom:": [
              "South",
              {
                "Noun:named:": [
                  "the",
                  "basement"
                ]
              },
              "arriving_at",
              {
                "Noun:named:": [
                  "the",
                  "outside"
                ]
              }
            ]
          }
        ]
      ]
    }
  ]
}
