{
  "Tapestry:": [
    {
      "Define pattern:requires:result:withRules:": [
        "verbing",
        [
          {
            "Text:": "verb"
          }
        ],
        {
          "Text:": "result"
        },
        []
      ]
    },
    {
      "Comment:": "verb adapts a verb from its specified (usually present) tense, to the story's tense. [ this is just a placeholder for future work. ] "
    },
    {
      "Extend pattern:withRules:": [
        "verbing",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Set:from:": [
                    "@result",
                    {
                      "FromText:": "@verb"
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "contain",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "contain",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "If:does:else:": [
                    {
                      "KindOf:is:": [
                        "@noun",
                        "containers"
                      ]
                    },
                    [
                      {
                        "Print:": "contain"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Print:": "support"
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "On",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "On",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "If:does:else:": [
                    {
                      "KindOf:is:": [
                        "@noun",
                        "containers"
                      ]
                    },
                    [
                      {
                        "Print:": "in"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Print:": "on"
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "Off",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "Off",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "If:does:else:": [
                    {
                      "KindOf:is:": [
                        "@noun",
                        "containers"
                      ]
                    },
                    [
                      {
                        "Print:": "out"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Print:": "off"
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "Are",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          },
          {
            "TextList:": "names"
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Comment:": "print \"is\" or \"are\" depending on the plurality of the noun, and (optionally) the length of the passed list of names. "
    },
    {
      "Extend pattern:withRules:": [
        "Are",
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@noun"
                }
              },
              [
                {
                  "Print:": "are"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "If:does:else:": [
                    {
                      "AnyTrue:": [
                        {
                          "Cmp:is:num:": [
                            {
                              "Len:": {
                                "FromTextList:": "@names"
                              }
                            },
                            "greater_than",
                            1
                          ]
                        },
                        {
                          "Object:field:": [
                            "@noun",
                            "plural named"
                          ]
                        }
                      ]
                    },
                    [
                      {
                        "Print:": "are"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Print:": "is"
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Comment:": "say the phrase of are not or is not ( depending on the plural of the noun )"
    },
    {
      "Define pattern:requires:result:withRules:": [
        "Are not",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "Are not",
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@noun"
                }
              },
              [
                {
                  "Print:": "are not"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@noun",
                  "plural named"
                ]
              },
              [
                {
                  "Print:": "are not"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": "is not"
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "--": "Say the contraction aren't or isn't ( depending on the plural of the noun ).",
      "Define pattern:requires:result:withRules:": [
        "Arent",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "Arent",
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@noun"
                }
              },
              [
                {
                  "Print:": "aren't"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@noun",
                  "plural named"
                ]
              },
              [
                {
                  "Print:": "aren't"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": "isn't"
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": "Say the contraction don't or doesn't ( depending on the plural of the noun ).",
      "Define pattern:requires:result:withRules:": [
        "Dont",
        [
          {
            "Text:kind:": [
              "noun",
              "object"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "Dont",
        [
          {
            "PatternRule:does:": [
              {
                "Object:field:": [
                  "@noun",
                  "plural named"
                ]
              },
              [
                {
                  "Print:": "don't"
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print:": "doesn't"
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
