{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "vision testing",
        "Kitchenette",
        [
          {
            "Pattern:rules:": [
              "Print news of light",
              [
                {
                  "PatternRule:does:": [
                    {
                      "Always": true
                    },
                    [
                      {
                        "Say:": "The light, it burns."
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ],
        [
          {
            "Comment:": "Verify that we start not in darkness."
          },
          {
            "Expect:": {
              "Not:": {
                "Get obj:trait:": [
                  "self",
                  "is in darkness"
                ]
              }
            }
          },
          {
            "Comment:": [
              "First change the kitchen lighting, and then evaluate the light.",
              "Verify the game prints the arrival of darkness."
            ]
          },
          {
            "Put:from:at:": [
              {
                "ObjField:": "kitchen"
              },
              {
                "FromBool:": true
              },
              "unlit"
            ]
          },
          {
            "AdjustLight": true
          },
          {
            "Expect string:": "It is now pitch dark in here!"
          },
          {
            "Expect:": {
              "Get obj:trait:": [
                "self",
                "is in darkness"
              ]
            }
          },
          {
            "Comment:": "Verify that light breaks forth in a glorious wonder."
          },
          {
            "Put:from:at:": [
              {
                "ObjField:": "kitchen"
              },
              {
                "FromBool:": true
              },
              "lit"
            ]
          },
          {
            "AdjustLight": true
          },
          {
            "Expect string:": "The light, it burns."
          },
          {
            "Expect:": {
              "Not:": {
                "Get obj:trait:": [
                  "self",
                  "is in darkness"
                ]
              }
            }
          }
        ]
      ]
    }
  ]
}
