{
  "Tapestry:": [
    {
      "Comment:": [
        "Adjusting light runs at the end of the turn.",
        "It checks the state of the world to decide if the player has been plunged into darkness or thrust into the light."
      ]
    },
    {
      "Action:requires:": [
        "adjusting light",
        {
          "Nothing": true
        }
      ]
    },
    {
      "Rule for:do:": [
        "after adjusting light",
        {
          "Set:from:": [
            {
              "Object:field:": [
                "@actor",
                "not in darkness"
              ]
            },
            {
              "FromBool:": "@now_lit"
            }
          ]
        }
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "adjusting light",
        [
          {
            "Bool:initially:": [
              "was lit",
              {
                "Object:field:": [
                  "@actor",
                  "not in darkness"
                ]
              }
            ]
          },
          {
            "Bool:initially:": [
              "now lit",
              {
                "ContainsLight spot:": {
                  "FromText:": "@actor"
                }
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  "@now_lit",
                  {
                    "Not:": "@was_lit"
                  }
                ]
              },
              [
                {
                  "PrintNewsOfLight": true
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  "@was_lit",
                  {
                    "Not:": "@now_lit"
                  }
                ]
              },
              [
                {
                  "PrintNewsOfDarkness": true
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "Print news of darkness",
        [
          {
            "Nothing": true
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "Print news of darkness",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Print response:with:": [
                    "darkness has fallen",
                    {
                      "Say:": "It is now pitch dark in here!"
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "Print news of light",
        [
          {
            "Nothing": true
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "Print news of light",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "PrintVantage where:": {
                    "FromText:": {
                      "Object:field:": [
                        "player",
                        "pawn"
                      ]
                    }
                  }
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
