{
  "Tapestry:": [
    {
      "Event:action:args none:": [
        "wait",
        "waiting",
        "nothing"
      ]
    },
    {
      "Pattern:provides:rules:": [
        "waiting",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": {
                    "Text value:": "@actor"
                  }
                }
              },
              [
                {
                  "If:does:": [
                    {
                      "Send:event:": [
                        {
                          "Capture obj:": {
                            "FromText:": {
                              "Text value:": "@actor"
                            }
                          }
                        },
                        {
                          "Wait actor:noun:": [
                            {
                              "FromText:": {
                                "Text value:": "@actor"
                              }
                            },
                            {
                              "FromText:": {
                                "Text value:": "@actor"
                              }
                            }
                          ]
                        }
                      ]
                    },
                    [
                      {
                        "ReportWaiting actor:": {
                          "FromText:": {
                            "Text value:": "@actor"
                          }
                        }
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Pattern:requires:": [
        "report waiting",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          }
        ]
      ]
    },
    {
      "Pattern:rules:": [
        "report waiting",
        [
          {
            "PatternRule:does:": [
              true,
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "the player waits",
                      {
                        "RenderTemplate:": "Time passes."
                      }
                    ]
                  }
                }
              ]
            ]
          },
          {
            "PatternRule:does:": [
              {
                "Not:": {
                  "IsPlayer obj:": {
                    "FromText:": {
                      "Text value:": "@actor"
                    }
                  }
                }
              },
              [
                {
                  "Say:": {
                    "Response:text:": [
                      "someone waits",
                      {
                        "RenderTemplate:": "{The: .actor|capitalize!} waited."
                      }
                    ]
                  }
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
