{
  "Tapestry:": [
    {
      "Event:action:args none:": [
        "wait",
        "waiting",
        "nothing"
      ]
    },
    {
      "Extend pattern:provides:withRules:": [
        "waiting",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:do:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:do:": [
                    {
                      "Send:event:": [
                        {
                          "Capture obj:": {
                            "FromText:": "@actor"
                          }
                        },
                        {
                          "Wait actor:noun:": [
                            {
                              "FromText:": "@actor"
                            },
                            {
                              "FromText:": "@actor"
                            }
                          ]
                        }
                      ]
                    },
                    [
                      {
                        "ReportWaiting actor:": {
                          "FromText:": "@actor"
                        }
                      }
                    ]
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Define pattern:requires:result:withRules:": [
        "report waiting",
        [
          {
            "Text:kind:": [
              "actor",
              "actor"
            ]
          }
        ],
        {
          "Nothing": true
        },
        []
      ]
    },
    {
      "Extend pattern:withRules:": [
        "report waiting",
        [
          {
            "PatternRule:do:": [
              {
                "Not:": {
                  "IsPlayer obj:": {
                    "FromText:": "@actor"
                  }
                }
              },
              [
                {
                  "Print response:with:": [
                    "someone waits",
                    {
                      "Say:": "{The: .actor|capitalize!} waited."
                    }
                  ]
                }
              ]
            ]
          },
          {
            "PatternRule:do:": [
              true,
              [
                {
                  "Print response:with:": [
                    "the player waits",
                    {
                      "Say:": "Time passes."
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
