{
  "Tapestry:": [
    {
      "Test:dependsOn:withScene:do:": [
        "wearing test",
        "Kitchenette",
        [
          {
            "Declare:": "You are wearing the flower. You are carrying the knife."
          },
          {
            "Declare:": "The purse is in the kitchen."
          }
        ],
        [
          {
            "Say:": "The flower's parent: {the: {parent_of: .flower}}, {.flower.possessiveness}."
          },
          {
            "Expect output:": "The flower's parent: you, worn."
          },
          {
            "Comment:": "Fail to re-wear the flower:"
          },
          {
            "Wearing actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "flower"
              }
            ]
          },
          {
            "--": "The 'can't change what is' response.",
            "Expect output:": "It is already worn."
          },
          {
            "Comment:": "Take off the flower:"
          },
          {
            "Removing actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "flower"
              }
            ]
          },
          {
            "Expect output:": "You take off the flower."
          },
          {
            "Say:": "The flower's new parent: {the: {parent_of: .flower}}, {.flower.possessiveness}."
          },
          {
            "Expect output:": "The flower's new parent: you, not worn."
          },
          {
            "Comment:": "Fail to re-remove the flower:"
          },
          {
            "Removing actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "flower"
              }
            ]
          },
          {
            "Expect output:": "You aren't wearing that!"
          },
          {
            "Comment:": "Wear the flower again:"
          },
          {
            "Wearing actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "flower"
              }
            ]
          },
          {
            "Expect output:": "You put on the flower."
          },
          {
            "Say:": "The flower's new parent: {the: {parent_of: .flower}}, {.flower.possessiveness}."
          },
          {
            "Expect output:": "The flower's new parent: you, worn."
          },
          {
            "Say:": "The knife's parent: {the: {parent_of: .knife}}, {.knife.possessiveness}."
          },
          {
            "Expect output:": "The knife's parent: you, not worn."
          },
          {
            "Comment:": "Fail to wear an unwearable:"
          },
          {
            "Wearing actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "knife"
              }
            ]
          },
          {
            "Expect output:": "It isn't something you can put on."
          },
          {
            "Say:": "The knife's parent: {the: {parent_of: .knife}}, {.knife.possessiveness}."
          },
          {
            "Expect output:": "The knife's parent: you, not worn."
          },
          {
            "Say:": "The purse's parent: {the: {parent_of: .purse}}, {.purse.possessiveness}."
          },
          {
            "Expect output:": "The purse's parent: the Kitchen, not worn."
          },
          {
            "Comment:": "Fail to wear something not held:"
          },
          {
            "Wearing actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "purse"
              }
            ]
          },
          {
            "Expect output:": "You haven't got that!"
          },
          {
            "Comment:": "Fail to remove something not held:"
          },
          {
            "Removing actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "purse"
              }
            ]
          },
          {
            "Expect output:": "You haven't got that!"
          },
          {
            "Comment:": "Fail to put on something not reachable:"
          },
          {
            "Wearing actor:noun:": [
              {
                "FromText:": {
                  "Object:field:": [
                    "player",
                    "pawn"
                  ]
                }
              },
              {
                "FromText:": "purse"
              }
            ]
          },
          {
            "Expect output:": "You haven't got that!"
          },
          {
            "Say:": "The purse's parent: {the: {parent_of: .purse}}, {.purse.possessiveness}."
          },
          {
            "Expect output:": "The purse's parent: the Kitchen, not worn."
          }
        ]
      ]
    }
  ]
}
