{
  "Tapestry:": [
    {
      "TestScene:requires:story:": [
        "wearing test",
        "Kitchenette",
        [
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "flower"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "knife"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:": "self"
                }
              ]
            ]
          },
          {
            "--": ""
          },
          {
            "RelativeToNoun:nouns:areBeing:otherNouns:": [
              "whereabouts",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "purse"
                    }
                  ]
                }
              ],
              "is",
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "kitchen"
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "TestRule:does:": [
        "wearing test",
        [
          {
            "Say:": {
              "RenderTemplate:": "The flower's ogp: {the: {parentOf: .flower}}, {.flower.possessiveness}."
            }
          },
          {
            "Expect string:": "The flower's ogp: you, worn."
          },
          {
            "Comment:": "Fail to re-wear the flower:"
          },
          {
            "Wearing agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "flower"
              }
            ]
          },
          {
            "Expect string:": "It is already worn."
          },
          {
            "Comment:": "Take off the flower:"
          },
          {
            "Removing agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "flower"
              }
            ]
          },
          {
            "Expect string:": "You take off the flower."
          },
          {
            "Say:": {
              "RenderTemplate:": "The flower's newg: {the: {parentOf: .flower}}, {.flower.possessiveness}."
            }
          },
          {
            "Expect string:": "The flower's newg: you, not_worn."
          },
          {
            "Comment:": "Fail to re-remove the flower:"
          },
          {
            "Removing agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "flower"
              }
            ]
          },
          {
            "Expect string:": "You aren't wearing that!"
          },
          {
            "Comment:": "Wear the flower again:"
          },
          {
            "Wearing agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "flower"
              }
            ]
          },
          {
            "Expect string:": "You put on the flower."
          },
          {
            "Say:": {
              "RenderTemplate:": "The flower's newg: {the: {parentOf: .flower}}, {.flower.possessiveness}."
            }
          },
          {
            "Expect string:": "The flower's newg: you, worn."
          },
          {
            "Say:": {
              "RenderTemplate:": "The knife's parent: {the: {parentOf: .knife}}, {.knife.possessiveness}."
            }
          },
          {
            "Expect string:": "The knife's parent: you, not_worn."
          },
          {
            "Comment:": "Fail to wear an unwearable:"
          },
          {
            "Wearing agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "knife"
              }
            ]
          },
          {
            "Expect string:": "It isn't something you can put on."
          },
          {
            "Say:": {
              "RenderTemplate:": "The knife's parent: {the: {parentOf: .knife}}, {.knife.possessiveness}."
            }
          },
          {
            "Expect string:": "The knife's parent: you, not_worn."
          },
          {
            "Say:": {
              "RenderTemplate:": "The purse's parent: {the: {parentOf: .purse}}, {.purse.possessiveness}."
            }
          },
          {
            "Expect string:": "The purse's parent: the Kitchen, not_worn."
          },
          {
            "Comment:": "Fail to wear something not held:"
          },
          {
            "Wearing agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "purse"
              }
            ]
          },
          {
            "Expect string:": "You haven't got that!"
          },
          {
            "Comment:": "Fail to remove something not held:"
          },
          {
            "Removing agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "purse"
              }
            ]
          },
          {
            "Expect string:": "You haven't got that!"
          },
          {
            "Comment:": "Fail to put on something not reachable:"
          },
          {
            "Wearing agent:noun:": [
              {
                "FromTxt:": "player"
              },
              {
                "FromTxt:": "purse"
              }
            ]
          },
          {
            "Expect string:": "You haven't got that!"
          },
          {
            "Say:": {
              "RenderTemplate:": "The purse's parent: {the: {parentOf: .purse}}, {.purse.possessiveness}."
            }
          },
          {
            "Expect string:": "The purse's parent: the Kitchen, not_worn."
          }
        ]
      ]
    }
  ]
}
