{
  "Tapestry:": [
    {
      "Event:action:args common:": [
        "wear",
        "wearing",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "wearing",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanHandle actor:action:noun:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "wearing"
                          },
                          {
                            "FromText:": "@noun"
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Print:": "@resp"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Send:event:": [
                            {
                              "Capture obj:": {
                                "FromText:": "@noun"
                              }
                            },
                            {
                              "StateChange actor:noun:trait:guard:change:": [
                                {
                                  "FromText:": "@actor"
                                },
                                {
                                  "FromText:": "@noun"
                                },
                                {
                                  "FromText:": "worn"
                                },
                                {
                                  "FromText:": "wearable"
                                },
                                {
                                  "FromText:": "put on"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Event:action:args common:": [
        "remove",
        "removing",
        {
          "CommonAction:": "object"
        }
      ]
    },
    {
      "Pattern:provides:rules:": [
        "removing",
        [
          {
            "Text:kind:initially:": [
              "actor",
              "actor",
              {
                "Object:field:": [
                  "@agent",
                  "pawn"
                ]
              }
            ]
          }
        ],
        [
          {
            "PatternRule:does:": [
              {
                "IsPlayer obj:": {
                  "FromText:": "@actor"
                }
              },
              [
                {
                  "If:from:and:does:else:": [
                    "resp",
                    {
                      "FromText:": {
                        "CanHandle actor:action:noun:": [
                          {
                            "FromText:": "@actor"
                          },
                          {
                            "FromText:": "removing"
                          },
                          {
                            "FromText:": "@noun"
                          }
                        ]
                      }
                    },
                    {
                      "Not:": {
                        "Is empty:": "@resp"
                      }
                    },
                    [
                      {
                        "Print:": "@resp"
                      }
                    ],
                    {
                      "ElseDo does:": [
                        {
                          "Send:event:": [
                            {
                              "Capture obj:": {
                                "FromText:": "@noun"
                              }
                            },
                            {
                              "StateChange actor:noun:trait:guard:change:": [
                                {
                                  "FromText:": "@actor"
                                },
                                {
                                  "FromText:": "@noun"
                                },
                                {
                                  "FromText:": "not worn"
                                },
                                {
                                  "FromText:": "wearable"
                                },
                                {
                                  "FromText:": "take off"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    },
    {
      "--": ""
    },
    {
      "Comment:": "Can only remove what's worn. ( This isn't perfectly symmetrical with can only wear possessions, and that's okay. ) "
    },
    {
      "Pattern:rules:": [
        "state changing",
        [
          {
            "PatternRule:does:": [
              {
                "AllTrue:": [
                  {
                    "Cmp:is:txt:": [
                      "@trait",
                      "equal_to",
                      "not worn"
                    ]
                  },
                  {
                    "Cmp:is:txt:": [
                      "@actor",
                      "other_than",
                      {
                        "WearerOf obj:": {
                          "FromText:": "@noun"
                        }
                      }
                    ]
                  }
                ]
              },
              [
                {
                  "Set:from:": [
                    "@result",
                    {
                      "FromText:": {
                        "Print response:with:": [
                          "can only remove what's worn",
                          {
                            "Say:": "{We:|capitalize!} aren't wearing {those:.noun}!"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            ]
          }
        ]
      ]
    }
  ]
}
