{
  "Tapestry:": [
    {
      "--": [
        "Mildred and the table are in the room.",
        "The basket is on the table.",
        "The apple is in the basket.",
        "Mildred is carrying the scalpel and wearing the pen."
      ],
      "TestScene:requires:story:": [
        "whereabouts",
        "thingaverse",
        [
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:": "Mildred"
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "actor"
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "table"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "supporter"
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "lab"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "room"
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "basket"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "container"
                ]
              }
            ]
          },
          {
            "Nouns:depict:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "scalpel"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "an",
                    {
                      "Noun:": "empire apple"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "a",
                    {
                      "Noun:": "pen"
                    }
                  ]
                }
              ],
              {
                "Kind:named:": [
                  "isa",
                  "prop"
                ]
              }
            ]
          },
          {
            "Nouns:relateTo:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "table"
                    }
                  ]
                },
                {
                  "Noun:": "Mildred"
                }
              ],
              {
                "NounRelation areBeing:relation:otherNouns:": [
                  "are",
                  "whereabouts",
                  [
                    {
                      "Noun:named:": [
                        "the",
                        {
                          "Noun:": "lab"
                        }
                      ]
                    }
                  ]
                ]
              }
            ]
          },
          {
            "--": ""
          },
          {
            "Nouns:relateTo:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "basket"
                    }
                  ]
                }
              ],
              {
                "NounRelation areBeing:relation:otherNouns:": [
                  "is",
                  "whereabouts",
                  [
                    {
                      "Noun:named:": [
                        "the",
                        {
                          "Noun:": "table"
                        }
                      ]
                    }
                  ]
                ]
              }
            ]
          },
          {
            "--": ""
          },
          {
            "Nouns:relateTo:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "scalpel"
                    }
                  ]
                },
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "pen"
                    }
                  ]
                }
              ],
              {
                "NounRelation areBeing:relation:otherNouns:": [
                  "are",
                  "whereabouts",
                  [
                    {
                      "Noun:": "Mildred"
                    }
                  ]
                ]
              }
            ]
          },
          {
            "--": ""
          },
          {
            "Nouns:startAs:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "pen"
                    }
                  ]
                }
              ],
              {
                "NounTraits:trait:": [
                  "is",
                  [
                    "worn"
                  ]
                ]
              }
            ]
          },
          {
            "--": ""
          },
          {
            "Nouns:relateTo:": [
              [
                {
                  "Noun:named:": [
                    "the",
                    {
                      "Noun:": "apple"
                    }
                  ]
                }
              ],
              {
                "NounRelation areBeing:relation:otherNouns:": [
                  "is",
                  "whereabouts",
                  [
                    {
                      "Noun:named:": [
                        "the",
                        {
                          "Noun:": "basket"
                        }
                      ]
                    }
                  ]
                ]
              }
            ]
          }
        ]
      ]
    },
    {
      "TestRule:does:": [
        "whereabouts",
        [
          {
            "Say:": {
              "RenderTemplate:": [
                "Mildred's parent is {the: {parentOf: .Mildred}}.",
                "The basket's parent is {the: {parentOf: .basket}}.",
                "Mildred is in {the: {CurrentRoom: .Mildred}}.",
                "The scalpel is in {the: {CurrentRoom: .scalpel}}.",
                "{The: {locationOf: .basket}|capitalize!} encloses the basket.",
                "{The: {locationOf: .apple}|capitalize!} encloses the apple.",
                "{The: {containerOf: .apple}|capitalize!} contains the apple.",
                "{The: {containerOf: .basket}|capitalize!} contains the basket.",
                "{The: {supporterOf: .apple}|capitalize!} supports the apple.",
                "{The: {supporterOf: .basket}|capitalize!} supports the basket.",
                "The basket's parent: {name_of: {parentOf: .basket}}.",
                "The scalpel's parent: {name_of: {parentOf: .scalpel}}.",
                "{The: {holderOf: .pen}|capitalize!} owns the pen.",
                "{The: {carrierOf: .pen}|capitalize!} carries the pen.",
                "{The: {carrierOf: .scalpel}|capitalize!} carries the scalpel.",
                "The pen is in {the: {wearerOf: .pen}}'s pocket.",
                "The scalpel is worn by: {name_of: {wearerOf: .scalpel}}.",
                ""
              ]
            }
          },
          {
            "Say:": {
              "RenderTemplate:": "The common ancestor of the pen and itself: {name_of: {common_ancestor: .pen .pen}}."
            }
          },
          {
            "Say:": {
              "RenderTemplate:": "The common ancestor of the pen and a sibling: {name_of: {common_ancestor: .pen .scalpel}}."
            }
          },
          {
            "Say:": {
              "RenderTemplate:": "The common ancestor of the sibling and a pen: {name_of: {common_ancestor: .scalpel .pen}}."
            }
          },
          {
            "Say:": {
              "RenderTemplate:": "The common ancestor of the pen and its owner: {name_of: {common_ancestor: .Mildred .pen}}."
            }
          },
          {
            "Say:": {
              "RenderTemplate:": "The common ancestor of the pen's owner and the pen: {name_of: {common_ancestor: .pen .Mildred}}."
            }
          },
          {
            "Expect lines:": [
              "Mildred's parent is the lab.",
              "The basket's parent is the table.",
              "Mildred is in the lab.",
              "The scalpel is in the lab.",
              "The table encloses the basket.",
              "The basket encloses the apple.",
              "The basket contains the apple.",
              "The  contains the basket.",
              "The  supports the apple.",
              "The table supports the basket.",
              "The basket's parent: table.",
              "The scalpel's parent: Mildred.",
              "Mildred owns the pen.",
              "The  carries the pen.",
              "Mildred carries the scalpel.",
              "The pen is in Mildred's pocket.",
              "The scalpel is worn by: .",
              "The common ancestor of the pen and itself: pen.",
              "The common ancestor of the pen and a sibling: Mildred.",
              "The common ancestor of the sibling and a pen: Mildred.",
              "The common ancestor of the pen and its owner: Mildred.",
              "The common ancestor of the pen's owner and the pen: Mildred."
            ]
          }
        ]
      ]
    }
  ]
}
