body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  line-height: 1.3;
  text-align: center;
  color: #222;
}
textarea {
  /* Inherit text color from body avoiding illegible text in the case where the
  * user has inverted the browsers custom text and background colors. */
  color: inherit;
}
pre,
code {
  font-family: Menlo, monospace;
  font-size: 0.875rem;
}
pre {
  line-height: 1.4;
  overflow-x: auto;
}
pre .comment {
  color: #006600;
}
pre .highlight,
pre .highlight-comment,
pre .selection-highlight,
pre .selection-highlight-comment {
  background: #FFFF00;
}
pre .selection,
pre .selection-comment {
  background: #FF9632;
}
pre .ln {
  color: #999;
  background: #efefef;
}
.ln {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Ensure 8 characters in the document - which due to floating
   * point rendering issues, might have a width of less than 1 each - are 8
   * characters wide, so a tab in the 9th position indents properly. See
   * https://github.com/webcompat/web-bugs/issues/17530#issuecomment-402675091
   * for more information. */
  display: inline-block;
  width: 8ch;
}

a,
.exampleHeading .text,
.expandAll {
  color: #375EAB;
  text-decoration: none;
}
a:hover,
.exampleHeading .text:hover,
.expandAll:hover {
  text-decoration: underline;
}
.article a {
  text-decoration: underline;
}
.article .title a {
  text-decoration: none;
}

.permalink {
  display: none;
}
:hover > .permalink {
  display: inline;
}

p, li {
  max-width: 50rem;
  word-wrap: break-word;
}
p,
pre,
ul,
ol {
  margin: 1.25rem;
}
pre {
  background: #EFEFEF;
  padding: 0.625rem;
  border-radius: 0.3125rem;
}

h1,
h2,
h3,
h4,
.rootHeading {
  margin: 1.25rem 0 1.25rem;
  padding: 0;
  color: #375EAB;
  font-weight: bold;
}
h1 {
  font-size: 1.75rem;
  line-height: 1;
}
h1 .text-muted {
  color:#777;
}
h2 {
  font-size: 1.25rem;
  background: #E0EBF5;
  padding: 0.5rem;
  line-height: 1.25;
  font-weight: normal;
  overflow: auto;
  overflow-wrap: break-word;
}
h2 a {
  font-weight: bold;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  overflow: auto;
  overflow-wrap: break-word;
}
h3,
h4 {
  margin: 1.25rem 0.3125rem;
}
h4 {
  font-size: 1rem;
}
.rootHeading {
  font-size: 1.25rem;
  margin: 0;
}

h2 > span,
h3 > span {
  float: right;
  margin: 0 25px 0 0;
  font-weight: normal;
  color: #5279C7;
}

dl {
  margin: 1.25rem;
}
dd {
  margin: 0 0 0 1.25rem;
}
dl,
dd {
  font-size: 0.875rem;
}
div#nav table td {
  vertical-align: top;
}

#pkg-index h3 {
  font-size: 1rem;
}
.pkg-dir {
  padding: 0 0.625rem;
}
.pkg-dir table {
  border-collapse: collapse;
  border-spacing: 0;
}
.pkg-name {
  padding-right: 0.625rem;
}
.alert {
  color: #AA0000;
}

.top-heading {
  float: left;
  padding: 1.313rem 0;
  font-size: 1.25rem;
  font-weight: normal;
}
.top-heading a {
  color: #222;
  text-decoration: none;
}

#pkg-examples h3 {
  float: left;
}

#pkg-examples dl {
  clear: both;
}

.expandAll {
  cursor: pointer;
  float: left;
  margin: 1.25rem 0;
}

div#topbar {
  background: #E0EBF5;
  height: 4rem;
  overflow: hidden;
}

div#page {
  width: 100%;
}
div#page > .container,
div#topbar > .container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25rem;
}
div#topbar > .container,
div#page > .container {
  max-width: 59.38rem;
}
div#page.wide > .container,
div#topbar.wide > .container {
  max-width: none;
}
div#plusone {
  float: right;
  clear: right;
  margin-top: 0.3125rem;
}

div#footer {
  text-align: center;
  color: #666;
  font-size: 0.875rem;
  margin: 2.5rem 0;
}

div#menu > a,
input#search,
div#learn .buttons a,
div.play .buttons a,
div#blog .read a,
#menu-button {
  padding: 0.625rem;

  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3125rem;
}
div#playground .buttons a,
div#menu > a,
input#search,
#menu-button {
  border: 0.0625rem solid #375EAB;
}
div#playground .buttons a,
div#menu > a,
#menu-button {
  color: white;
  background: #375EAB;
}
#playgroundButton.active {
  background: white;
  color: #375EAB;
}
a#start,
div#learn .buttons a,
div.play .buttons a,
div#blog .read a {
  color: #222;
  border: 0.0625rem solid #375EAB;
  background: #E0EBF5;
}
.download {
  width: 9.375rem;
}

div#menu {
  text-align: right;
  padding: 0.625rem;
  white-space: nowrap;
  max-height: 0;
  -moz-transition: max-height .25s linear;
  transition: max-height .25s linear;
  width: 100%;
}
div#menu.menu-visible {
  max-height: 31.25rem;
}
div#menu > a,
#menu-button {
  margin: 0.625rem 0.125rem;
  padding: 0.625rem;
}
::-webkit-input-placeholder {
  color: #7f7f7f;
  opacity: 1;
}
::placeholder {
  color: #7f7f7f;
  opacity: 1;
}
#menu .search-box {
  display: inline-flex;
  width: 8.75rem;
}

#menu-button {
  display: none;
  position: absolute;
  right: 0.3125rem;
  top: 0;
  margin-right: 0.3125rem;
}
#menu-button-arrow {
  display: inline-block;
}
.vertical-flip {
  transform: rotate(-180deg);
}

div.left {
  float: left;
  clear: left;
  margin-right: 2.5%;
}
div.right {
  float: right;
  clear: right;
  margin-left: 2.5%;
}
div.left,
div.right {
  width: 45%;
}

div#learn,
div#about {
  padding-top: 1.25rem;
}
div#learn h2,
div#about {
  margin: 0;
}
div#about {
  font-size: 1.25rem;
  margin: 0 auto 1.875rem;
}
div#gopher {
  background: url(/doc/gopher/frontpage.png) no-repeat;
  background-position: center top;
  height: 9.688rem;
  max-height: 200px; /* Setting in px to prevent the gopher from blowing up in very high default font-sizes */
}
a#start {
  display: block;
  padding: 0.625rem;

  text-align: center;
  text-decoration: none;
  border-radius: 0.3125rem;
}
a#start .big {
  display: block;
  font-weight: bold;
  font-size: 1.25rem;
}
a#start .desc {
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  margin-top: 0.3125rem;
}


@supports (--c: 0) {
  [style*="--aspect-ratio-padding:"] {
    position: relative;
    overflow: hidden;
    padding-top: var(--aspect-ratio-padding);
  }

  [style*="--aspect-ratio-padding:"]>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.toggleButton { cursor: pointer; }
.toggle > .collapsed { display: block; }
.toggle > .expanded { display: none; }
.toggleVisible > .collapsed { display: none; }
.toggleVisible > .expanded { display: block; }

table.codetable { margin-left: auto; margin-right: auto; border-style: none; }
table.codetable td { padding-right: 0.625rem; }
hr { border-style: none; border-top: 0.0625rem solid black; }

h2 { clear: right; }


#heading-narrow {
  display: none;
}


@media (max-width: 58.125em) {
  #heading-wide {
    display: none;
  }
  #heading-narrow {
    display: block;
  }
}

@media (max-width: 47.5em) {
  .container .left,
  .container .right {
    width: auto;
    float: none;
  }

  div#about {
    max-width: 31.25rem;
    text-align: center;
  }
}

@media (min-width: 43.75em) and (max-width: 62.5em) {
  div#menu > a {
    margin: 0.3125rem 0;
    font-size: 0.875rem;
  }

  input#search {
    font-size: 0.875rem;
  }
}

@media (max-width: 43.75em) {
  body {
    font-size: 0.9375rem;
  }

  div#playground {
    left: 0;
    right: 0;
  }

  pre,
  code {
    font-size: 0.866rem;
  }

  div#page > .container {
    padding: 0 0.625rem;
  }

  div#topbar {
    height: auto;
    padding: 0.625rem;
  }

  div#topbar > .container {
    padding: 0;
  }

  #heading-wide {
    display: block;
  }
  #heading-narrow {
    display: none;
  }

  .top-heading {
    float: none;
    display: inline-block;
    padding: 0.75rem;
  }

  div#menu {
    padding: 0;
    min-width: 0;
    text-align: left;
    float: left;
  }

  div#menu > a {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  #menu .search-box {
    display: flex;
    width: 100%;
  }

  #menu-button {
    display: inline-block;
  }

  p,
  pre,
  ul,
  ol {
    margin: 0.625rem;
  }

}

@media (max-width: 30em) {
  #heading-wide {
    display: none;
  }
  #heading-narrow {
    display: block;
  }
}

@media print {
  pre {
    background: #FFF;
    border: 0.0625rem solid #BBB;
    white-space: pre-wrap;
  }
}
